.category-wall {
	
}

	.category-wall > div > div {
		padding-top: 0px;
		text-align: center;
	}
		
		
		.category-wall ul {
			list-style: none;
			margin: 0px;
			padding: 5px 0px 0px 0px;
		}
			
			.category-wall ul li a,
			.more-link {
				display: block;
				text-align: left;
				border-bottom: 1px solid #e6e6e6;
				padding: 3px 0px;
			}
			
				.more-link {
					border-bottom: none;
				}
				
@media (max-width: 767px) {
	.responsive .category-wall > div > div {
		padding-top: 20px;
	}
}
