﻿@font-face {
    font-family: AvenirNextCyr;
    src: url(../fonts/AvenirNextCyr-Regular.otf);
}

@font-face {
    font-family: AvenirNextCyr-Bold;
    src: url(../fonts/AvenirNextCyr-Bold.otf);
}

@font-face {
    font-family: AvenirNextCyr-mediumitalic;
    src: url(../fonts/AvenirNextCyr-MediumItalic.otf);
}

@font-face {
    font-family: AvenirNextCyr-Demi;
    src: url(../fonts/AvenirNextCyr-Demi.otf);
}

@font-face {
    font-family: AvenirNextCyr-Medium;
    src: url(../fonts/AvenirNextCyr-Medium.otf);
}

html, body{
    font-family: AvenirNextCyr;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 240px;
  color: #333;
}

@media (max-width: 991px) {
    body{
      margin-bottom: 440px;
    }    
}

@media (min-width: 1200px){
    .container {
        width: 970px !important;
    }
}
/* Page header start */

/* Header top bar start */
.toppest {
    background: url(../images/layout/topbar.jpg) repeat-y left top;
    width: 100%;
    min-height: 38px;
    box-shadow: 0px 5px 0px 0px #deded8;
}

.toppest a:link, .toppest a:visited, .toppest a:hover, .toppest a:active {
    color: #FFF;
    text-decoration: none;
}

.langs a:link, .langs a:visited, .langs a:active, .langs .active {
    padding: 3px 5px;
    margin: 5px 0;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

.langs a:hover {
    border: 1px solid #d4c6b4;
    color: #d4c6b4;
}

.langs .active{
    color: #a88d69;
    border-color: #a88d69;
}
.toppest .search {
    white-space: nowrap;
}

.toppest .search input, button {
    margin: 0;
    border: none;
}

.toppest .search input[type="text"], .toppest .search button[type="button"] {
    color: #FFF;
    min-height: 30px;
}

.langs, .toppest .search input[type="text"], .toppest .search button[type="button"] {
    margin: 4px 0;
}

.toppest .search input[type="text"]::-webkit-input-placeholder {color:#FFF;}
.toppest .search input[type="text"]::-moz-placeholder          {color:#FFF;}/* Firefox 19+ */
.toppest .search input[type="text"]:-moz-placeholder           {color:#FFF;}/* Firefox 18- */
.toppest .search input[type="text"]:-ms-input-placeholder      {color:#FFF;}

.toppest .search input[type="text"] {
    font-family: AvenirNextCyr-mediumitalic;
    color: #FFF;
    max-width: 250px;
    width: 100%;
    height: 29px;
    padding-right: 23px;
    padding-left: 11px;
    border-radius: 20px 8px 8px 20px;
    background-color: #a88d69;
}

.toppest .search button[type="button"] {
    background-color: #856f52;
    margin-left: -22px;
    margin-top: 1px;
    border-radius: 30px;
    min-height: 30px;
    padding: 0px 8px;
    border: none;
}
#middle-header {
    margin-bottom: 20px;
}
#user-links {
    text-align: right;
    padding: 8px;
}

#user-links a {
    padding-left: 10px;
    padding-right: 10px;
}

#user-links>a:first-child{
    padding: 0;
}

#user-links a#garaj {
    background-color: #a88d69;   
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 10px;
}


.langs {
        margin-top: 8px;
}

/* Small devices */
@media (max-width: 767px) {  
    
    #user-links, .toppest .search, .langs {
        margin-top: 10px;
        text-align: center;
    }
    
    .toppest .search input[type="text"] {
        width: 200px;
    }
    
    #user-links a:last-child {
        padding-top: 8px;
    }
}

/* Header top bar end */
/* Header Logo part start */

#mascot {
    margin: auto;
}

#logo, #mascot {
    margin-right: -25px;
    margin-top: 30px;
}
#contacts {
    font-family: AvenirNextCyr-Medium;
    height: 120px;
    margin: 30px 0;
    text-align: right;
}

#contacts .work-hours, #contacts .adress, .phone  a:link, .phone  a:visited, .phone  a:hover, .phone a:active {
    font-size: 16px;
    display: block;
    color: #000;
}

.SNbar {
    position: absolute;
    bottom: -40px;
    right: 16px;
}

.SNbar img {
    margin: 0 8px;
}

.SNbar img:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
        #contacts {
            height: 80px;
    }
}

/* Small devices */
@media (max-width: 767px) {
    #logo {
        margin: auto;
        margin-top: 30px;
    }
    #contacts {
        height: 20px;
        text-align: center;
    }
    .SNbar {
        position: inherit;
        text-align: center;
        margin-bottom: 30px;
    right: 0;
    }
}

/* */
.lemon-nav{
    margin-bottom: 279px;
}

@media (max-width: 991px) {
    .navbar-nav>li>.dropdown-menu{
        display: none;
    }
    #mycon{
            padding: 0;
            width: 100%;
        background-color: lightgray;
    }
    #mycon div:first-child{
        background-color: #669999;
    }
    .navbar-nav {
        margin: 0;
        border-bottom: 2px solid darkgray;
    }
    .nav>li{
        text-align: center;
    }
    .lemon-nav{
        margin-bottom: 10px;
    }
    .navbar-nav a:link, .navbar-nav  a:visited, .navbar-nav  a:hover, .navbar-nav a:active{
        color: #000 !important;
        font-size: 16px;
    }
    .navbar-default .navbar-nav>.open>a{
        background-color: darkgray !important;
    }
}
@media (max-width: 767px) {
    .navbar-nav {
        margin: 0;
    }
    #mycon {
            padding: 0 15px;
    }
}

.navbar .active {
        background-color: #496e6e;
}


.navpic {
    margin-top: 12px;
    margin-right: 30px;
    float: right;
}

.navbar-nav {
    padding: 0 0.33%;
    font-size: 15px;
}

.navbar-nav>li {
    font-family: AvenirNextCyr-Medium;    
}

.nav>li>a {
    padding-left: 14px;
    padding-right: 14px;
}

ul.navbar-nav:hover {
    background-color: #528583;
}

.navbar-nav span.glyphicon {
    padding-right: 3px;
}

.navbar {
    border-radius: 0px !important;
}

.dropdown-header {
    padding-left: 0;
}

.navbar .active a:link, .navbar .active a:hover, .navbar .active a:focus, .navbar .active a:active, .navbar .active a:visited {
    color:#FFF !important;
}
/* */

/* Header Logo-part end */

.btn-block {
    width: initial;
    margin-right: -20px;
}

.btn-block button, .btn-block button:hover, .btn-block button:active, .btn-block button:focus {
    background-color: unset;
    color: #FFF;
    padding: 0; 
    font-size: 14px;
}
.toolbar .open>.dropdown-menu {
    margin: 15px -26px;
    width: 500px;
}

#account-drop .open>.dropdown-menu {
    margin: 15px 0;
    width: 150px !important;
}


.toolbar .dropdown-menu  a:link, .dropdown-menu  a:visited , .dropdown-menu  a:hover  ,.dropdown-menu  a:active  {
   color: #000 !important;
}

.list-inline {
    display: -webkit-inline-box;
    display: -moz-box;
    margin: 0;
}

@media (max-width: 991px) {
    .list-inline {
        margin-left: -24px;
    }
    .btn-block {
    float: right;
    margin-right: 0;
    }
    #user-links a#garaj {
    padding-bottom: 11px;
    }
}

@media (max-width: 767px) {
    #user-links a#garaj {
    padding-bottom: 9px;
    }

    .list-inline {
        float: left;
    }
}
/* Page header end */

/* Page body styles start */
.up {
    text-align: center;
}

.up span {
    letter-spacing: 2px;
    background-color: #e6e6e6;
}

.up a:link, .up  a:visited, .up a:hover, .up a:active{
    color: #999;
    text-decoration: none;
    font-family: AvenirNextCyr-Medium;
    padding: 15px;
    background-color: #e6e6e6;
}

footer {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    background: url(../images/layout/topbar.jpg) repeat-y left top;
    width: 100%;
    min-height: 40px;
    text-align: center;
    color: #FFF;
    padding-left: 130px;
}

.our-logo{
    float: right;
    padding-right: 12px;
    padding-top: 10px;
}

@media (max-width: 500px) {
	footer {
	    padding-left: 10px;
	}
}


@media (max-width: 410px) {
    .our-logo{
        float: inherit;
    }
}

.our-logo a:link, .our-logo a:visited, .our-logo a:hover{
    color: #FFF;
    text-decoration: none;
}

.buttom-logos {
    background-color: #e3e3e3;
}

.buttom-logos img {
    margin: auto;
}

.catalog .title {
    padding-left: 3px;
    font-family: AvenirNextCyr-Demi;
    font-size: 26px;
}
.catalog .sort {
    font-size: 18px;
    margin-top: 10px;
    float: right;
    letter-spacing: 1px;
}
.catalog #title-block {
    padding: 10px 10px 10px;
    background-color: #e5e5e5;
    color: #999;
}
/* Page body styles end */

/* Catalog styles start */
#product-in-cat {
    background-image: url('../images/layout/triangle.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

.filter-title a:hover, .filter-title a:link, .filter-title a:visited, .filter-title a:active {
    color: #FFF;
    text-decoration: none;
}

.filter-title {
    padding: 5px 5px;
    padding-left: 9px;
    background-color: #a4a4a4;
    font-family: AvenirNextCyr-Medium;
    border-bottom: 1px solid #7e7e7e;
}

.filter-list {
    border-top: 5px solid #CCC;
    list-style: none;
    padding-left: 9px;
    padding-top: 5px;
    background-color: #e5e5e5;
    margin-bottom: 0;
        display: none;
}

#submit-f {
    /*text-align: center;*/
    padding-bottom: 15px;
}

#submit-f button, .form-group button, .buttons a, .buttons a:hover, #collapse-coupon input[type="button"], #collapse-coupon input[type="button"]:hover,
#collapse-voucher input[type="submit"], #collapse-voucher input[type="submit"]:hover, .clearfix input[type="button"], .clearfix input[type="button"]:hover,
.buttons input[type="button"]:hover, .buttons input[type="button"], .buttons input[type="submit"]:hover, .buttons input[type="submit"] {
    box-shadow: 0px 5px 0px 0px #CCC;
    color: #FFF;
    padding: 8px 10px;
    background-color: #B38E67;
    border: none;
}

#button-filter {
    width: 100%;
}

#submit-f button, .form-group button, .buttons a, .buttons a:hover {
        margin-top: 10px;
        padding: 10px 15px;
        font-family: AvenirNextCyr-Medium;
        border-radius: 0;
}

#submit-f button:hover, #product button:hover {
    background-color: #856f52;
}

.form-group button:focus, .form-group button:active, .buttons a:active, .buttons a:focus, #collapse-coupon input[type="button"]:focus, #collapse-coupon input[type="button"]:active,
#collapse-voucher input[type="submit"]:active, #collapse-voucher input[type="submit"]:focus,
.clearfix input[type="button"]:active, .clearfix input[type="button"]:focus, .buttons input[type="button"]:focus, .buttons input[type="button"]:active {
     box-shadow: 0px 5px 0px 0px #deded8;
    color: #FFF;
    background-color: #B38E67 !important;
    border: none;
}

.price {
    background-color: #e5e5e5;
}

.catalog-items img {
    margin-bottom: 10px;
}

.catalog-items div > div:first-child {
    margin-bottom: 10px;
    background-color: #E7E7E7;
}

.catalog-items div > .description {
    padding: 5px 10px 5px 5px;
}

.productName {
       height: 40px;
    overflow: hidden;
}
/* Catalog styles end */

   ul#shop_rek li:first-child {
    background-image: url('../images/layout/hours.png');
    background-repeat: no-repeat;
    background-position: 0% 25%;
    margin-right: 65px;
   }
    ul#shop_rek li:nth-child(2) {
    background-image: url('../images/layout/adress.png');
    background-repeat: no-repeat;
    background-position: 0% 25%;
    margin-right: 20px;
   }
    ul#shop_rek li:nth-child(3) {
    background-image: url('../images/layout/mail.png');
    background-repeat: no-repeat;
    background-position: 0% 45%;
    margin-right: 73px;ß
   }
    ul#shop_rek li:last-child {
    background-image: url('../images/layout/phone.png');
    background-repeat: no-repeat;
    background-position: 0% 45%;
    margin-right: 0px;
   }

    ul#shop_rek li {
    padding-left: 35px;
    margin-left: -35px;
    list-style: none;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 15px;    
    display: inline-block;
    max-width: 288px;
    margin-right: 50px;
    }

    ul#shop_rek li.shopP {
        margin-right: 67px;    
    }

    #map {
        margin-top: 20px;
    }


#product_char{
    background-color: #e6e6e6;
    padding: 18px;
}

#product_char h3{
    margin: 0;
 font-family: AvenirNextCyr-Medium;
}


#product-attrs {
    border: none;
    margin: auto;
    margin-bottom: 15px;
}

#product-attrs tr>td:first-child {
    text-align: right;
    color: #828282;
}

#product-attrs tr>td:last-child {
    padding-left: 10px;
    text-align: left;
}

.atr_name {
    color: #8a8a8a;
    width: 170px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.thumb_click:hover {
    cursor: pointer;
}

#rel_prod_text {
    font-family: AvenirNextCyr-Medium;
    background-color: #FFF;
    margin-bottom: 0px;
    display: table;
    margin: auto;
    margin-bottom: -9px;
    padding: 0 15px;
    color: #666;
}

.caption {
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    height: 50px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.caption h4 {
    text-align: center;
}

.transition .price {
    font-family: AvenirNextCyr-demi;
    font-size: 19px;
    color: #B38E67;
}

.transition p, .button-group, .caption h4 {
    margin: 0;
    background-color: #e5e5e5;
}

.image img {
    margin: auto;
}


.form-group button {
    margin: auto;
    border: none;
    border-radius: 0;
}

.form-group button:hover {
    background-color: #B38E67;
}

#input-limit {
    float: right;
    width: 65px;
        margin-right: 16px;
}

#title-block label {
    margin-right: 5px;
    padding-top: 6px;
}

.filter .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.input_title {
    color: #666;
    padding-left: 3px;
}

.description a:link, .description a:hover, .description a:focus, .description a:active, .description a:visited,
#shop_rek a:visited, #shop_rek a:active, #shop_rek a:focus, #shop_rek a:hover, #shop_rek a:link {
    text-decoration: none;
    color: #666;
    font-family: AvenirNextCyr-Demi;
}

#shop_rek a:visited, #shop_rek a:active, #shop_rek a:focus, #shop_rek a:hover, #shop_rek a:link {
    text-decoration: underline;
}

#product-in-cat>div {
    padding-left: 13px;
    padding-right: 13px;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse ul:last-child {
    border-bottom: none;
    padding-right: 5px;
    padding-left: 5px;
}

.price-title {
    display: block;
    font-size: 20px;
    color: #a88d69;
    font-family: AvenirNextCyr-Demi;
}

iframe#youtubeProd {
    width: 100%;
}


@media (max-width: 767px) {
    iframe {
    height: 270px;
    }
}

label {
    font-weight: normal;
}

#cart button {
    width: 100%;
    margin-top: -3px;
}

@media (max-width: 767px) {
    #cart button {
        margin-top: -3px;
    }
}

.imgs img{
    padding: 5px;
    margin: auto;
}

.imgs img:first-child {
    padding-left: 0;
}

.imgs img:first-child {
    padding-right: 0;
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
    border: 2px solid transparent;
}

.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active  {
    background-color: #496e6e !important;
}

.navbar-collapse {
    border: none;
}

#rel-prod .price, #rel-prod .button-group, #product_char .price-title {
    text-align: center;
}

#rel-prod{
    margin-top: 5px;
    margin-bottom: 15px;
}

.glyphicon-remove-circle {
        top: 12px;
        right: 8px;
        font-size: 24px;
    }

@media (max-width: 991px) {
    .glyphicon-remove-circle {
        top: 0;
    }
}

@media (max-width: 716px) {
    .glyphicon-refresh {
        top: -14px;
        left: 5px;
    }
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #669999;
    border-color: #669999;
}

.pagination>li>a, .pagination>li>span {
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    font-family: AvenirNextCyr-Demi !important;
    font-weight: 300px;
    color: #666;
}

.sort-link:link, .sort-link:visited, .sort-link:focus, .sort-link:active, .sort-link:hover{
    color: #669999;
    text-decoration: underline;
    font-family: AvenirNextCyr-Medium;
}

#recom-block {
    padding: 10px;
    padding-top: 0;
    min-height: 100px;
}


@media (max-width: 991px) {
    #recom-block {
        min-height: 110px;
    }
}

#recom-block h4 {
    font-size: 16px;
    text-align: center;
    height: 40px;
}

#recom-block a:link, #recom-block a:visited, #recom-block a:focus, #recom-block a:active, #recom-block a:hover {
    color: #666;
    text-decoration: none;
}

#recom-block .price{
    text-align: center;
    font-size: 16px;
    color: #a88d69;
    font-family: AvenirNextCyr-Demi;
}

#recom-block .price span{
    display: block;
}

#recom-block .price span.price-old {
    text-decoration: line-through;
    font-size: 14px;
}

#recom-block .price span.price-new {
    font-size: 19px;
}

.discount-square {
    height: 25px;
    width: 45px;
    padding: 3px;
    background-color: #D8492A;
    position: absolute;
    opacity: 0.8;
    left: 15px;
    color: #FFF;
    text-align: center;
    font-family: AvenirNextCyr-Medium;
}

@media (max-width: 991px) {
    #slider-row {
        padding-left: 0px;
    }
}


@media (max-width: 321px) {
    #slider-row {
        padding-left: 0;
        margin-left: -11px;

    }
}

#accordion a{
    font-family: AvenirNextCyr-Medium;
}

#checkout-order table {
    width: 100%;
}

#checkout-order tr > td:first-child {
    width: 50%;
}

@media(max-width: 767px){
    .glyphicon-home {
        color: #666;
    } 
}

.active .glyphicon-home {
    color: #FFF;
}

.catalog-items>div {
    padding: 0;
}

.catalog-items div > div:first-child {
    margin-bottom: 0 !important;
}

/*
#product-in-cat {
    background-image: none;
}
*/

footer {
    padding-left: 0;
    padding-top: 0;
    }

#footer-menu {
    padding: 0;
    margin: 0;
}

#footer-menu-main {
    background: url(../images/layout/topbar2.jpg) repeat-y left top;
    padding-top: 30px;
}

#footer-menu>div {
    padding: 0;
}

#footer-menu ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

#footer-menu ul li a {
    color: inherit;
}

#footer-menu ul li:first-child a, #title-links ul li a {
    text-decoration: underline;
    line-height: 2;
    font-size: 120%;
}


#footer-name {    
    padding-top: 10px;
    padding-left: 125px;
    padding-bottom: 10px;
    display: inline-block;
}

@media (max-width: 410px) {
    #footer-name {   
    padding-left: 0;    
    }
    body {
        margin-bottom: 450px;
    }
}