/*@font-face {*/
/*    font-family: AvenirNextCyr;*/
/*    src: url(../fonts/AvenirNextCyr-Regular.otf);*/
/*}*/

/*@font-face {*/
/*    font-family: AvenirNextCyr-Bold;*/
/*    src: url(../fonts/AvenirNextCyr-Bold.otf);*/
/*}*/



/*@font-face {*/
/*    font-family: Raleway;*/
/*    src: url(../fonts/Raleway.otf);*/
/*}*/

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

/*@font-face {*/
/*    font-family: Raleway-light;*/
/*    src: url(../fonts/RALEWAY-LIGHT.TTF);*/
/*}*/

/*@font-face {*/
/*    font-family: Raleway-thin;*/
/*    src: url(../fonts/RALEWAY-THIN.TTF);*/
/*}*/

@font-face {
    font-family: Raleway-Semibold;
    src: url(../fonts/Raleway-SemiBold.ttf);
    
}
/*
@font-face {
    font-family: Raleway-Semibold;
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
        url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
*/

/*@font-face {*/
/*    font-family: Raleway-Semibolditalic;*/
/*    src: url(../fonts/Raleway-SemiboldItalic.otf);*/
/*}*/

/*@font-face {*/
/*    font-family: NerisBlack;*/
/*    src: url(../fonts/Neris-Black.otf);*/
/*}*/

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: Raleway-Medium-Italic;
    src: url(../fonts/Raleway-MediumItalic.ttf);
}


html, body{
    font-family: Raleway;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}

html {
  position: relative;
  min-height: 100%;
}

body{
  /*margin-bottom: 258px;*/
  color: #333;
}

@media (max-width: 1199px) {
    body {
        /*margin-bottom: 248px;*/
    }
}

@media (max-width: 991px) {
    body{
      /*margin-bottom: 564px; */
    }    
}

@media (min-width: 1200px){
/*    .container {
        width: 970px !important;
    }*/
}
/* Page header start */

/* Header top bar start */

/*body a:hover {*/
/*    color: #A88D69 !important;*/
/*}*/

.buttons .agree,
.buttons .agree:hover,
.buttons .agree:focus {
	display: inline;
	background: none !important;
	color: #666;
	font-weight: 600;
	padding: 0;
}

[id^="ymaps"] {
	width: 100% !important;
}

#garaj:hover {
    color: #000 !important;
}

.addition-map {
    margin-bottom: 25px;
}

.filter-checkbox {
    display:none;
}
.filter-checkbox:not(.filter-disabled) + label span, .filter-title,
.filter-checkbox:not(.filter-disabled) + label:before {
    cursor:pointer;
}
.filter-checkbox + label:before {
    content: url(../images/layout/checkbox_new/checkbox.svg);
    display:inline-block;        
    vertical-align: middle;
    width: 14px;
    height: 20px;
}
.filter-checkbox:checked + label:before {
    content: url(../images/layout/checkbox_new/checkbox_mark.svg);
}
.filter-disabled + label>.input_title {
    color: #bbb;
}

.filter-checkbox.filter-disabled + label:before {
    content: url(../images/layout/checkbox_new/checkbox_unactive.svg);
}

.filter-checkbox.filter-disabled:checked + label:before {
    content: url(../images/layout/checkbox_new/checkbox_unactive_mark.svg);
}


.col-xs-7.col-sm-6.col-md-9.col-lg-9.text-right {
	padding-top: 17px !important;
}

.sales {
	position: relative;
    /*margin-bottom: 35px;*/
}

.sales .prev, .sales .next {	
	position: absolute;
	bottom: 50%;
	z-index: 1;
	margin-bottom: -36px;
	display: inline-block;	
	font-size: 50px;
	cursor: pointer;
}

.sales .prev {
    left: 10px;
}
.sales .next {
    right: 10px;
}
.sales .prev span,
.sales .next span {
    display: none;
}
.sales .next:before {
    content: url('../images/layout/slider/slider_arrow_right.svg');
}
.sales .prev:before {
    content: url('../images/layout/slider/slider_arrow_left.svg');
}

.sales .next:not(.disabled):hover:before {
    content: url('../images/layout/slider/slider_arrow_right_hover.svg');
}
.sales .prev:not(.disabled):hover:before {
    content: url('../images/layout/slider/slider_arrow_left_hover.svg');
}

.sales .next.disabled:before {
    content: url('../images/layout/slider/slider_arrow_right_unactive.svg');
}
.sales .prev.disabled:before {
    content: url('../images/layout/slider/slider_arrow_left_unactive.svg');
}

.owl-carousel-main .owl-dots {
    width: 100%;
    /*position: absolute;*/
    /*bottom: -35px;*/
    text-align: center;
    margin: 15px 0px;
    height: 20px;
}

.owl-carousel-main .owl-dot {
	display: inline-block;
	margin: 0 5px;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	background-color: #d4d4d4;
}


.owl-carousel-main .owl-dot:not(.active):hover {
	background-color: #aaa;
}

.owl-carousel-main .owl-dot.active {	
	background-color: #a88d69;
	cursor: default;
}

.container.main.catalog {
	background-color: #fff;
}

.container-main-wrapper {
	background-color: #fff;
	margin:0px;
	padding: 0px;
	width: 100%;
}

/*header {*/
/*	background-color: #fff;*/
/*}*/

.rekv {
	margin-top: 15px;
    text-align: center;
}
#scene {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 380px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	#scene {
    	height: 150px;
	}
}

.fixedbackground {
    
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    height: inherit;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.fixedbackground img:not(.img-background) {
    margin: auto;
}
.img-background {
    width: 140vw;
    margin-left: -10vw;
    margin-top: -10vw;
}
@media (max-width: 767px) {
    .img-background {
        width: 200vw;
        margin-left: -10vw;
        margin-top: -10vw;
    }
}

/*@media (max-width: 1199px) {  
	.fixedbackground {
		background-attachment: scroll;
	}
}*/

.toppest {
    background: url(../images/layout/topbar.jpg) repeat-y left top;
    width: 100%;
    min-height: 38px;
    box-shadow: 0px 5px 0px 0px #deded8;
}

.toppest a:link, .toppest a:visited, .toppest a:hover, .toppest a:active {
    color: #FFF;
    text-decoration: none;
}

.langs a:link, .langs a:visited, .langs a:active, .langs .active {
    padding: 3px 5px;
    margin: 5px 0;
    border: 1px solid #FFF;
    /*border-radius: 5px;*/
    margin-left: 5px;
    vertical-align: middle;
}

.langs a:hover {
    border: 1px solid #d4c6b4;
    color: #d4c6b4;
}

.langs .active{
    color: #a88d69;
    border-color: #a88d69;
}
.search {
    white-space: nowrap;
}

.search input, button {
    margin: 0;
    border: none;
}

.search input[type="text"], .search button[type="button"] {
    color: #FFF;
    min-height: 30px;
}

.langs, .search input[type="text"], .search button[type="button"] {
    margin: 4px 0;
}

.search input[type="text"]::-webkit-input-placeholder, {color:#a88d69;}
.search input[type="text"]::-moz-placeholder          {color:#a88d69;}/* Firefox 19+ */
.search input[type="text"]:-moz-placeholder           {color:#a88d69;}/* Firefox 18- */
.search input[type="text"]:-ms-input-placeholder      {color:#a88d69;}
.search input[type="text"]::placeholder     {color:#a88d69;}

.search input[type="text"] {
    font-family: Raleway;
    font-style: italic;
    color: #FFF;
    /*max-width: 250px;*/
    width: 100%;
    height: 30px;
    padding-right: 35px;
    padding-left: 0px;
    border-radius: 20px;
    /*background-color: #a88d69;*/
    position: relative;
    color: #a88d69;
}

.search button[type="button"] {
    background-color: #856f52;
    /*margin-left: -30px;*/
/*    margin-top: 4px;*/
	/*margin: 15px 0;*/
    border-radius: 30px;
    height: 30px;
    width: 30px;
    /*padding: 15px 0;*/
    padding: 0;
    border: none;
    position: absolute;
    bottom: 10px;
}
#middle-header {
    margin-bottom: 30px;
}
#user-links {
    text-align: right;
    padding: 8px;
}

#user-links a {
    padding-left: 10px;
    padding-right: 10px;
}

#user-links>a:first-child{
    padding: 0;
}

#user-links a#garaj {
    background-color: #a88d69;   
    padding-top: 11px;
    padding-bottom: 14px;
    margin-left: 10px;
    display: inline-block;
    margin: 0;
    margin-bottom: -8px;
    margin-top: -13px;
}

.toolbar {
    padding-top: 1px;
}

.langs {
        margin-top: 8px;
}

/* Small devices */
@media (max-width: 767px) {  
    
    #user-links, .search, .langs {
        margin-top: 10px;
        text-align: center;
    }
    
    .search input[type="text"] {
        width: 200px;
    }
    
    #user-links a:last-child {
        padding-top: 8px;
    }
}

/* Header top bar end */
/* Header Logo part start */

#mascot {
    margin: auto;
}
@media (max-width: 1199px) {
    #logo, #mascot {
        margin-right: -25px;
        margin-top: 30px;
    }
}
#logo, #mascot {    
    margin-right: 0px;
    margin-top: 30px;
}
#contacts {
    font-family: Raleway-Semibold;
    height: 120px;
    margin: 30px 0;
    text-align: right;
}

#contacts .work-hours, #contacts .adress, .phone  a:link, .phone  a:visited, .phone  a:hover, .phone a:active {
    font-size: 16px;
    display: block;
    color: #000;
}

.SNbar {
    position: absolute;
    bottom: -50px;
    right: 16px;
}

.SNbar img {
    margin: 0 8px;
}

.SNbar img:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
        #contacts {
            height: 80px;
    }
}

/* Small devices */
@media (max-width: 767px) {
    #logo {
        margin: auto;
        margin-top: 30px;
    }
    #contacts {
        height: 50px;
        text-align: center;
    }
    .SNbar {
        position: inherit;
        text-align: center;
        margin-bottom: 30px;
    	right: 0;
    }
    /*.row.catalog-items {*/
    /*    margin-left: 0px;*/
    /*}*/
}

/* */
.lemon-nav{
    /*margin-bottom: 279px;*/
}

@media (max-width: 991px) {
    /*.navbar-nav>li>.dropdown-menu{*/
    /*    display: none;*/
    /*}*/
    #mycon{
            padding: 0;
            width: 100%;
        background-color: lightgray;
    }
    #mycon div:first-child{
        background-color: #A88D69;
        z-index: 2;
    }
    /*.navbar-nav {*/
    /*    margin: 0;*/
    /*    border-bottom: 2px solid darkgray;*/
    /*}*/
    .nav>li{
        text-align: center;
    }
    .lemon-nav{
        /*margin-bottom: 10px;*/
    }
    .navbar-nav a:link, .navbar-nav  a:visited, .navbar-nav  a:hover, .navbar-nav a:active{
        font-size: 14px;
    }
    .navbar-default .navbar-nav>.open>a{
        background-color: darkgray !important;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 0;
    }
    #mycon {
            padding: 0 15px;
    }
}

.navbar .about-etc-menu > .active {
        /*background-color: #A88D69;*/
            /*border: 2px solid black;*/
}


.navpic {
    margin-top: 23px;
    margin-right: 30px;
    float: right;
}

.navbar-nav {
    padding: 0 0.33%;
    font-size: 15px;
}

.navbar-nav>li {
    font-family: Raleway-Semibold;    
    line-height: 25px;
}

.nav>li>a {
    padding-left: 13px;
    padding-right: 13px;
}
@media (min-width: 1200px) {
    .nav>li>a {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/*ul.navbar-nav:hover>li>a, ul.navbar-nav:hover {*/
/*    background-color: #BEA98E;*/
/*    color: #fff !important;*/
/*}*/
/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {*/
/*    background-color: #A88D69;*/
/*    color: #fff !important;*/
/*}*/

.navbar-nav span.glyphicon {
    padding-right: 3px;
}

.navbar {
	/*border-top: 2px solid #A88D69;*/
 /*   border-radius: 0px !important;*/
}

.dropdown-header {
    padding-left: 0;
}

.navbar .active a:link, .navbar .active a:hover, .navbar .active a:focus, .navbar .active a:active, .navbar .active a:visited {
    /*color:#FFF !important;*/
}
/* */

/* Header Logo-part end */

.btn-block {
    width: initial;
    margin-right: -20px;
}

.btn-block button, .btn-block button:hover, .btn-block button:active, .btn-block button:focus {
    background-color: unset;
    color: #FFF;
    padding: 0; 
    font-size: 14px;
}
.toolbar .open>.dropdown-menu {
    margin: 15px -26px;
    width: 500px;
}

#account-drop .open>.dropdown-menu {
    margin: 15px 0;
    width: 150px !important;
}
#account-drop {
    padding-right: 0;
}
#account-drop>ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}

.toolbar .dropdown-menu  a:link, .dropdown-menu  a:visited , .dropdown-menu  a:hover  ,.dropdown-menu  a:active  {
   color: #000 !important;
}

.list-inline {
    display: -webkit-inline-box;
    display: -moz-box;
    margin: 0;
}

@media (max-width: 991px) {
    .list-inline {
        margin-left: -24px;
    }
    .btn-block {
    float: right;
    margin-right: 0;
    }
    #user-links a#garaj {
    padding-bottom: 11px;
    }
}

@media (max-width: 767px) {
    #user-links a#garaj {
    padding-bottom: 9px;
    }

    .list-inline {
        margin-left: 0px;
    }

    .list-inline {
        float: left;
    }
}
/* Page header end */

/* Page body styles start */
.up {
    text-align: center;
        display: block;
    width: 76px;
    margin: auto;
    margin-bottom: 45px;
}

.up a:link, .up  a:visited, .up a:hover, .up a:active{
    
}

.up img {
    margin: 15px auto 15px;
}

footer {
    padding-top: 10px;
    /*position: absolute;*/
    bottom: 0;
    background: url(../images/layout/topbar.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 240px;
    text-align: center;
    color: #FFF;
    padding-left: 130px;
}

.our-logo{
    float: right;
    padding-right: 12px;
    padding-top: 10px;
}

@media (max-width: 500px) {
	footer {
	    padding-left: 10px;
	}
}

@media (max-width: 410px) {
	footer {
	    /*bottom: -15px;*/
	}
}


@media (max-width: 410px) {
    .our-logo{
        float: inherit;
        margin-bottom: 10px;
    }
    .buttom-logos {
        /*height: 25vw;*/
    }
    .up {
        margin-bottom: 35px;
    }
    #contact-page + .up,
    .rekv + .up {
        margin-bottom: 40px;
    }

}

.our-logo a:link, .our-logo a:visited, .our-logo a:hover{
    color: #FFF;
    text-decoration: none;
}

.buttom-logos {
    background-color: #e2e2e2;
    margin-bottom: -25px;
}

.buttom-logos img {
    margin: auto;
}

.catalog .title {
    padding-left: 0px;
    font-family: Raleway-Bold;
    color: #000;
    font-size: 36px;
}
.catalog .sort {
    font-size: 18px;
    margin-top: 10px;
    float: right;
    letter-spacing: 1px;
}
.catalog #title-block {
    padding: 10px 10px 10px 0px;
    /*background-color: #e5e5e5;*/
    color: #999;
}
/* Page body styles end */

/* Catalog styles start */
#product-in-cat {
	    text-align: center;
/*    background-image: url('../images/layout/triangle.png');
    background-position: right bottom;
    background-repeat: no-repeat;*/
}

.filter-title a:hover, .filter-title a:link, .filter-title a:visited, .filter-title a:active {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.filter-title {
    padding: 10px 0px;
    /*padding-left: 0px;*/
    background-color: #a4a4a4;
    font-family: "Raleway-Bold";
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    color: black;
    position: relative;
}

.filter-list {
    /*border-top: 5px solid #CCC;*/
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    background-color: white;
    margin-bottom: 0;
        display: none;
}

#submit-f {
    /*text-align: center;*/
    padding-bottom: 15px;
}

#submit-f button, .form-group button, .buttons a, .buttons a:hover, #collapse-coupon input[type="button"], #collapse-coupon input[type="button"]:hover,
#collapse-voucher input[type="submit"], #collapse-voucher input[type="submit"]:hover, .clearfix input[type="button"], .clearfix input[type="button"]:hover,
.buttons input[type="button"]:hover, .buttons input[type="button"], .buttons input[type="submit"]:hover, .buttons input[type="submit"] {
    /*box-shadow: 0px 5px 0px 0px #CCC;*/
    color: #FFF;
    padding: 8px 10px;
    background-color: #A88D69;
    border: none;
}


#submit-f {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#submit-f button, .form-group button, .buttons a, .buttons a:hover {        
        padding: 10px 30px;
        font-family: Raleway-Semibold;
        border-radius: 0;
        margin: auto;
        box-shadow: none;
}

#submit-f button:hover, #product button:hover {
    background-color: #856f52;
}

.form-group button:focus, .form-group button:active, .buttons a:active, .buttons a:focus, #collapse-coupon input[type="button"]:focus, #collapse-coupon input[type="button"]:active,
#collapse-voucher input[type="submit"]:active, #collapse-voucher input[type="submit"]:focus,
.clearfix input[type="button"]:active, .clearfix input[type="button"]:focus, .buttons input[type="button"]:focus, .buttons input[type="button"]:active {
     /*box-shadow: 0px 5px 0px 0px #deded8;*/
    color: #FFF;
    background-color: #A88D69 !important;
    border: none;
}

.price {
    /*background-color: #e5e5e5;*/
    margin-top: 9px !important;
}

.catalog-items img {
    margin-bottom: 10px;
}

.category-description, .category-description + *, .category-description + * * {
    font-size: 21px !important;
}


#product-in-cat>a .img-responsive, .featured-item a img,
.row-fresh .product-thumb .image a .img-responsive {
    transition: 0.2s;
}

#product-in-cat>a:hover .img-responsive,
.row-fresh .product-thumb .image a:hover .img-responsive {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.catalog-items div > div:first-child {
    margin-bottom: 10px;
/*    background-color: #E7E7E7;*/
}

.catalog-items div > .description {
    padding: 5px 10px 5px 5px;
}

.productName {
       height: 40px;
    overflow: hidden;
}
/* Catalog styles end */

   ul#shop_rek li:first-child {
    background-image: url('../images/layout/hours.svg');
    background-repeat: no-repeat;
    background-position: 0% 42%;
    margin-right: 65px;
   }
    ul#shop_rek li:nth-child(2) {
    background-image: url('../images/layout/adress.svg');
    background-repeat: no-repeat;
    background-position: 0% 41%;
    margin-right: 20px;
   }
    ul#shop_rek li:nth-child(3) {
    background-image: url('../images/layout/mail.svg');
    background-repeat: no-repeat;
    background-position: 0% 29%;
    margin-right: 73px;ß
   }
    ul#shop_rek li:last-child {
    background-image: url('../images/layout/phone.svg');
    background-repeat: no-repeat;
    background-position: 0% 26%;
    margin-right: 0px;
   }

    ul#shop_rek li {
    padding-left: 35px;
    margin-left: -35px;
    list-style: none;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 15px;    
    display: inline-block;
    max-width: 288px;
    margin-right: 50px;
    }

    ul#shop_rek li.shopP {
        margin-right: 67px;    
    }

    #map {
        margin-top: 20px;
    }


#product_char{
    /*background-color: #e6e6e6;*/
    /*padding: 18px;*/
}
#product_char hr {
    border-color: #ccc;
}
#product_char h3, #product_char h1{
    margin: 0;
    font-family: Raleway-Bold !important;
    font-size: 24px;
}
#product_char p, #product_char span, #product_char div {
    /*font-family: Raleway-Bold;*/
    font-size: 32px
    line-height: 20px !important;
    margin: 0 0 10px 0 !important;
    color: #333;
}

#product_char .price-title {
    display: block !important;
    font-size: 28px !important;
    color: #a88d69 !important;
    font-family: Raleway-Bold !important;
    font-variant-numeric: lining-nums !important;    
    -moz-font-feature-settings:"lnum" 1 !important; 
    -moz-font-feature-settings:"lnum=1" !important; 
    -ms-font-feature-settings:"lnum" 1 !important; 
    -o-font-feature-settings:"lnum" 1 !important; 
    -webkit-font-feature-settings:"lnum" 1 !important; 
    font-feature-settings:"lnum" 1 !important;
    margin-bottom: 30px !important;
}
/*#product_char .price-title.safari {*/
/*    font-family: NerisBlack !important;*/
/*}*/
#product_char h2 {
    margin-top: 10px;
}
#product_char h2 span, #product_char h2 div, #product_char h2 p {
    font-family: Raleway-semibold !important;
    font-size: 20px !important;
}

#product_char h4 {
    line-height: 20px !important;
    margin: 20px 0 10px 0 !important;
    font-size: 14px !important;
    text-transform: uppercase; 
}

#product-attrs {
    border: none;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    color: #000;
    width: 100%;
}

#product-attrs tr {
    border-bottom: 2px solid #ccc;    
}

#product-attrs td {
    padding: 10px 0;
}

#product-attrs tr>td:first-child {
    text-align: left;    
    width: 48%;
}

#product-attrs tr>td:last-child {
    padding-left: 10px;
    text-align: left;
}

.atr_name {
    color: #8a8a8a;
    width: 170px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.thumb_click:hover {
    cursor: pointer;
}

#rel_prod_text {
    font-size: 20px;
    font-family: Raleway-Semibold;
    background-color: #FFF;
    margin-bottom: 0px;
    display: table;
    margin: auto;
    margin-bottom: -9px;
    padding: 0 15px;
    color: #666;
}

.caption {
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    height: 50px;
    overflow: hidden;
    /*background-color: #e5e5e5;*/
}

.caption h4 {
    text-align: center;
}

.transition .price {
    font-family: Raleway;
    font-size: 19px;
    color: #A88D69;
}

.transition p, .button-group, .caption h4 {
    margin: 0;
    /*background-color: #e5e5e5;*/
}

.image img {
    margin: auto;
}


.form-group button {
    margin: auto;
    border: none;
    border-radius: 0;
}

.form-group button:hover {
    background-color: #A88D69;
}

#input-limit {
    float: right;
    width: 65px;
        margin-right: 16px;
}

#title-block label {
    margin-right: 5px;
    padding-top: 6px;
}

.filter .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    position: absolute;
    top: 11px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*margin-right: 5px;*/
    right: 0;
    color: #999999;
}

.filter .glyphicon.glyphicon-triangle-bottom {
	color: #A88D69;
}

.input_title {
    color: #666;
    padding-left: 10px;
    
}

.description a:link, .description a:hover, .description a:focus, .description a:active, .description a:visited,
#shop_rek a:visited, #shop_rek a:active, #shop_rek a:focus, #shop_rek a:hover, #shop_rek a:link {
    text-decoration: none;
    color: #666;
    font-family: Raleway-Semibold;
}

#shop_rek a:visited, #shop_rek a:active, #shop_rek a:focus, #shop_rek a:hover, #shop_rek a:link {
    text-decoration: underline;
}

#product-in-cat>div {
    padding-left: 13px;
    padding-right: 13px;
}

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse ul:last-child {
    border-bottom: none;
    padding-right: 5px;
    padding-left: 5px;
    border: 0px;
}

.price-title {
    display: block;
    font-size: 20px;
    color: #a88d69;
    font-family: Raleway-Bold;
    font-variant-numeric: lining-nums; 
    -moz-font-feature-settings:"lnum" 1;
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1;
    -o-font-feature-settings:"lnum" 1 ;
    -webkit-font-feature-settings:"lnum" 1;
    font-feature-settings:"lnum" 1;
}
/*.price-title.safari {*/
/*    font-family: NerisBlack !important;*/
/*}*/

.price-old, .price-new {
	font-family: Raleway-Bold;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1;
    -moz-font-feature-settings:"lnum=1";
    -ms-font-feature-settings:"lnum" 1 ;
    -o-font-feature-settings:"lnum" 1;
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;
}
/*.price-old.safari, .price-new.safari {*/
/*    font-family: NerisBlack*/
/*}*/

iframe#youtubeProd {
    width: 100%;
}


@media (max-width: 767px) {
    iframe {
    height: 270px;
    }
}

label {
    font-weight: normal;
}

/*#cart button {*/
/*    width: 120%;*/
/*    margin-top: -3px;*/
/*}*/

/*@media (max-width: 767px) {*/
/*    #cart button {*/
/*        margin-top: -3px;*/
/*    }*/
/*}*/

.row.imgs {
    margin-left: 0px;
}

.row.imgs>div {
    padding-left: 0px;
}

.imgs img{
    width: 100%;
    padding: 5px;
    margin: auto;
}

.imgs img:first-child {
    padding-left: 0;
}

.imgs img:first-child {
    padding-right: 0;
}

.navbar-toggle {
    float: left;
    margin-left: 10px;
    border: 2px solid transparent;
}

.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active  {
    background-color: #A88D69 !important;
}

.navbar-collapse {
    border: none;
}

#rel-prod .price, #rel-prod .button-group, #product_char .price-title {
    text-align: center;
}

#rel-prod{
    margin-top: 5px;
    margin-bottom: 15px;
}

.glyphicon-remove-circle {
        top: 12px;
        right: 8px;
        font-size: 24px;
    }

@media (max-width: 991px) {
    .glyphicon-remove-circle {
        top: 0;
    }
}



@media (max-width: 991px) {
    .glyphicon-refresh {
        top: 12px;
        left: 5px;
    }
}


@media (max-width: 540px) {
    .glyphicon-refresh {
        top: 22px;
        left: 5px;
    }
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-radius: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: none;
    border: none;
    color: #B28D67;
    font-size: 28px;
    font-family: Raleway-semibold;
}
.pagination>li>a, .pagination>li>span {
/*    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;*/
    border: none;
    background: none;
    color: #989898;
    font-size: 28px;
    font-family: Raleway-semibold;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway !important;
    font-weight: 300px;
    color: #666;
}

.sort-link:link, .sort-link:visited, .sort-link:focus, .sort-link:active, .sort-link:hover{
    color: #A88D69;
    text-decoration: underline;
    font-family: Raleway-Semibold;
}

.sort-link.sort-active, .sort-link.sort-active:hover {
    color: #666 !important;
}

.sort-active.sort-DESC:before {
    text-decoration: none !important;
    content: ' ∨  ';
}

.sort-active.sort-ASC:before {
    text-decoration: none !important;
    content: ' ∧  ';
}

#recom-block {
    padding: 10px;
    padding-top: 0;
    min-height: 100px;
}


@media (max-width: 991px) {
    #recom-block {
        min-height: 110px;
    }
}

#recom-block h4 {
    font-size: 16px;
    text-align: center;
    height: 40px;
}

#recom-block a:link, #recom-block a:visited, #recom-block a:focus, #recom-block a:active, #recom-block a:hover {
    color: #666;
    text-decoration: none;
}

#recom-block .price{
    text-align: center;
    font-size: 16px;
    color: #a88d69;
    font-family: Raleway;
}

#recom-block .price span{
    display: block;
}

#recom-block .price span.price-old {
    text-decoration: line-through;
    font-size: 14px;
}

#recom-block .price span.price-new {
    font-size: 19px;
}

.discount-square {
    height: 25px;
    width: 45px;
    padding: 3px;
    background-color: #D8492A;
    position: absolute;
    opacity: 0.8;
    /*left: 15px;*/
    color: #FFF;
    text-align: center;
    font-family: Raleway-Semibold;
}

.featured-item>div {
    background-color: #fff !important;
}

@media (max-width: 991px) {
    #slider-row {
        padding-left: 0px;
    }
}


@media (max-width: 321px) {
    #slider-row {
        padding-left: 0;
        margin-left: -11px;
    }
}

#accordion a{
    font-family: Raleway-Semibold;
}

#checkout-order table {
    width: 100%;
}

#checkout-order tr > td:first-child {
    width: 50%;
}

@media(max-width: 767px){
/*    .glyphicon-home {
        color: #666;
    } */
}

.active .glyphicon-home {
    color: #FFF;
}

.catalog-items>div {
    padding: 0;
    padding-right: 15px;
    padding-bottom: 15px;
}

.catalog-items div > div:first-child {
    margin-bottom: 0 !important;
}

/*
#product-in-cat {
    background-image: none;
}
*/

footer {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 1px;
    margin-top: 25px;
}

#footer-menu {
    padding: 0;
    margin: 0;
}

#footer-menu-main {
    /*background: url(../images/layout/topbar2.jpg) repeat-y left top;*/
    background: rgba(255, 255, 255, 0.08);
    padding-top: 15px;
}

#footer-menu>div {
    padding: 0;
}

#footer-menu ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

#footer-menu ul li a {
    color: inherit;
}

#footer-menu ul li:first-child a, #title-links ul li a, .footer-span {
    font-family: Raleway-Bold;    
    line-height: 2;
    font-size: 120%;
    color: #999;
}

#footer-menu ul:not(.footer-last-ul-ul) li:first-child {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    width: 90%;
    margin-bottom: 5px;
}
#footer-menu ul:not(.footer-last-ul-ul) li:not(:first-child) a {
    color: #fff;
    font-family: Raleway;
    font-size: 14px;
    line-height: 20px;
}

#footer-menu .footer-last-ul li,
#footer-menu .footer-last-ul li a
{
    border: none !important;
    color: #fff !important;
}

#footer-menu ul li:not(:first-child) {
	margin-bottom: 5px;
}


#footer-name {    
    padding-top: 10px;
    padding-left: 125px;
    padding-bottom: 10px;
    display: inline-block;
}

.visible-xs #footer-name {
	display: block;
}

@media (max-width: 410px) {
    #footer-name {   
    padding-left: 0;    
    }
    body {
        /*margin-bottom: 564px;*/
    }
}
@media (min-width: 501px) and (max-width: 600px) {
    body {
        /*margin-bottom: 358px;*/
    }
}

@media (min-width: 601px) and (max-width: 670px) {
    body {
        /*margin-bottom: 368px;*/
    }
}

@media (min-width: 671px) and (max-width: 992px) {
    body {
        /*margin-bottom: 378px;*/
    }
}

/*.owl-carousel {*/
/*    margin: 10px 0;*/
/*}*/

.gallery-item {
    padding: 1px;
}

.gallery-item img{
    border: 1px solid #ccc;
}

.gallery {
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.gal-prev, .gal-next {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 33px;
    z-index: 2;
    height:100%;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.gal-prev {
    left: 0;    
}
.gal-next {
    right: 0;
    
}
.gal-next:before,
.gal-prev:before {
    width: 27px;
    height: 50px;
} 
.gal-next:before {
    content: url('../images/layout/slider/carousel_right.svg');    
}
.gal-prev:before {
    content: url('../images/layout/slider/carousel_left.svg');
}.gal-next:hover:before {
    content: url('../images/layout/slider/carousel_right_hover.svg');    
}
.gal-prev:hover:before {
    content: url('../images/layout/slider/carousel_left_hover.svg');
}

#product_main_link img {
    margin: auto;
    margin-top: 19px;
}

@media (min-width: 1200px) {
    .brln:before {
        display: block;
        content: '\A';
    }
    #shop_rek {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }
    .contact-col {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#product_main_img,
.slider-for .img-responsive {
    width: 100%;
}

.mega-dropdown-menu ul {
    list-style-type: none;
}

/*.mega-dropdown-menu  li ul  li  a:link, .mega-dropdown-menu  li ul  li a:visited, .mega-dropdown-menu  li ul  li  a:hover, .mega-dropdown-menu  li ul  li  a:active{*/
/*    color: #333 !important;*/
/*}*/
.featured-item {
    padding-left: 0;
}
.featured {
    margin-left: 0;
}

.container.main h1 {
    font-family: Raleway-Bold !important;
    color: #000;
    font-size: 36px;
    margin: 35px 0 25px 0;
}
.cart-img {
    display: inline;
    width: 20px;
    margin-right: -5px;
    
    transition: 0.2s;
}
.filter-title {
    background-color: white;
}
.filter-title-opened {
    background-color: white;
}
#search {
    margin-top: -2px;
    display: relative;
    /*width: 550px;*/
    position: relative;
}
#search>input {
    margin: 0;
    height: 60px;
    border-radius: 0;
    font-family: Raleway;
    width: 100%;
    font-size: 22px;
}
#search button {
    background: none;
    /*transform: rotateY(180deg);*/
    /*padding-top: 10px;*/
    /*color: #a88d69;*/
    /*outline: 0;*/
    right: 0;
}
#search .search-line {
    position: absolute;
    bottom: 7px;
    left: 0;
    /*margin-left: 25px;*/
    width: 100%;
    height: 2px;
    background-color: #a88d69;
}

/*@media (max-width: 991px) {*/
/*    #search .search-line {*/
/*        width: 205px;*/
/*    }*/
/*}*/



/*@media (max-width: 470px) {*/
/*    #search {*/
/*        position: absolute;*/
/*        top: -86px;*/
/*        width: 100%;*/
/*        margin-left: -15px;*/
/*        background-color: #a88d69;*/
/*    }*/

/*    .langs {*/
/*        margin-top: 55px;*/
/*    }*/

    
/*}*/

/*@media (min-width: 471px) {*/
/*    #search input:focus {*/
/*        background-color: #856F52;*/
/*    }*/
/*}*/

.gifts-li {
    margin-top: 15px;
}
.gifts-li * {
    display: inline;
}
.gift-ico {
    margin-right: 5px;
    margin-top: -2px;
}
#button-voucher, #button-coupon {
    font-size: 13px;
}
.filter {
    margin-bottom: 25px;
}


#button-cart, #button-test {
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}
.product-payments {
    border: 2px solid #D4D4D4;
    width: 100%;    
    position: relative;
    padding: 10px;
    /*top: -50px;*/
    /*z-index: -1;*/
    /*margin-bottom: -50px;*/
}
.payments-row {
    /*margin: 45px 15px 25px;    */
    margin: 0;
}
.payments-row>div {

}
.product-payments img {
    margin: 0 auto;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 5px -2px 20px; 
}
.payments-row-min {
    margin-bottom: 10px;
}

.footer-payments {
    background-color: #fff;
    border-radius: 15px;
    padding: 0px 15px 20px;
    margin-left: -60px;
}
.footer-payments .vcenter {
    margin: 15px -2px 0px;
}
.footer-payments .vcenter img {
    margin: 0 auto;
}

.footer-payments {
    margin: 0 auto 25px;
    /*width: 270px;*/
}

#footer-payments1 {
    margin-top: 8px;
}

.button a:hover,
.form-group a:hover {
    color: #fff;
}
#main-video {
    /*margin-top: 19px;*/
}

@media (max-width: 410px) {
    .buttons>.pull-left>a.btn.btn-primary {
        margin-bottom: 50px !important;
    }
}
.map-container iframe{    
    pointer-events: none;
    border: 0px;
}
.map-container iframe.clicked{
    pointer-events: auto;
}

#cartModal .modal-dialog,
#outOfStock .modal-dialog {
    margin-top: 37vh;
}

#cartModal .modal-footer a,
#cartModal .modal-footer button,
#outOfStock .modal-footer a,
#outOfStock .modal-footer button {    
    border: 0px;
    border-radius: 0px;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #A88D69;
}

#cartModal .modal-footer a {
    float: right;
}
#cartModal .modal-footer a:hover,
#cartModal .modal-footer button:hover,
#outOfStock .modal-footer a:hover,
#outOfStock .modal-footer button:hover {
    background-color: #856F52;
    color: #fff;
}

#cartModal .modal-footer button {    
    float: left;
}
/*.buttons .pull-left a:hover,*/
/*.buttons .pull-right a:hover {*/
/*    color: #fff !important;*/
/*}*/

span.adress {
    margin-top: 10px;
}
span.adress,
span.work-hours {
    margin-right: 40px;
}
span.adress:after,
span.work-hours:after {
    position: absolute;
    margin-left: 10px;
}
span.adress:after {
    content: url('../images/layout/adress.svg');
    bottom: 31px;
}
span.work-hours:after {
    content: url('../images/layout/hours.svg');
    top: 50px;
}
@media (max-width: 1199px) {
    span.adress:after {
        bottom: 53px;
    }
    span.work-hours:after {
        top: 37px;
    }
}

@media (max-width: 992px) {
    #contacts .work-hours, #contacts .adress {
        font-size: 13px;
    }
    span.adress:after {
        bottom: 7px;
    }
    span.work-hours:after {
        top: 42px;
    }
}

@media (max-width: 767px) {
    #contacts .work-hours {
        margin-top: 15px;
    }
    #contacts .adress {
        margin-top: 22px;
    }
    span.adress:after {
        bottom: 48px;
    }
    span.work-hours:after {
        top: 60px;
    }
}

@media (max-width: 444px) {    
    span.adress:after {
        bottom: 32px;
        right: 15px;
    }
    span.work-hours:after {
        top: 60px;
        right: 15px;
    }
    #contacts {
        margin-bottom: 45px;
    }
}
.breadcrumb {
    padding-left: 0px;
    background: none;
}
.breadcrumb a {
    font-family: Raleway-Semibold;
    color: #A88D69 !important;
}
.breadcrumb>li:last-of-type>a {
    color: #000 !important;
}

.breadcrumb>li:last-of-type>a:hover {
    color: #000 !important;
    text-decoration: none;
}
.breadcrumb li:not(:last-of-type):after {
    padding: 0 0 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb li {
    display: inline;
}
.inf-breadcrumbs {
    margin-bottom: 15px;
    margin-top: 25px;
}
.container.main h1 {
    margin-top: 0px;
}

.category-all-link {
    margin: 5px 30px -15px 0px;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}
.navpic {
    margin: 23px auto 0;
    float: none;
}

#main-video {
    width: 100%;
    height: 602px;
}
@media (max-width: 1199px) {
    #main-video {        
        height: 497px;
    }   
}
@media (max-width: 991px) {
    #main-video {        
        height: 380px;
    }   
}

@media (max-width: 767px) {
    #main-video {        
        height: 270px;
    }   
}

#scroll {
    position:fixed;
    right:5vw;
    bottom:0px;
    display:none;
    z-index: 10;
}
#scroll img:hover {
    cursor:pointer;
}
@media (min-width: 500px) and (max-width: 991px) {
    #scroll {
        right: 2vw;
    }
}
#scroll.stickySafari {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    display: block;
    width: 70px;
    right: 0;
    margin-bottom: -25px;
}

.rekv {
    margin-bottom: 15px;
}


#product_char h2 {
    margin-top: 10px;
}
#product_char h2, #product_char h2 * {
    font-family: Raleway-regular !important;
    font-size: 20px !important;
    color: #000;
    font-size: 20px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-left: 0;
}
#product_char ul {
    padding-left: 15px;
}
.gallery-wrapper {
    position: relative;
}
.tablet-nav-row {
    display: none;
}
.mob-nav {
    display: none;
}
@media (max-width: 991px) {
    #middle-header>.row {
        margin-top: 52px;
    }
    .glyphicon-home {
        color: #999;
    }
    .toppest {
        display: none;
    }
    
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        box-shadow: none;
        border: none;        
    }
    header {
        /*margin-top: 52px;*/
        /*margin-bottom: 30px;*/
    }
    .desk-nav-button {
        display: none !important;
    }
    .tablet-nav-row {
        display: block;
        margin: 0;
    }    
    #main-video {
        margin-top: 0;
    }
    /*.nav.navbar-nav {*/
    /*    display: none;*/
    /*}*/
    .mob-nav {
        display: block;
        margin: 0;
        padding-top: 10px;
        background-color: #E3E3E3;
    }
    .mob-nav * {
        /*background-color: #E3E3E3 !important;*/
    }
    .navbar-default .category-header:link, .navbar-default .category-header:visited, .navbar-default .category-header:hover, .navbar-default .category-header:active {
        color: #999 !important;
        font-size: 16px;
        font-family: Raleway-semibold;
        margin-top: 10px;
        display: block;
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
        padding-top: 1px;
        padding-bottom: 1px;

    }
    .category-items {
        list-style-type: none;
        padding-left: 0 !important;
        font-family: Raleway-Medium;
        font-size: 13px;        
    }
    .category-item {
        margin-top: 5px;
        margin-bottom: 7px;
    }
    .mob-nav-item {
        font-family: Raleway-semibold;
        font-size: 18px;  
        margin: 15px 0;
        display: block;
    }
    .login-mobile, .langs-mobile {
        /*display: none;*/
    }
    .third-col-tablet>a:first-of-type {
        margin-top: 30px;
    }
}

.langs-tablet a:link, .langs-tablet a:visited, .langs-tablet a:active {
    border: 1px solid black;
}
.langs-tablet a:hover {
    color: #d4c6b4 !important;
    border: 1px solid #d4c6b4;
    text-decoration: none;
}
.langs-tablet {
    height: 52px;
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search input:focus {
    outline: none;
}
.search-tablet {
    width: 300px;
    margin: auto;
    position: relative;
}
.search-tablet>input {
    margin-top: 2px !important;
    height: 52px !important;
    padding-bottom: 12px;
    width: 300px;
    padding-right: 0;
    background: none !important;
}
.search-tablet button {    
    /*padding-top: 13px !important;*/
    margin: 0;
    right: 0;
    bottom: 2px;
}
.search-tablet .search-line {
    /*bottom: 13px !important;*/
    margin: 0 !important;
    height: 39px;
    background: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px !important;
    left: 2px !important;
    width: 295px !important;
}

.tablet-cart-container, .tablet-login-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
}
.tablet-cart-container #cart_link {
    color: #fff !important;
}
.tablet-cart-container #cart_link:hover {
    text-decoration: none;
    color: #000 !important;
}
.tablet-cart-container #cart_link span {
    color: #fff !important;
}
.tablet-cart-container #cart_link:hover span {
    color: #000 !important;
}
.tablet-cart-container>#cart>button {
    margin-top: 2px;
}

.navbar-default .login-tablet:link, .navbar-default  .login-tablet:visited, .navbar-default .login-tablet:active {
    color: #fff !important;
}
.navbar-default  .login-tablet:hover {
    color: #000 !important;
    text-decoration: none;
}

.search-mob-button {
    display: none;
}
.search-mobile-input {
    display: none;
}

.mob-cart-container {
    display: none;
}
#cart p {
    display: inline;
}

.mob-addr-open {
    display: none;
}
.logo-mobile {
    display: none;
}
@media (max-width: 767px) {
    .langs-tablet {
        display: none;
    }
    /*#scene {*/
    /*    margin: 50px 0 0 0;*/
    /*}*/
    .mob-sub-menu {
        margin: 0;
        padding: 0;
        background-color: white;
        z-index: 2;
    }
    /*.mob-sub-menu * {*/
    /*    background-color: #ccc !important;*/
    /*}*/
    .logo-desktop {
        display: none;
    }
    .logo-mobile {
        display: block;
        margin: auto;
        margin-top: 15px;
        width: 250px;
    }
    .tablet-nav-row {
        display: none;
    }
    .desk-nav-button {
        display: block !important;
    }
    .search-mob-button, .search-input-opened {
        display: block;
        float: right;
        color: #fff;
        font-size: 24px;
        margin-top: 5px;
        margin-right: 16px;
        background: none;
        width: 40px;
        height: 40px;
    }
    .search-mob-button:hover, .search-input-opened:hover {
        cursor: pointer;
    }
    .search-mobile-input {
        display: block;
        border: 0px;
        position: absolute;
        width: 100%;
        /*height: 100%;*/
        background-color: #ccc;
        outline: none;
        padding: 10px 100px 10px 25px;
        left: -100%;
        font-size: 16px;
    }
    .search-mobile-input:focus {
        left: 0;
    }

    .mob-cart-container {
        display: block;
        position: absolute;
        bottom: -30px;  
        left: 10px;      
    }
    .mob-cart-container * {
        background: none !important;
    }
    .mob-cart-container p {
        display: none !important;
    }
    .mob-cart-container span {
        margin-left: 5px;
        color: #000 !important;
    }

    #cartModal .modal-footer {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cartModal .modal-footer>button {
        margin-bottom: 25px;
    }
    #cartModal .modal-footer>* {
        width: 230px;
    }

    .langs-mobile {
        margin-top: 0px;
        margin-left: -40px;
    }

    .langs-mobile a {
        border: 1px solid #000 !important;
    }
    .login-mobile {
        /*margin: 50px 0;*/
    }
    #contacts .work-hours, #contacts .adress {
        display: none;        
    }
    .mob-addr-open {
        border: 2px solid #D4D4D4;
        display: block;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    #contacts {
        margin-bottom: 0;
    }
    .phone{
        display: block;
        background-color: #fff;
        position: absolute;
        padding: 0 2px;       
        left: 50%;
        margin-left: -81.5px;
        top: 17px;        
    }
    .SNbar {
        display: none;
    }
    #middle-header {
        margin-bottom: 15px;
    }
    .phone a {
        font-size: 20px !important;
        font-family: Raleway-bold;
    }
    .brln:before {
        display: block;
        content: '\A';
    }
    .owl-carousel {
        /*z-index: -1;*/
    }
    .login-mobile, .langs-mobile {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .mob-nav>.col-xs-6.col-sm-4 {
        /*height: 542px;*/
    }
    .mob-nav>.col-xs-6.col-sm-4.safariHeight {
        /*padding-bottom: 100px;*/
    }
}
.tablet-cart-container .cart-img {
    margin-right: 3px !important;
    padding-bottom: 2px;
}
.login-tablet-img {
    display: inline;
    width: 12px;
    margin-left: 3px;
}
.login-mobile-icon {
    width: 14px;
    margin-left: 5px;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: 1.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: 1.25s ease-in-out;
}

#nav-icon3.open span {
    background: #999;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navbar-header {
    height: 52px;
}
.animated-button-container {
    height: 52px;
    position: relative;
    width: 52px;    
    float: left;    
    background: none !important;
}
.animated-button-container>#nav-icon3 {
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -13.5px 0 0 -15px;
    background: none !important;
}
.animated-button-container,
.animated-button-container>#nav-icon3 {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.animated-button-container__background {
    background-color: #E3E3E3 !important;
    width: 52px;
    height: 52px;
    top: -54px;
    position: absolute;
    z-index: 0 !important;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.animated-button-container.open>.animated-button-container__background {
    top:0;
}
.animated-button-container.open {
    /*background-color: #E3E3E3 !important;*/
}
.animated-button-container__tablet {
    position: absolute;
    left: 0;
}
.menu-text {
    display: block;
    content: 'МЕНЮ';
    font-family: Raleway-semibold;
    color: #fff;
    font-size: 20px;
    margin-top: 12px;
    margin-left: 56px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    cursor: pointer;
}
.menu-text.open {
    /*color: #000;*/    
}
@media (min-width: 768px) and (max-width: 991px) {
    .tablet-third-col-second-sub {
        margin-top: -15px;
    }
    .tablet-third-col-first-sub {
        margin-top: 15px;
    }
}
.langs-mobile {
    margin: 25px 0 15px;
} 

@media (max-width: 485px) {
    .vcenter {
        padding: 0 1.5vw;
    }
}
.footer-payments {
    margin-top: 15px;
}
@media (min-width: 600px) {
    .footer-payments {
        width: 450px;
    }    
}
#footer-menu>div:not(.footer-last-ul) {
    height: 170px;
}
#footer-menu>div:nth-child(1),
#footer-menu>div:nth-child(2) {
    height: 100px;
}
#footer-menu>div:nth-child(3),
#footer-menu>div:nth-child(4) {
    height: 125px;
}
.navbar-collapse,
.navbar-collapse * {
    z-index: 999 !important;
}
#title-block {
    position: relative;
    z-index: 1;
}
header {
    position: relative;
    z-index: 9999;
}
.container-main-wrapper {
    /*position: relative;*/
    z-index: 1;
}
/*@media (min-width: 992px) {*/
/*    .nav.navbar-nav {*/
/*        height: 52px;*/
/*    }*/
/*}*/
@media (max-width: 767px) {
    .menu-text {
        margin-left: 66px;
    }
}
.filter-col.sticky-filter {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    z-index: 1;
    /*margin-top: -15px;*/
}
.filter-col.sticky-filter.sticky-filter-safari {
    margin-top: 0;   
}
.filter-col.sticky-filter:before,
.filter-col.sticky-filter:after {
    content: '';
    display: table;
}
.mini-dropdown .glyphicon {
    font-size: 12px;
    margin-left: 5px;
}
.mini-dropdown-menu {
    top: 52px;
    left: 50%;
    margin-left: -80px;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 9px !important;
}
@media (max-width: 1199px) {
    .mini-dropdown-menu {
        padding: 0 !important;
        left: 0;
        margin-left: -3px;
    }
}
.mini-nav {
    list-style-type: none;
    padding: 0 !important;
    margin: auto;
}
.mini-nav li {
    height: 45px;
    background-color: #fff;

    /*margin: 0;*/
    /*border-bottom: 1px solid #d4d4d4;*/
    /*box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);*/
}
/*.mini-dropdown-menu ul:first-of-type li {*/
/*    border-top: 1px solid #d4d4d4;*/
/*}*/
/*.mini-dropdown-menu ul:last-of-type li {*/
/*    border-bottom: 0;*/
/*}*/
.mini-nav a,
.mini-nav span {
    display: block;
    min-width: 200px; 
    height: 100%;
    padding-left: 30px;
    /*text-align: center;*/
    line-height: 45px;
}
.nav.navbar-nav.active .mini-nav span,
.nav.navbar-nav.active .mini-nav a:link,
.nav.navbar-nav.active .mini-nav a:active,
.nav.navbar-nav.active .mini-nav a:visited,
.mini-nav a:link,
.mini-nav a:active,
.mini-nav a:visited {
    color: #000 !important;
    font-family: Raleway-regular;
    font-size: 16px;
}
.mini-nav a:hover {
    text-decoration: none;    
}
.mini-nav.active li {
    background-color: #A88D69;
}
.nav.navbar-nav.active .mini-nav.active li span,
.nav.navbar-nav.active .mini-nav.active li a {
    color: #fff !important;
}
.nav.navbar-nav.active .mini-nav a:hover,
.nav.navbar-nav:not(.active) .mini-nav a:hover {
    background-color: #BEA98E;
    color: #fff !important;
}
.navpic {
    height: 226px;
}
.navbar-nav {
    width: calc(99% / 6);
}
.navbar-nav>li>span,
.navbar-nav>li>a {
    padding: 0;
    line-height: 52px;
    text-align: center;
}
.navbar-nav>li {
    width: 100%;
}

#footer-menu>div.footer-last-ul {
    margin-top: 10px;
}
.footer-last-ul-ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;    
    margin: 0;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer-last-ul-ul li {    
    margin: 5px 15px;
}
@media (max-width: 500px) {
    .footer-last-ul-ul li {    
        margin: 5px 40px;
    }
}
@media (max-width: 380px) {
    .footer-last-ul-ul li {    
        margin: 5px 25px;
    }
}
.hamburger {
    outline: none;
    width: 52px;
    height: 52px;
    float: left;
}
.hamburger-box {
    left: -5px;
}
.hamburger:hover {
    opacity: 1;
}
.hamburger-inner {
    margin-top: -4px;    
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    border-radius: 0;
    background-color: #fff;
}
/*.hamburger--spin.is-active .hamburger-inner,*/
/*.hamburger--spin.is-active .hamburger-inner::before,*/
/*.hamburger--spin.is-active .hamburger-inner::after {*/
/*    background-color: #999;*/
    
/*}*/
.filter-list label {
    width: 100%;
}
.underConstruction {
    color: #CCC; font-size: 400%; border-bottom: 5px solid #ccc; border-top: 5px solid #CCC;
}
@media (max-width: 600px) {    
    .underConstruction {
        font-size: 200%;
        line-height: 180%;
        border-bottom: 3px solid #ccc; 
        border-top: 3px solid #CCC;
    }
}
@media (max-width: 450px) {    
    .pagination>li>a, 
    .pagination>li>span {
        padding: 6px 8px;
    }
    #rel_prod_text {
        margin-bottom: -22px;
        width: 200px;
        text-align: center;
    }
}
@media (max-width: 370px) {    
    .pagination>li>a, 
    .pagination>li>span {
        padding: 6px 5px;
    }
}
.ui-slider .ui-slider-handle {
    width: 12px !important;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99100500;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
#preloader>* {
    margin: auto;
}

@media (min-width: 768px) and (max-width: 1199px) {
    #product_char p, #product_char span, #product_char div, #product_char table {
        font-size: 16px !important;
    }
}

.breadcrumb>li+li:before {
    content: none;
}
.breadcrumb>li {
    /*margin-right: 10px;*/
}


.langs {
    font-family: Raleway !important;
}

.langs .active {
    color: #fff;
    border-color: #fff;
}
.langs a:link, .langs a:visited, .langs a:active {    
    color: #a88d69 !important;
    border-color: #a88d69 !important;
}
.langs a:hover {
    color: #856F52 !important;
    border-color: #856F52 !important;
}
.langs-tablet.langs .active,
.langs-mobile.langs .active {
    color: #666 !important;
    border-color: #666 !important;
}
.header-scrollable {
    position: fixed;
    z-index: 9999;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%
}
.mob-sub-menu-safari {
    padding-bottom: 65px;
}

@media (max-width: 767px){
	.body-nonscrollable {
	    overflow: hidden;
	    position: relative;
	    height: 100%;
	}
}

.header-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
}
input, textarea {
    /*font-size: 16px !important;*/
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 1;
}







.zoom {
  /*max-width: 600px;*/
  overflow: hidden;
  margin-bottom: 10px;
}

.jsZoomTouch:after {
  content: 'Pinch to Zoom';
  position: absolute;
  top: 0;
  right: 0;
}

/* product page buttons psoting on mobile devices */

@media (max-width: 375px) {

  .form-group {
    display: block !important;
  }

  .form-group .btn-product, .form-group .btn-product:focus {
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .product-payments {
    top: inherit;
    margin-bottom: inherit;
  }

}


/* produc modal test block */

#close-test-modal {
  margin-bottom: 10px;
  cursor: pointer;
}

#testModal #test-modal-title{
  color: #000;
  padding: 20px 0 0;
  font-family: Raleway-Bold !important;
  font-size: 22px;
}

#testModal p {
  padding: 0 20px 20px;
}

#testModal>div {
  margin-top: 60px;
  text-align: right;
}

#testModal>div .row {
  text-align: left;
}

#test-modal-form>.test-form-first-line div{
  display: inline-block;
  width: 32%;
}

@media (max-width: 425px) {
  #test-modal-form>.test-form-first-line div{
    display: block;
    width: 100%;
  }
  #testModal>div {
    margin-top: 10px;
  }
}

#test-modal-form>div label{
  display: block;
}

#test-modal-form input,  #test-modal-form textarea{
  outline: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 5px;
  height: 30px;
}

.test-form-first-line #date{
  font-size: 13px !important;
  height: 30px;
}

#datetimepicker-img {
  top: 29px;
  right: 5px;
  height: 20px;
  position: absolute;
}

.test-form-first-line>div:last-child{
  vertical-align: top;
  position: relative;
}

.test-form-first-line,.test-form-second-line,.test-form-third-line, #test-submit {
  margin: auto;
  max-width: 434px;
}

.test-form-first-line,.test-form-second-line {
  margin-bottom: 10px;
}

.test-form-first-line input, .test-form-second-line input, .test-form-third-line textarea {
  width: 100%;
}

.test-form-second-line input, .test-form-third-line textarea {
  max-width: 425px;
}

#test-submit {
  text-align: right;
}

#test-submit button{
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #test-modal-form {
    padding: 10px;
  }

  #testModal #test-modal-title {
    padding: 10px 20px;
  }
}

@media (max-width: 436px) {
  #test-submit button{
    margin-right: 0;
  }
}

#test-modal-form  input.error {
  border: 1px solid red;
}
#test-modal-form  label.error {
  color: red;
}

/* ------- */
#access img {
    margin:auto;
    cursor: pointer;
    max-width: 160px;
}

#access a {
  color: #ccc;
}

#access div, #access img {
  margin-bottom: 35px;
  text-align: center;
}

#access img {
  margin-bottom: 15px;
}

.stiker {
  position: absolute;
  top: 25px;
  left: 10px;
}

.image-box {
  position: relative;
}

.slider-nav .slick-slide {
  border: 1px solid #ccc;
  margin: 5px;
}

.box-heading {
	padding: 10px 0px;
	margin-bottom: 5px;
	font-family: "Raleway-Bold";
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	color: black;
	position: relative;
}

.categories-list .box-category {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.categories-list .box-category a {
    cursor: pointer;
    display: block;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    white-space: normal;
    padding: 4px 0;
    width: 100%;
}


/* moved from header */
            /* Some styles for the containers */
            #slider3 {
                position: relative;
                margin-top: 23px;
                padding-top: 7px;
                width: 100%;
                height: 803px;
                margin-bottom: 40px;
                margin-left: -13px;
                min-width: 80px;
            }

            @media (max-width: 991px) {
                #slider3 {
                    margin-left: 10px;
                }

            }

            @media (max-width: 360px) {
                #slider3 {
                    margin-left: 5px;
                }

            }

            @media (max-width: 772px) {
                .thumbelina-but.vert {
                    width: 88%;
                }
            }


            #slider3 div:nth-child(2) {
                margin-top: -27px;
            }
            
            
               /* Ширина слайдера */
            #slider-price {
                width: 94%;
                margin: auto;
                margin-top: 10px;
            }
            /* Контейнер слайдера */
            .ui-slider {
                position: relative;
            }
            /* Ползунок */
            .ui-slider .ui-slider-handle {
                position: absolute;
                z-index: 2;
                width: 8px;   /* Задаем нужную ширину */
                height: 20px;  /* и высоту */
                background-color: #B38E67;
                border: 1px solid;
                cursor: pointer
            }

            .ui-slider-horizontal .ui-slider-handle {
                border-radius: 0 !important;
                border: 0;
            }
            .ui-slider .ui-slider-range {
                position: absolute;
                z-index: 1;
                font-size: .7em;
                display: block;
                border: 0;
                overflow: hidden;
            }
            /* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
            .ui-slider-horizontal {
                 height: 12px; /* задаем высоту согласно дизайна */
            }
            /* позиционируем ползунки */
            .ui-slider-horizontal .ui-slider-handle {
                top: -5px;
                margin-left: -6px;
            }
            .ui-slider-horizontal .ui-slider-range {
                top: 0;
                height: 100%;
            }
            .ui-slider-horizontal .ui-slider-range-min {
                left: 0;
            }
            .ui-slider-horizontal .ui-slider-range-max {
                right: 0;
            }
            /* оформление полосы по которой ходит ползунок */
            .ui-widget-content {
                border: 1px solid #D4D4D4;
                background: #fff;
            }
            /* оформление активного участка (между двумя ползунками) */
            .ui-widget-header {
                border: 1px solid #D4D4D4;
                background: #FFF;
            }
            /* скругление для полосы слайдера */
            .ui-corner-all {
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
}
