/*------------------------------------------------------------------
[Table of contents]

1. MegaMenu Horizontal
2. MegaMenu Mobile Heading
3. Responsive MegaMenu
-------------------------------------------------------------------*/

/* @group 1. MegaMenu Horizontal
------------------*/	

#menu {
	position: relative;
	overflow: visible;
}


	#menu .background-menu {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	
	.megaMenuToggle {
		display: none;
	}
	
	.container-megamenu, 
	.container-megamenu .container {
		padding: 0px;
	}
	
		.container-megamenu.container .container {
			width: auto !important;
		}

	.megamenu-wrapper {
		z-index: 25;
		text-align: left;
	}
	
	.megamenu-wrapper .underline {
		text-decoration: underline;
	}
	
	     #top .container .megamenu-wrapper {
	          background: none;
	          position: static;
	          padding: 0px 170px 13px 0px;
	     }
	     
	          .header-type-6 #top .container .megamenu-wrapper {
	               padding-right: 330px;
	          }
	
		ul.megamenu {	
			margin: 0px auto;
			padding: 0px;
			list-style: none;
			z-index: 0;
			opacity: 1;
			font-size: 0;
		}
		
		     #top .container .megamenu-wrapper ul.megamenu {
		          position: static;
		          padding: 24px 0px 0px 0px;
		     }
			
			ul.megamenu > li {
				display: inline-block;		
				font-family: Raleway-Semibold;
				text-align: center;
				width: calc(98.6% / 6);
				height: auto;
				padding: 15px 0px;
				margin: 0px;
				transition: background-color 0.2s, color 0s;
			}
			
			
			.open ul.megamenu > li:hover,
			ul.megamenu > li.active {
				background: #e3e3e3;
			}
                    
                    #top .container .megamenu-wrapper ul.megamenu > li {
                         margin-top: 10px;
                    }
                    
			     #top .container .megamenu-wrapper ul.megamenu > li:first-child {
			          margin-left: 0px;
			     }
			
			     ul.megamenu > li.home {
			          margin-right: 5px;
			     }
			     
				ul.megamenu > li.pull-right {
					float: right;
				}
				
				ul.megamenu > li .close-menu,
				ul.megamenu > li .open-menu {
					display: none;
				}
				
				/* @group Search */
				
				ul.megamenu > li.search {
					background: none;
				}
				
					#top ul.megamenu > li.search .search_form, ul.megamenu > li.search .search_form {
						padding: 0px;
						margin: 8px;
					}
					
						#top ul.megamenu > li.search .search_form input, ul.megamenu > li.search .search_form input {
							height: 29px;
							min-height: 29px;
							border: none;
						}
						
						ul.megamenu > li.search .button-search2 {
							top: 6px;
							right: 8px;
						}
						
				/* @end */
				
				ul.megamenu > li > a,
				ul.megamenu > li.current > span {
					display: inline-block;
					border: 2px solid transparent;
					white-space: nowrap;
					position: relative;
					color: #fff;
					font-size: 23px;
					font-family: Raleway-Bold;
					line-height: 1;
					text-align: center;
					text-decoration: none;
					transition: background-color 0.2s, color 0s;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					padding: 10px;
					cursor: pointer;
				}
				
				
				.overflow-menu.open-permanently ul.megamenu > li > a,
				.overflow-menu.open-permanently ul.megamenu > li.current > span,
				.overflow-menu.open ul.megamenu > li > a,
				.overflow-menu.open ul.megamenu > li.current > span {
					color: #000;
				}
				
				ul.megamenu > li.current  > a,
				ul.megamenu > li.current  > span,
				ul.megamenu > li > a:hover {
					border: 2px solid rgba(255,255,255,0.5);
				}
				
				.overflow-menu.open-permanently ul.megamenu > li.current > span {
					border: 2px solid #000;
				}
				
				.overflow-menu.open ul.megamenu > li > span,
				.overflow-menu.open-permanently ul.megamenu > li.active  > span,
				.overflow-menu.open ul.megamenu > li > a:hover {
					border: 2px solid transparent;
				}
				     
				     #top .container .megamenu-wrapper ul.megamenu > li > a {
				          padding: 0px;
				          height: 22px;
				     }

					ul.megamenu > li > a strong {
						font-weight: 700;
					}
					
					#top .container .megamenu-wrapper ul.megamenu > li > a {
					     color: #262626;
					}		
					
					#top .container .megamenu-wrapper ul.megamenu > li > a:hover,
					#top .container .megamenu-wrapper ul.megamenu > li.current > span, 
					#top .container .megamenu-wrapper ul.megamenu > li.active > a, 
					#top .container .megamenu-wrapper ul.megamenu > li:hover > a {
					     color: #6daca1;
					}
					
					ul.megamenu > li.current {
					
					}
					
					ul.megamenu > li > a > .fa-home {
						display: block;
						font-size: 16px;
						padding: 2px 0px 0px 0px;
					} 
					
					#top .container .megamenu-wrapper ul.megamenu > li > a > .fa-home {
					     background: url(../img/icon-home.png) top left no-repeat;
					     width: 13px;
					     height: 12px;
					     display: block;
					     margin-top: 4px;
					     padding: 0px;
					}

					     #top .container .megamenu-wrapper ul.megamenu > li > a > .fa-home:before {
					          display: none;
					     }
					
					ul.megamenu > li > a img {
						margin-right: 10px;
						height: 22px;
						vertical-align: top;
					}
					
					/* @group Description */
					
					ul.megamenu > li > a.description {
						font-size: 14px;
						padding: 10px 20px 11px 21px;
						line-height: 1;
					}
					
						ul.megamenu > li > a.description strong {
							font-size: 14px;
						}
					
						ul.megamenu > li > a.description img {
							float: left;
						}
					
						ul.megamenu > li > a.description .description {
							font-size: 11px;
							opacity: 0.9;
						}
						
						ul.megamenu > li > a.description .description-left {
							float: left;
							width: auto;
						}
						
					/* @end */
					
					/* @group Submenu */
					
					ul.megamenu > li > .sub-menu {	
						position: absolute;
						z-index: -20;
						visibility: hidden;
						right: 0;
					}
					ul.megamenu > li {
						font-size: 14px;
					}
					ul.megamenu > li > .sub-menu .subname {
						color: #828282;
						border-top: 1px solid #999999;
						border-bottom: 1px solid #999999;
						font-size: 16px;
						line-height: 1.42857143;
						padding: 3px 0;
						text-align: left;
					}
					
					
					ul.megamenu > li > .sub-menu ul {
						list-style-type: none;
						text-align: left;
						padding: 0;
						margin: 0;
					}
					
					ul.megamenu > li > .sub-menu ul li {
						line-height: 25px;
					}
					
					ul.megamenu > li > .sub-menu a {
						color: #000;
					}
					
						ul.megamenu > li.active > .sub-menu {
							z-index: 20;
							right: auto;
							top:100%;
							visibility: visible;
						}
					
						ul.megamenu > li > .sub-menu > .content {
							display: none;
						}
					
							ul.megamenu > li.active > .sub-menu > .content {
								display: block;
							}
							
							ul.megamenu > li > .sub-menu > .content > .arrow {
								display: none;
								position: absolute;
								left: 0;
								height: 1px;
							}
							
							ul.megamenu > li > .sub-menu > .content > .arrow:after {
							  display: none;
							  position: absolute;
							  margin-top: -40px;
							  margin-left: -9px;
							  display: inline-block;
							  border-right: 10px solid transparent;
							  border-bottom: 10px solid #fff;
							  border-left: 10px solid transparent;
							  content: '';
							  z-index: 30;
							}
							
						/* @group Transitions */
							
						/* @group Transition fade */
						
						ul.megamenu.fade > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.fade > li.active > .sub-menu > .content {
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition shift up */
						
						ul.megamenu.shift-up > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							margin-top: 18px;
						}
							ul.megamenu.shift-up > li.active > .sub-menu > .content {
								margin-top: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition shift down */
						
						ul.megamenu.shift-down > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							margin-top: -18px;
						}
							ul.megamenu.shift-down > li.active > .sub-menu > .content {
								margin-top: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
					     
					     /* @end */
							
						/* @group Transition shift left */
						
						ul.megamenu.shift-left > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							left: 30px;
						}
							ul.megamenu.shift-left > li.active > .sub-menu > .content {
								left: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition shift right */
						
						ul.megamenu.shift-right > li > .sub-menu > .content {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
							left: -30px;
						}
							ul.megamenu.shift-right > li.active > .sub-menu > .content {
								left: 0px;
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
							
						/* @end */
							
						/* @group Transition flipping */
						
						ul.megamenu.flipping > li > .sub-menu > .content {
							display: block;
							filter: alpha(opacity=0);
							visibility: hidden;
							opacity: 0;
							-webkit-transform-origin: 50% 0%;
							-o-transform-origin: 50% 0%;
							transform-origin: 50% 0%;
							-webkit-transform: perspective(350px) rotateX(-90deg);
							-o-transform: perspective(350px) rotateX(-90deg);
							transform: perspective(350px) rotateX(-90deg);
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.flipping > li.active > .sub-menu > .content {
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
								-webkit-transform: perspective(350px) rotateX(0deg);
								-o-transform: perspective(350px) rotateX(0deg);
								transform: perspective(350px) rotateX(0deg);
								-webkit-transition:0.2s linear 0s;
								-o-transition:0.2s linear 0s;
								transition:0.2s linear 0s;
							} 
							
						/* @end */
						
						/* @group Transition slide */
						
						ul.megamenu.slide > li > .sub-menu > .content {
							display: block;
							opacity:0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transform-origin: top;
							-moz-transform-origin: top;
							-o-transform-origin: top;
							-ms-transform-origin: top;
							transform-origin: top;
							
							-webkit-animation-fill-mode: forwards;
							-moz-animation-fill-mode: forwards;
							-ms-animation-fill-mode: forwards;
							-o-animation-fill-mode: forwards;
							animation-fill-mode: forwards;
							
							-webkit-transform: scale(1, 0);
							-moz-transform: scale(1, 0);
							-o-transform: scale(1, 0);
							-ms-transform: scale(1, 0);
							transform: scale(1, 0);
							
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.slide > li.active > .sub-menu > .content {
								-webkit-transform: scale(1, 1);
								-moz-transform: scale(1, 1);
								-o-transform: scale(1, 1);
								-ms-transform: scale(1, 1);
								transform: scale(1, 1);
								opacity:1 !important;
								filter: alpha(opacity=100) !important;
								visibility: visible !important;
							} 
							
						/* @end */
							
						/* @end */
					
						.horizontal ul.megamenu > li > .sub-menu {
							max-width: 100%;
						}
						
						     #top .container .horizontal .megamenu-wrapper ul.megamenu > li > .sub-menu {
						          padding-top: 16px;
						     }
					
						ul.megamenu li .sub-menu .content {
							padding: 20px;
							background: #e3e3e3;
							box-sizing: content-box !important;
							-moz-box-sizing: content-box !important;
							-webkit-box-sizing: content-box !important;
						}
						
							ul.megamenu .sub-menu .content > .row {
								padding-top: 20px;
								margin: 0 auto;
								max-width: 1170px;
							}
							
							ul.megamenu .sub-menu .content > .border {
								padding-top: 0px;
								/*border-bottom: 1px solid #e6e6e6;*/
							}
							
								ul.megamenu .sub-menu .content > .row:first-of-type {
									padding: 0px;
								}
                                   
                                   /* @group Text style */
                                   
                                   ul.megamenu li h3 {
                                        padding: 0px 0px 24px 0px;
                                        margin: -6px 0px 24px 0px;
                                        font-size: 23px;
                                        text-transform: uppercase;
                                        border-bottom: 2px solid #182140;
                                        display: inline-block;
                                        position: relative;
                                   }
                                   
                                   ul.megamenu li p {
                                        padding: 0px;
                                        margin: 0px;
                                        line-height: 23px;
                                   }
                                   
                                   /* @end */
                                   
                                   /* @group Product */
							
							ul.megamenu li .product {
								position: relative;
								padding: 15px;
							}
								
								ul.megamenu li .product .image {
									padding: 0px;
								}
								
									ul.megamenu li .product .image img {
                                                  display: block;
                                                  margin: 0px auto;
									}
								
								ul.megamenu li .product .name {
									padding: 20px 0px 0px 0px;
								}
								
								ul.megamenu li .product .price {
									color: #182140;
									font-size: 16px;
									font-family: Lato;
									font-weight: 800;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									padding: 0px;
									margin: 0px;
								}
								
							/* @end */

							/* @group Open Categories */
							
							ul.megamenu li .sub-menu .content .open-categories,
							ul.megamenu li .sub-menu .content .close-categories {
								display: none;
							}
							
							/* @end */
							
							/* @group Static Menu */
							
							ul.megamenu li .sub-menu .content .static-menu a.main-menu {
								font-weight: 800;
								font-size: 17px;
								color: #182140;
								text-transform: uppercase;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
							}
							
							     ul.megamenu li .sub-menu .content .static-menu a.main-menu:hover {
							          color: #6daca1;
							     }
							
							ul.megamenu li .sub-menu .content .static-menu .menu ul {
								list-style: none;
								margin: 0px;
								padding: 0px;
								line-height: 30px;
							}
							
								ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
									padding-top: 23px;
									border-top: 1px solid #e5e5e5;
									margin-top: 20px;
								}
								
								     ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li:first-child {
								          padding-top: 0px;
								          margin-top: -8px;
								          border: none;
								     }
							
								ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
									padding: 10px 0px 0px 0px;
								}
									
							/* @end */
									
							/* @group Hover Menu */
							
							ul.megamenu li .sub-menu .content .hover-menu a.main-menu {
							}
							
							     ul.megamenu li .sub-menu .content .hover-menu a.with-submenu {
							          position: relative;
							          padding-right: 30px;
							          margin-right: -30px;
							          display: block;
							          overflow: hidden;
							          -webkit-transition: all 0.2s ease-out;
							          -moz-transition: all 0.2s ease-out;
							          -o-transition: all 0.2s ease-out;
							          -ms-transition: all 0.2s ease-out;
							          transition: all 0.2s ease-out;
							     }
							     
							          ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:before {
							               display: block;
							               position: absolute;
							               top: 9px;
							               right: 30px;
							               font-family: FontAwesome;
							               cursor: pointer;
							               font-size: 9px;
							               line-height: 9px;
							               font-weight: 400;
							               -webkit-font-smoothing: antialiased;
							               -moz-osx-font-smoothing: grayscale;
							               content: "\f061";
							               color: #cecece;
							               -webkit-transition: all 0.2s ease-out;
							               -moz-transition: all 0.2s ease-out;
							               -o-transition: all 0.2s ease-out;
							               -ms-transition: all 0.2s ease-out;
							               transition: all 0.2s ease-out;
							          }
							          
							               ul.megamenu li .sub-menu .content .hover-menu li:hover > a.with-submenu:before {
							                    right: 0px;
							                    color: #6daca1;
							                    opacity: 0;
							               }
							               
							          ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:after {
							               display: block;
							               position: absolute;
							               top: 9px;
							               left: -30px;
							               font-family: FontAwesome;
							               cursor: pointer;
							               font-size: 9px;
							               line-height: 9px;
							               font-weight: 400;
							               -webkit-font-smoothing: antialiased;
							               -moz-osx-font-smoothing: grayscale;
							               content: "\f061";
							               color: #cecece;
							               -webkit-transition: all 0.2s ease-out;
							               -moz-transition: all 0.2s ease-out;
							               -o-transition: all 0.2s ease-out;
							               -ms-transition: all 0.2s ease-out;
							               transition: all 0.2s ease-out;
							          }
							          
							               ul.megamenu li .sub-menu .content .hover-menu li:hover > a.with-submenu:after {
							                    left: 0;
							                    color: #6daca1;
							               }
							     
							          ul.megamenu li .sub-menu .content .hover-menu li:hover > a.with-submenu {
							               color: #6daca1;
							               padding-left: 13px;
							          }
							
							ul.megamenu li .sub-menu .content .hover-menu .menu ul {
								list-style: none;
								margin: 0px;
								padding: 0px;
								position: relative;
							}
							
												
								ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
								     display: none;
									margin-top: -51px;
									opacity: 0;
									filter: alpha(opacity=0);
									visibility: hidden;
									-webkit-transition: all 0.2s ease-out;
									-moz-transition: all 0.2s ease-out;
									-o-transition: all 0.2s ease-out;
									-ms-transition: all 0.2s ease-out;
									transition: all 0.2s ease-out;
									width: 220px;
									padding: 30px;
									position: absolute;
									z-index: 10;
									left: 100%;
									margin-left: 60px;
									background: #fff;
									box-shadow:            0px 0px 20px rgba(0, 0, 0, 0.2);
									-moz-box-shadow:       0px 0px 20px rgba(0, 0, 0, 0.2);
									-webkit-box-shadow:    0px 0px 20px rgba(0, 0, 0, 0.2);
								}
								
								     ul.megamenu li:hover .sub-menu .content .hover-menu .menu ul ul {
								          display: block;
								     }
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul.active {
										display: block;
										opacity: 1;
										filter: alpha(opacity=100);
										visibility: visible;
										margin-left: 30px;
									}

									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
										position: absolute;
										display: block;
										border-color: transparent;
										border-style: solid;
										border-width: 10px;
										content: "";
										top: 24px;
										left: -10px;
										border-right-color: #fff;
										border-left-width: 0;
									}
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li {
										position: relative;
									}
								
						     /* @end */
								
					/* @end */
					
     /* @end */

	/* @group 2. MegaMenu Mobile Heading */
	
	.megaMenuToggle {
		display: none;
		cursor: pointer;
	}
	
		.megamenuToogle-wrapper {
			position: relative;
			z-index: 26;
			background: #786762;
		}
		     
		     #top .container .megamenuToogle-wrapper {
		          background: #fff;
		          border: 2px solid #d9d9d9;
		          width: 40px;
		          height: 40px;
		          overflow: hidden;
		          margin-top: 24px;
		          z-index: 0;
		     }

			.megamenuToogle-wrapper .container {
				color: #fff;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 800;
				padding: 13px 20px 11px 20px !important;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			
			     #top .container .megamenuToogle-wrapper .container {
			          padding: 8px 11px 11px 11px !important;
			          margin: 0px;
			     }
			
				.vertical .megamenuToogle-wrapper .container {
					padding: 9px 20px 8px 15px !important;
				}
			
				.megamenuToogle-wrapper .container > div {
					float: left;
					width: 15px;
					margin: 4px 11px 0px 0px;
				}
				
					.megamenuToogle-wrapper .container > div span {
						display: block;
						width: 100%;
						height: 2px;
						margin-top: 2px;
						background: #fff;
					}
					
					#top .container .megamenuToogle-wrapper .container > div {
					     margin-bottom: 30px;
					}
					
					     #top .container .megamenuToogle-wrapper .container > div span {
					          background: #221f1f;
					     }
					
	/* @end */

/* @group 3. Responsive
------------------*/

@media (max-width: 767px) {
	
	/* @group Submenu */
	
	.responsive ul.megamenu .sub-menu .content .border {
		display: none;
	}
	
	.responsive ul.megamenu .sub-menu .content .row {
		margin: 0px -20px;
		padding: 0px;
	}
	
		.responsive ul.megamenu .sub-menu .content .row > div {
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			margin-top: 20px;
		}
		
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div:first-child {
				margin-top: 0px;
				border-top: none;
				padding-top: 0px;
			}
			
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-disabled + .mobile-enabled {
				margin-top: 0px;
				border-top: none;
				padding-top: 0px;
			}
			
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled + .mobile-enabled,
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled  + .mobile-disabled + .mobile-enabled,
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled  + .mobile-disabled + .mobile-disabled + .mobile-enabled,
			.responsive ul.megamenu .sub-menu .content .row:first-of-type > div.mobile-enabled + .mobile-disabled  + .mobile-disabled + .mobile-disabled + .mobile-disabled + .mobile-enabled  {
				margin-top: 20px;
				border-top: 2px solid #d9d9d9;
				padding-top: 20px;
			}
			
	/* @end */
			
	/* @group Open Categories */
	
	.responsive ul.megamenu li .menu > ul > li {
		position: relative;
	}
	
		.responsive ul.megamenu .menu > ul > li.active > .close-categories {
			display: block !important;
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
			cursor: pointer;
		}
		
		     .responsive #top .container .megamenu-wrapper ul.megamenu .menu > ul > li.active > .close-categories {
		          right: -10px;
		     }
		
			.responsive ul.megamenu .menu > ul > li.active > .close-categories:before {
				content: "-";
				font-family: Arial;
				font-weight: 300;
				font-size: 36px;
				line-height: 46px;
				padding: 0px 18px;
			}
		
		.responsive ul.megamenu .menu > ul > li > .open-categories {
			display: block !important;
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
			cursor: pointer;
		}
		
		     .responsive #top .container .megamenu-wrapper ul.megamenu .menu > ul > li > .open-categories {
		          right: -10px;
		     }
		
			.responsive ul.megamenu .menu > ul > li.active > .open-categories {
				display: none !important;
			}
		
			.responsive ul.megamenu li .open-categories:before {
				content: "+";
				font-family: Arial;
				font-weight: 300;
				font-size: 24px;
				line-height: 50px;
				padding: 0px 17px;
			}
			
			.responsive #main ul.megamenu li .menu > ul > li .visible,
			.responsive #main ul.megamenu li .menu > ul > li > ul {
				display: none;
			}
			
				.responsive #main ul.megamenu li .menu > ul > li.active .visible,
				.responsive #main ul.megamenu li .menu > ul > li.active > ul {
				}
				
	/* @end */
			
	/* @group Categories -> Hover Menu & Static Menu */
	
	.responsive ul.megamenu li .sub-menu .content .hover-menu .menu,
	.responsive ul.megamenu li .sub-menu .content .static-menu .menu {
		position: relative;
		margin: -20px;
		overflow: hidden;
	}
	
		.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul,
		.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul {
			margin: 0px;
			padding: 0px;
		}
	
		.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li,
		.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li {
			background: url(../img/bg-cart-content.png) top left repeat-x;
		}
		
			.responsive .border-width-1 ul.megamenu li .sub-menu .content .hover-menu .menu ul li,
			.responsive .border-width-1 ul.megamenu li .sub-menu .content .static-menu .menu ul li {
				background: url(../img/bg-cart-content2.png) top left repeat-x;
			}
		
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li:before {
				display: none;
			}
		
			.responsive ul.megamenu li .sub-menu .content .hover-menu .menu > ul:first-child > li:first-child,
			.responsive ul.megamenu li .sub-menu .content .static-menu:first-child .menu > ul:first-child > li:first-child {
				background: none;
			}
			
			.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
				display: block;
				padding: 10px 20px 6px 30px;
				font-size: 12px;
				font-weight: 700;
				line-height: 30px;
				text-transform: uppercase;
			}
			
			     .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:before,
			     .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:after {
			          display: none;
			     }
			
			     .responsive #top .container .megamenu-wrapper ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
			     .responsive #top .container .megamenu-wrapper ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
			          padding-left: 15px;
			     }
						
			.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul,
			.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
				margin: 0px !important;
				padding: 0px !important;
				opacity: 1 !important;
				filter: alpha(opacity=100);
				visibility: visible !important;
				-webkit-transition: none !important;
				-moz-transition: none !important;
				transition: none !important;
			}
			
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li a,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
					padding-left: 40px !important;
				}
				
				     .responsive #top .container .megamenu-wrapper ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li a,
				     .responsive #top .container .megamenu-wrapper ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
				          padding-left: 30px !important;
				     }
				
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul ul li a,
					.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul ul li a {
						padding-left: 60px !important;
					}
					
					     .responsive #top .container .megamenu-wrapper ul.megamenu li .sub-menu .content .hover-menu .menu ul ul ul li a,
					     .responsive #top .container .megamenu-wrapper ul.megamenu li .sub-menu .content .static-menu .menu ul ul ul li a  {
					          padding-left: 45px !important;
					     }
					
			.responsive ul.megamenu .sub-menu .content .static-menu .row > div {
				padding: 0px 20px !important;
				margin-top: 0px;
			}
			
			.responsive .static-menu .visible {
				padding: 0px !important;
			}
			
			.responsive ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
				padding: 0px;
				margin: 0px;
				border: none;
			}
			
	/* @end */
}

@media (max-width: 991px) {

	/* @group Submenu background image */
	
	.responsive ul.megamenu li .sub-menu .content {
		background-image: none !important;
	}
	
	/* @end */
	
	/* @group MegaMenu Horizontal */

	.responsive .megaMenuToggle {
		display: block;
	}
			
	.responsive .megamenu-wrapper {
		display: none;
		background: #fff !important;
		position: relative;
		margin: 0px;
	}
	
	     .responsive .container .megamenu-wrapper {
	          margin: 10px 0px -10px 0px;
	     }
	
	     .responsive #top .container .megamenu-wrapper {
	          padding: 0px;
	     }
	
	     .responsive .megamenu-wrapper .megamenu-pattern > .container {
	          width: 100%;
	          padding: 0px;
	          margin: 0px;
	     }
	     
	     .responsive ul.megamenu {
	          padding: 0px;
	          margin: 0px;
	     }
	     
	          .responsive #top .container .megamenu-wrapper ul.megamenu {
	               padding: 0px !important;
	               margin: 0px 0px 0px 0px;
	               position: relative;
	          }
	
		.responsive ul.megamenu > li {
			display: block;
			float: none !important;
			width: auto;
			background: url(../img/bg-cart-content.png) top left repeat-x;
			position: relative;
			margin: 0px !important;
		}
		     
		     .responsive .border-width-1 ul.megamenu > li {
		          background: url(../img/bg-cart-content2.png) top left repeat-x;
		     }
		
		     .responsive ul.megamenu > li:nth-child(2) {
		          background: none;
		     }
		
			.responsive ul.megamenu > li.home, 
			ul.megamenu > li.search {
				display: none;
			}
			
			.responsive ul.megamenu > li > a {
				color: #262626;
				text-shadow: none;
				background: none !important;
				margin: 0px;
				height: auto !important;
				padding: 14px 20px 10px 20px !important;
			}
			
			     .responsive #top .container .megamenu-wrapper ul.megamenu > li > a {
			          padding: 14px 0px 10px 0px !important;
			     }
			
				.responsive ul.megamenu > li > .sub-menu > .content > .arrow {
					display: none;
				}
			
				.responsive ul.megamenu > li:hover > a,
				.responsive ul.megamenu > li.active > a {
					color: #6daca1;
				}

				.responsive ul.megamenu > li.with-sub-menu .open-menu {
					position: absolute;
					right: 0;
					top: 0;
					z-index: 10;
					padding: 6px 17px 10px 50px;
					display: block;
					cursor: pointer;
					height: 45px;
					line-height: 1.6;
				}
				
				     .responsive #top .container .megamenu-wrapper ul.megamenu > li.with-sub-menu .open-menu {
				          padding-right: 7px;
				          padding-top: 7px;
				     }
				
					.responsive ul.megamenu > li.active .open-menu {
						display: none;
					}
					
						.responsive ul.megamenu > li.with-sub-menu .open-menu:before {
							content: "+";
							font-family: Arial;
							font-weight: 300;
							font-size: 24px;
						}
			
				.responsive ul.megamenu > li.active .close-menu {
					display: block;
					position: absolute;
					z-index: 10;
					top: 0;
					right: 0;
					width: 85px;
					height: 45px;
					padding: 0px 3px 0px 40px;
					text-align: center;
					cursor: pointer;
					
				}
				
				     .responsive #top .container .megamenu-wrapper ul.megamenu > li.active .close-menu {
				          padding-top: 1px;
				          padding-right: 0px;
				          right: -8px;
				     }
				
					.responsive ul.megamenu > li.active .close-menu:before {
						content: "-";
						font-family: Arial;
						font-weight: 300;
						font-size: 36px;
						line-height: 1.3;
					}

			/* @group Submenu */
			
			.responsive ul.megamenu > li > .sub-menu {
				width: 100% !important;
				padding-top: 0px !important;
				position: relative;
				display: none;
				-webkit-transition: none !important;
				-moz-transition: none !important;
				transition: none !important;
				z-index: 2 !important;
				visibility: visible !important;
				left: 0 !important;
			}
			
				.responsive ul.megamenu li .sub-menu .content {
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					border: none;
					background: url(../img/bg-cart-content.png) top left repeat-x !important;
					border-radius: 0px;
					-moz-border-radius: 0x;
					-webkit-border-radius: 0px;
					display: block !important;
					visibility: visible !important;
					opacity: 1 !important;
					filter: alpha(opacity=100) !important;
					margin-top: 0px !important;
					left: 0px !important;
					margin-left: 0px !important;
					-webkit-transition: none !important;
					-moz-transition: none !important;
					transition: none !important;
					-webkit-transform: scale(1, 1) !important;
					-moz-transform: scale(1, 1) !important; 
					-o-transform: scale(1, 1) !important;
					-ms-transform: scale(1, 1) !important;
					transform: scale(1, 1) !important;
					padding: 20px;
				}
				
				     .responsive .border-width-1 ul.megamenu li .sub-menu .content {
				          background: url(../img/bg-cart-content2.png) top left repeat-x !important;
				     }
					
				/* @group Hover Menu */
				
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul,
				.responsive ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
					opacity: 1 !important;
					filter: alpha(opacity=100);
					visibility: visible !important;
					-webkit-transition: none !important;
					-moz-transition: none !important;
					transition: none !important;
				}
				
				.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
					display: block;
					margin: 5px 10px;
					width: auto;
					padding: 0px;
					position: static;
					left: 0;
					background: none;
					border: none;
					border-radius:         0px;
					-moz-border-radius:    0px;
					-webkit-border-radius: 0px;
					box-shadow:            none;
					-moz-box-shadow:       none;
					-webkit-box-shadow:    none;
				}
				
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
						display: none;
					}
					
					.responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
						display: none;
					}

					.responsive .visible {
					}
					
						.responsive .visible > div {
						}
						
				/* @end */
						
			/* @end */
						
	/* @end */
}

@media (min-width: 992px) {
	.megamenu-wrapper {
		display: block !important;
	}
}

/* @end */
