@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.navbar{
    margin-bottom: 0;
}
.navbar-default {
    border: 0;
    background-color: #fff;
    /*box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,.3);*/
}

.navbar-default a:link, .navbar-default  a:visited, .navbar-default  a:hover, .navbar-default a:active{
    color: #000;
}
/*.navbar-default .navbar-nav>.open>a, .opened-menu{*/
/*    background-color: #A88D69 !important;*/
/*}*/


@media (max-width: 767px) {
    .navbar-default{
        margin-left: 0;
    }
}
.navbar-nav>li>.dropdown-menu:not(.mini-dropdown-menu) {
    min-height: 300px;
    background-color: #e3e3e3;
    margin-top: 0;
    padding-top: 15px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:link, .mega-dropdown-menu > li ul > li > a:visited, .mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:active{
    color: #333 !important;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #333;
}
.mega-dropdown-menu .dropdown-header {
      color: #828282;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
  font-size: 16px;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
/*@media (min-width: 768px) and (max-width: 991px) {*/
/*    .navbar-nav .open .dropdown-menu {*/
/*    position: static;*/
/*    float: none;*/
/*    width: auto;*/
/*    margin-top: 0;*/
/*    background-color: transparent;*/
/*    border: 0;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    }*/
/*    .navbar-nav {*/
/*        float: none;*/
/*        text-align: center;*/
/*    }*/
/*    .navbar-nav>li {*/
/*        float: none;*/
/*    }*/
/*    .navbar-collapse.collapse {*/
/*        display: none !important;*/
/*    }*/
/*    .navbar-collapse.collapse.in {*/
/*        display: block !important;*/
/*    }*/
/*    .navbar-header .collapse, .navbar-toggle {*/
/*        display:block !important;*/
/*    }*/
/*    .navbar-header {*/
/*        float:none;*/
/*    }*/
/*}*/