
/* ДОПОЛНЕНИЯ БУТСТРАПА >> */
@media (min-width: 1760px) {
    .container {
        
        width: 1460px;
    }
    
    .container.large-wider-container {
    	 width: 1720px;
    }

    .col-xlg-1 {
        width: 8.33333333%;
    }

    .col-xlg-2 {
        width: 16.66666667%;
    }

    .col-xlg-3 {
        width: 25%;
    }

    .col-xlg-4 {
        width: 33.33333333%;
    }
    
    .col-xlg-5 {
        width: 41.66666667%;
    }

    .col-xlg-6 {
        width: 50%;
    }
    
    .col-xlg-7 {
    width: 58.33333333%;
    }  
    
    .col-xlg-8 {
    	width: 66.66666667%;
    }  
    
    .col-xlg-9 {
    	width: 75%;
    }    
    
    .col-xlg-10 {
		width: 83.33333333%;
    }
    
    .col-xlg-11 {
    	width: 91.66666667%;
    }  

    .col-xlg-12 {
        width: 100%;
    }

}

/* << ДОПОЛНЕНИЯ БУТСТРАПА */


img {
    max-width: 100%;
}

.catalog-items > .catalog-item {
	padding: 10px;
	min-height: 320px;
}

	.catalog-item .manufacturer {
		font-style: italic;
		color: #666666;
		width: 80%;
		border-bottom: 1px solid #cccccc;
		margin: 0 auto 5px auto;
		padding: 3px;
		min-height: 32px;
	}
	
	.catalog-item #product-in-cat {
		font-size: 18px;
	}
	
	.catalog-item .price-title {
		color: black;
		font-size: 24px;
		position: relative;
		bottom: 0;
	}
	
	.catalog-items > .catalog-item .description {
		/*height: 180px;*/
		padding: 0;
	}
	
	@media (max-width: 1199px) {
		.catalog-items > .catalog-item .description {
			/*height: 220px;*/
		}
	}
	
	.catalog-items > .catalog-item .productName {
		padding: 5px;
		height: auto;
		min-height: 60px;
	}
	
	.catalog-item  .productName a {
		color: black;
		font-weight: 600;
		font-family: Raleway;
	}
	
	
	@media (max-width: 767px) {
		.catalog-item .manufacturer {
	         min-height: 16px; 
		}
		
		.catalog-item #product-in-cat {
			font-size: 12px;
		}
		
		.catalog-item .price-title {
			font-size: 18px;
		}
		
		.catalog-items > .catalog-item .description {
		    height: 150px;
		}
	}
	
/* menu */
/* mobile */

button.hamburger {
	position: fixed;
	right: 0;
	padding: 0;
	top: 0;
	height: 75px;
    width: 75px;
    z-index: 2;
}

button .hamburger-inner {
	margin: auto;
}

button.search-mob-button {
    right: 55px;
}

button .hamburger-box {
	left: -12.5px;
	width: auto;
}

button .hamburger-inner, 
button .hamburger-inner::before,
button .hamburger-inner::after {
	width: 25px;
	height: 3px;
	background-color: #666666;
}

button:not(.is-active) .hamburger-inner::before {
	top: -9px;
}

button:not(.is-active) .hamburger-inner::after{
	bottom: -9px;
}

button.is-active .hamburger-inner, 
button.is-active .hamburger-inner::before,
button.is-active .hamburger-inner::after {
	background-color: #666666;
}

header .navbar .navbar-header {
	background-color: white;
}



body .header-wrapper {
	background-color: transparent;
	position: fixed;
	/*transition: background-color 0.7s;*/
	/*z-index: -1;*/
	display: none;
	width: 100%;
	height: 100vh;
	top: -500vh;
	
	transition-property: top, background-color;
	transition-delay: 1s, 0s;
	transition-duration: 0s, 0.7s;
}

.menu-opened .header-wrapper {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 5;
	
	top: 0;
	transition-property: top, background-color;
	transition-delay: 0s, 0.2s; 
}

.search-opened .hamburger {
	top: -50vh;
}

@media (max-width: 991px) {
	.navbar {
	    position: fixed;
	}
	
	.navbar .navbar-collapse {
		max-height: 0;
	    overflow-y: hidden;
	    transition-property: all;
	    transition-duration: .5s;
	}
	
	.navbar .navbar-collapse.open {
		overflow-y: auto;
	    height: auto;
	    max-height: calc(100vh - 75px);
	    transition-property: all;
	    transition-duration: .5s;
	}

	.search-subtext {
		display:none;
	}
	


}


@media (min-width: 992px) {

	
	.hamburger-container {
		display: none;
	}
	
	
	header + .breadcrumbs-container, header + .container, header + .container-main-wrapper  {
		padding-top: 82px;
	}
	
	.search-container {
		position: absolute;
		left: calc(50vw - 319px);
		top: calc(50% - 44px);
	}

}

/* half-tablet-version */

@media (min-width: 1290px) {
		.top-logo-container {
		position: absolute;
		left: 4vw;
		top: 7.5px;
	}
	
	.top-logo-container img {
		/*width: 120px;*/
		height: 120px;
	}
	
	.navbar-header {
		width: 166.66px;
		height: 150px;
	}
	.all-items-link {
	display: none;
}
}

@media (max-width: 1289px) {
	.top-logo-container {
		position: absolute;
		left: 4vw;
		top: 7.5px;
	}
	
	.top-logo-container img {
		width: 80px;
		height: 59.75px;
	}
	
	.navbar-header {
		height: 75px;
	}
	
	.search-container {
	    position: absolute;
	    /*left: 21vw;*/
		left: calc(50vw - 260px);
	    top: calc(50% - 33px);
	}
}




.navbar-header .search-mob-button {
	color: #666666;
	position: absolute;
	right: 22vw;
	padding: 0;
	height: 75px;
    width: 75px;
    margin: 0;
    border: 0;
    outline-style: none;
}

.navbar-header .search-mob-button svg {
	width: 25px;
	height: 32px;
	position: absolute;
    top: calc(50% - 16px);
    right: calc(50% - 12.5px);
    display: inline-block;
}
.navbar-header .search-mob-button svg path {
	fill: #666666;
}

.navbar-header .top-tel-container {
	color: #666666;
	position: absolute;
	right: 44vw;
	padding: 0;
	height: 75px;
    width: 75px;
    margin: 0;
    text-align: center;
}

.navbar-header .top-tel-container svg {
	position: relative;
	width: 25px;
	height: 25px;
    top: calc(50% - 12.5px);
	color: #666666;
	display: inline-block;
	font-size: 24px;
}

.navbar-header .top-tel-container svg path {
	fill: #666666;
}

@media (min-width: 768px) {
	.navbar-header .top-tel-container {
		width: 250px;
		display: none;
	}
	
	.navbar-header .top-tel-container a:after {
		position: relative;
		content: attr(data);
		top: 50%;
		margin-top: -15px;
		font-size: 24px;
	}
	
	.sales-mobile {
					display: none;
	
	}
	
	.sales-main {
			display: block;
	}


}


/* search and tel animations */
.search-mobile-input,
.search-mobile-input + .search-mob-button,
.search-mobile-input + .search-mob-button svg path
{
	transition-delay: 0.5s;
	transition-duration: 0.5s;
}
.search-mobile-input:focus,
.search-mobile-input:focus + .search-mob-button,
.search-mobile-input:focus + .search-mob-button svg path
{
    transition-delay: 0s;
}

input.search-mobile-input:focus + button.search-mob-button svg path {
	fill: white;
}

input.search-mobile-input:focus + button.search-mob-button {
	right: 0;
    background-color: #b7b7b7;
}

svg path {
	transition: 0.5s;
}

form[action="/search/"], .navbar-header .search-mobile-input {
	height: inherit;
}

.navbar-header .top-tel-container {
	/*background-color: red;*/
	/*right: 45vw;*/
	opacity: 1;
	z-index: 0;
	transition: z-index 0s ease 0s, opacity 0.5s ease 0s;
}

/*.menu-opened .navbar-header .top-tel-container {*/
	/*right: 1000%;*/
/*	z-index: -1;*/
/*	opacity: 0;*/
/*	transition: z-index 0s ease 0.5s, opacity 0.5s ease 0s;*/
/*}*/





/*************/




a.mob-nav-item-new {
    /* padding: 5px 5px 5px 5px !important; */
    font-size: 18px;
    margin: 10px 10px 10px 15px;
    display: block;
}

a.mob-nav-item-new.mob-nav-item-icon {
	position: relative;
}

a.mob-nav-item-new.mob-nav-item-icon  .glyphicon {
	position: absolute;
	left: -20px;
	top: 5px;
	font-size: 80%;
}

.mob-nav-up-menu > *:first-of-type {
	padding-right: 10px;
}

.mob-nav-up-menu > *:last-of-type {
	padding-left: 10px;
}

.langs.langs-mobile {
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 5px 0 5px 5px;
}

.langs.langs-mobile > * {
	width: 65px;
    height: 35px;
    font-size: 19px;
    font-family: Raleway-Regular;
    letter-spacing: 1px;
}

.langs.langs-mobile .active {
	background-color: transparent;
	border-color: #535353;
	color: #535353;
}

.mobile-contacts {
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    position: relative;

}
.mobile-contacts > .tel {
    font-size: 24px;
    font-family: Raleway-Semibold;
    background-color: white;
    display: inline-block;
    position: absolute;
    padding: 5px;
    top: -22px;
}

.mobile-contacts > span {
    display: block;
    line-height: 30px;
}

.mob-socials > .SNbar {
	display: block;
	text-align: center;
    margin-bottom: 30px;
}

.social-bar {
	text-align: center;
    margin: 0 0 10px 0;
}

.social-bar > a {
	display: inline-block;
	margin: 5px;
}

.cart-wish-buttons-container {
	display: flex;
	justify-content: space-around;
}

.cart-wish-buttons-container > .cart-wish-button {
	background-color: #878787;
    border-radius: 50px;
    padding: 0px 15px;
    line-height: 35px;
    font-size: 13px;
    font-family: Raleway-Regular;
    margin:15px 0px;
    min-width: 80px;
    min-height: 35px;
    text-align: center;
}

.cart-wish-buttons-container > .cart-wish-button > * {
	display: inline-block;
}

.cart-wish-buttons-container a {
	color: white;
}

.cart-wish-buttons-container a:link, .cart-wish-buttons-container a:hover, .cart-wish-buttons-container a:visited, .cart-wish-buttons-container:active {
	color: white;
}

.cart-wish-buttons-container svg {
	    /*margin-right: 7px;*/
	    width: 20px;
	    height: 20px;
		position: relative;
		bottom: -6px;
}

.cart-button {
	background-color: #a88d69 !important;
}

/* newdis footer starts */
footer {
	background-color: #737373;
	background-image: none;
	min-height: 0;
	/*position: absolute;*/
	/*bottom: 0;*/
}

/*.container-main-wrapper footer {*/
/*	top: 100%;*/
/*	bottom: auto;*/
/*}*/

/*body::after {*/
/*	margin-bottom: 230px;*/
/*	content:"";*/
/*	display:block;*/
/*}*/

#footer-menu-main {
	background: none;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #505050;
}

#footer-category, #footer-secondary-menu {
	text-align: left;
	
}

#footer-category {
    border-right: 1px solid;
}

#footer-menu-main .footer-category-menu {
	list-style: none;
	display: inline-block;
	text-align: left;
	line-height: 3;
    margin-bottom: 0;
    vertical-align: top;
}

#footer-menu-main .footer-category-menu:first-child {
	padding-left: 0;
    margin-left: -10px;
    margin-right: 10px;
}

#footer-menu-main .footer-category-menu:last-child {
	padding-left: 0;
}

#footer-secondary-menu .footer-category-menu:first-child {
	padding-left: 55px;
}

#footer-menu-main .footer-category-menu a {
	color: #fff;
}

.footer-category-menu .langs {
	margin-top: 0;
}

.footer-contacts {
	margin-left: -45px;
	margin-right: 45px;
	border: 1px solid;
	padding: 10px;
	text-align: left;
    width: 290px;
}

#footer-phone {
    width: 180px;
    height: 30px;
    margin-top: -24px;
    /*margin-left: 40px;*/
    background-color: #505050;
    text-align: center;
    font-family: "Raleway-Bold";
}

#footer-phone .ya-phone,
#footer-phone a {
	color: #FFF;
	font-size: 20px;
}

#footer-address {
    line-height: 2.4
}

.footer-sotials img {
	margin: 0 10px 10px;
}

.footer-sotials:last-child img {
	margin-top: 10px;
}

#footer-secondary {
	background-color: #404040;
	text-align: left;
}
#footer-payments {
	text-align: center;
}

#footer-payments>div {
	display: inline-block;
}

#footer-payments img {
	margin: 7px 12px;
}

#footer-name {
	padding-left:	0;
    font-size:		12px;

}

.our-logo a, .sgp-logo a {
	font-size: 12px;
}

.our-logo img, .sgp-logo img {
	width: 45px;
}

.sgp-logo {
	padding-right: 85px;	
}

@media (max-width: 1700px) {
	#footer-secondary-menu .footer-category-menu:first-child {
	    padding-left: 16px;
	}
}

@media (max-width: 1024px){
	.footer-contacts {
		margin: auto;
	}
	.footer-sotials {
		text-align: right;
	}

}
.collapse-value {
	min-height: 10px;
}

@media (max-width: 767px) {
	.footer-category-menu:last-child {
		padding-left: 25px;
	}
	
	#footer-address {
		line-height: 1.4;
	}
	
	#footer-name {
    	margin-top: 3px;
		margin-right: 12px;
	}
	
	.sgp-logo {
		padding-right: 10px;
		display: inline-block;
	    float: right;
	    margin-top: 10px;
	}
	
	.sgp-logo a {
		color: #FFF;
	}
	
	#footer-payments img {
		margin-left: 12px;
		margin-right: 12px;
	}
	
	.footer-contacts {#search>input
		margin-bottom: 10px;
		width: 275px;
	}
	
	.footer-sotials {
		display: inline;
	}
	
	#footer-payments img {
		margin: 5px;
	}
	
	#footer-menu-main {
		padding-bottom: 0;
	}
	
	.payments-row {
		display: none;
	}
	
	.sales-mobile {
		display: block;
	}
	
	.sales-main {
		display: none;
	}
	
}

@media (max-width: 320px) {

	.sgp-logo {
		padding-right: 0;
	}
	#footer-name {
		margin-right: 0;
	}
}
/* newdis footer ends */




/* tablet and mega-menu */

.navbar-tablet-collapse {
	display: none;
}

/*#carousel-main .owl-stage-outer {*/
/*	height: 380px;*/
/*}*/




.overflow-menu::before {
	display: table;
    content: " ";
}

.overflow-menu::after {
	clear: both;
    display: table;
    content: " ";
}

.overflow-menu {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 100%;
    z-index: -1;
}


.overflow-menu.open {
	background-color: #cccccc;
}

.overflow-menu.open-permanently {
	border: 1px solid #cccccc;
}

.mega-dropdown-menu {
	border: 0;
}

.mega-dropdown-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.nav .mega-dropdown.open > a {
	background-color: #e3e3e3;
	color: black;
}

.nav .mega-dropdown > a {
	font-size: 23px;
	color: white;
	transition: background-color 0.2s, color 0s;
	line-height: 80px;
}

.overflow-menu.open .nav .mega-dropdown > a,
.overflow-menu.open-permanently .nav .mega-dropdown > a {
	color: black;
	/*transition: color 0s;*/
}

.overflow-menu .nav .mega-dropdown > a {
	/*transition: color 0s;*/
}

.nav .mega-dropdown > a:hover, .nav .mega-dropdown > a:active, .nav .mega-dropdown > a:focus {
	color: black;
	background-color: rgba(238, 238, 238, 0.7);
}

.navbar, .mega-dropdown-menu {
    border-radius: 0 !important;
}
.navbar, .mega-dropdown-menu a {
	color: black;
	line-height: 
}

.delme {
	display: none;
}



@media (max-width: 991px) {
	
	header + * {
		margin-top: 75px !important;
	}
	
	.filter-col.sticky-filter {
		top: 86px;
	}
	
	.about-etc-menu {
		display: none !important;
	}
	
	.fixed-buttons {
		display: none;
	}
	
	.search-container {
	    position: absolute;
	    left: calc(50% - 175px);
	    top: calc(50% - 19px);
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {

	.navbar-mob-collapse {
		display: none;
	}
	
	.navbar-tablet-collapse {
		position: fixed;
		height: 100%;
		width: 30%;
		background-color: #E3E3E3;
		top: 0;
		z-index: 7;
		overflow-y: auto;
		transition-property: all;
    	transition-duration: .5s;
    	right: -30%;
    	display: block;
	}
	
	.menu-opened .navbar-tablet-collapse {
		right: 0;
	}
	
	.navbar-tablet-collapse .cart-wish-buttons-container {
	    width: 50%;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    margin: 70px 30px 0;
	}
	
	.navbar-tablet-collapse .tablet-main-links {
		margin: 0px 0px 0px 20px;
	}
	
	.navbar-tablet-collapse .langs.langs-mobile {
	    margin: 25px 10px 15px;
	}
	
	.navbar-tablet-collapse .mobile-contacts {
		margin-top: 150px;
	}
	
	.navbar-tablet-collapse .mobile-contacts a.tel {
		background-color: #E3E3E3;
		font-size: 18px;
	    top: -19px;
	}
	
	.navbar-tablet-collapse .social-bar {
		display: flex;
		justify-content: space-around;
		margin: 100px 10px 0;
		
	}
	
	.navbar-tablet-collapse .social-bar img {
		width: 90%;
		height: 90%;
		
	}
	
	#search {
		width: 350px;
	}
	

}

	

@media (min-width: 768px) and (max-width: 1289px) {
	
	/*#carousel-main .owl-stage-outer {*/
	/*	height: 250px;*/
	/*}*/
	
	.overflow-menu .navbar-nav > li > .dropdown-menu.mega-dropdown-menu {
		min-height: 200px;
	}
	
	.nav .mega-dropdown > a {
		font-size: 16.14px;
		line-height: 50px;
	}
	ul.megamenu > li > a, 
	ul.megamenu > li.current > span {
		font-size: 16.14px;

	}
	
	body .header-wrapper {
		display: block;
	}
	

	header + .breadcrumbs-container, header + .container, header + .container-main-wrapper  {
		padding-top: 82px;
	}
	
	#scene {
    	height: 250px;
	}
	
	
	/*.mega-dropdown-menu .col-md-2:first-of-type {*/
	/*	display: none;*/
	/*}*/
	
	.all-items-link {
		display: block;
	}
	
	.all-items-link .dropdown-header {
		border-bottom: none;
	}
	
	.navpic {
    	height: 126px;
	}

}


@media (max-width: 767px) {
	
	/*#carousel-main .owl-stage-outer {*/
	/*	height: 175px;*/
	/*}*/
	
	.overflow-menu {
		position: static;
	}
	.navpic { 
		display: none;
	}
	ul.megamenu > li {
		width: 100%;
		padding: 0;
		text-align: left;
		
	}

	ul.megamenu li .sub-menu .content {
		padding-top: 0;
	}
	.search-container {
		display: none;
	}
	.mob-nav {
		padding-top: 0;
	}
	ul.megamenu > li > .sub-menu {
		position: static;
	}
	ul.megamenu > .with-sub-menu > a:after {
		content: "+";
		display: inline;
		margin-left: 20px;
		position: absolute;
	}
	ul.megamenu > .with-sub-menu.active > a:after {
		content: "-";
	}
	
}
@media (max-width: 480px) {

}
/* tablet and mega menu ends */

ul#scene::before, #carousel-main .owl-item:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    /* background-color: red; */
    z-index: 3;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0) 100%);
}

#carousel-main .owl-stage, #carousel-main .owl-item,  #carousel-main .owl-item > .item  {
	height: inherit;
}

/*.owl-item .item > a > img.main-banner-img { */
/*	    max-width: 100%;*/
/*		height: 100%;*/
/*		min-height: 100%;*/
/*}*/
.main h1 {
	text-align: center;
}
.stripline {
	position: relative;
	margin-top: 20px;
}

.stripline:before {
	background: #ccc;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: -1;

}

.stripline > div {
	background: #fff;
}

h4 > div, .stripline > div, #rel_prod_text {
	font-size: 25px;
	font-family: "Raleway-Regular";
	text-transform: uppercase;
}

.about-etc-menu {
	position: absolute;
    right: 0vw;
    top: calc(50% - 37px);
    display: flex;
    justify-content: space-around;
    width: 25vw;
}

.about-etc-menu .navbar-nav {
	width: auto;
	color: black;
	padding: 10px;
}

.about-etc-menu .navbar-nav ul > a {
	padding: 10px;
	color: black;
}
.about-etc-menu li > span,
.about-etc-menu a {
	color: black !important;
    font-size: 24px;
    font-family: "Raleway-Medium" !important;
}

.about-etc-menu  .navbar-nav>.open>a,
.about-etc-menu  .navbar-nav>.open>a:focus,
.about-etc-menu  .navbar-nav>.open>a:hover {
	color: black;
	background-color:white;
	border: 0px solid;
}

.about-etc-menu .navbar-nav>li>.dropdown-menu {
	margin-left: -30px;
	border: 0px;
    left: 0;
}



.search-container .search input[type="text"] {
		
}


img.img-responsive.front-image.layer {
    width: 45%;
}
.search-subtext {
	text-transform: uppercase;
}

.search-subtext .ya-phone,
.search-subtext a {
	font-family: "Raleway-Bold";
	font-size: 20px;
}

.search-subtext span.brln::before {
	content: none;
	display: none;
}

#search .glyphicon {
	font-size: 25px;
}

/* new adds starts */
.fixed-buttons .cart-wish-buttons-container > .cart-wish-button {
	z-index: 100; /*Иначе иногда заезжал под хеадер*/
}

#search>input {  /* ADDS добавил по просьбе Данилы*/
	font-size: 18px;
}

.about-etc-menu .nav li>a:hover {
	/*color: #A88D69  !important;*/
	text-decoration: underline;
}

#product_main_img {
	visibility: inherit !important;
}

/* new adds ends */




@media (max-width: 1289px) {
	
	.search-subtext span.working-time {
		display:none;
	}
	

	
	#search>input {
		font-size: 18px;
		height: 40px;
		/*width: 350px;*/
		padding: 0 30px 0 0;
	}
	
	#search button {
		padding: 0;
		bottom: 6px;
		margin: 0;
	}
	

}

@media (min-width: 768px) and (max-width: 1289px) {
	.about-etc-menu a {
	    font-size: 20px;
	}
	
	
}



.fixed-buttons .cart-wish-buttons-container > .cart-wish-button {
	position: fixed;
	right: -15px;
	top: 15vh;
	width: 120px;
    height: 35px;
    text-align: left;
}

.fixed-buttons .cart-wish-buttons-container > .cart-button {
	top: 21vh;
}

.fixed-buttons .cart-wish-buttons-container > .cart-button > #cart {
	margin: 0;
	vertical-align: baseline;
}

.fixed-buttons .cart-wish-buttons-container > .cart-button > #cart > #bad-button {
	margin: 0;
}

.fixed-buttons .cart-wish-buttons-container > .cart-button > #cart > ul.dropdown-menu {
    right: 100px;
    top: 0;
    width: 500px;
}

.fixed-buttons .cart-wish-buttons-container > .wish-button {
	top: 27vh;
}

.price-title {
	text-align: center;
    height: 0px;
}


.price-title p {
    display: inline;
    color: black;
    /* margin-top: -20px; */
    position: relative;
    top: -35px;
    background-color: white;
    padding: 0px 15px;
    font-size: 32px;
    margin-bottom: -100px;
	
}
#product button {
	width: calc(99% / 3);
	border: 0;
	font-size: 21px;
	font-family: "Raleway-Regular";
	height: 50px;
	margin: 10px;
	padding: 10px 0px;
  	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}



#product button:not(#button-cart), #product button:not(#button-cart):active, .btn.btn-primary, .btn.btn-primary:active {
	border: 2px solid #A88D69  !important;;
	background-color: transparent !important;
	color: #A88D69  !important;;
	outline-width: 0px !important;
	transition: 0.1s;
	border-radius: 0px;
 
}

#product button:not(#button-cart):hover, .btn.btn-primary:hover {
	color: #826D52 !important;;
	border: 2px solid #826D52 !important;
	
}

#product button:not(#button-cart):hover svg path, .btn.btn-primary:hover svg path {
	fill: #826D52;
}


.text-right > .btn {
	margin: 3px;
}

#product button#button-cart {

	background-color: #DEA020;
	outline-width: 0px !important;
	transition: 0.3s;
}

#product button#button-cart:hover {

	background-color: #B8841B;
	outline-width: 0px !important;
}


@media (max-width: 605px) {
	.form-group {
		flex-wrap: wrap;	
	}
	
	#product button {
		width: 95%;
	}
}

#product button svg {
	width: 20px;
	height: 20px;
	/*margin-right: 5px;*/
	
}

.ugolok {
	position: relative;
	display: inline-block;
    content: "";
    top: 3px;
    width: 17px;
    height: 17px;
    
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    transition: 0.5s;
}

#product button svg path, .btn.btn-primary svg path{
	fill: #A88D69;
	transition: 0.1s;
}


.row.product-row .stiker {
    top: 10px;
    margin: 0;
    left: 0;
}



.mob-socials {
	padding-bottom: 65px;
}

.sort-container {
    padding: 8px 15px;
    margin-bottom: 20px;
}.nav .mega-dropdown > a {
    display: inline;
    padding: 10px;
    border: 2px solid transparent;
    white-space: nowrap;
}

#superactive.mega-dropdown > a {
 border: 2px solid #FFF;
}

.open-permanently #superactive.mega-dropdown > a {
 border: 2px solid #000;
}

.nav .mega-dropdown > a:hover, .nav .mega-dropdown > a:active, .nav .mega-dropdown > a:focus {
 background: inherit;
 color: #FFF;
}

.nav .mega-dropdown > a:hover {
 border: 2px solid rgba(255,255,255,0.5);
}

.open-permanently .nav .mega-dropdown > a:hover {
 border: 2px solid rgba(0,0,0,0.5);
 color: #000;
}

.open-permanently .nav .mega-dropdown > a:active, .open-permanently .nav .mega-dropdown > a:focus {
 color: #000;
}

.open .navbar-nav .mega-dropdown > a:hover, .open .navbar-nav .mega-dropdown > a:active, .open .navbar-nav .mega-dropdown > a:focus {
 color: inherit;
 background: #e3e3e3;
 border: none;
}

.open .navbar-nav #superactive a, .open .navbar-nav .mega-dropdown a {
 border: none;
 display: block;
 padding: 0;
}

.dropdown.mega-dropdown {
 height: auto;
    text-align: center;
}

.dropdown.mega-dropdown.open, .dropdown.mega-dropdown.open:hover {
 background-color: rgba(238, 238, 238, 0.7);
}

.stiker {
 visibility: inherit !important;
}

.footer-sotials:first-child img {
 margin-top: 10px;
}

@media(max-width: 767px){
.footer-sotials:first-child img {
 margin-top: 10px;
}
	
}

.prod-col-1 {
    margin-bottom: 20px;
}

div#testModal {
    margin-top: 175px;
    /*z-index: 10000;*/
}

/*@media(max-width: 991px){*/
/*	html,body{*/
/*		-webkit-overflow-scrolling : touch !important;*/
/*		overflow: auto !important;*/
/*		height: 100% !important;*/
/*	}*/
/*}*/

div.map-container {
	position: relative;
}

.mob-main-links > div:nth-of-type(2) > a {
	width: 150%;
}

.tablet-search-button > svg {
	width: 25px;
	height: 25px;
}

.tablet-search-button > svg path {
	fill: #a88d69;
}

.cart-wish-buttons-container .dropdown-menu a:link, .cart-wish-buttons-container .dropdown-menu a:visited, .cart-wish-buttons-container .dropdown-menu a:hover, .cart-wish-buttons-container .dropdown-menu a:active {
    color: black;
}

/* 404 not found start*/
#not-found-images, #not-found-text, #not-found-link {
	text-align: center;
}

#not-found-images {
	margin-top: 100px;
    margin-left: -235px;
}

#not-found-images img:first-child {
	margin-right: 25px;
}

#not-found-text {
	margin-top: 50px;
}
#not-found-link {
	margin-bottom: 80px;
	margin-top: 30px;
}
#not-found-link a {
	color: black;
	border: 2px solid #000;
	padding: 10px 20px;
}

@media(max-width: 1024px){
	#not-found-images {
		margin: 100px 0 0;
	}
	
	#not-found-images img:first-child {
		display: none;
	}

	#not-found-images>img {
		display: block;
		margin: auto;
		
	}
}

@media(max-width: 767px){
	#not-found-images {
		margin-top: 50px !important;
	}
	
	#not-found-images img:first-child {
		display: block;
		margin-right: auto;
		margin-bottom: 20px;
		width: 180px;
	}
	
	#not-found-images img:last-child {
		width: 280px;
	}
}

/*.modal-backdrop.in {*/
/*	opacity: 0;*/
/*}*/
/* 404 not found ends */

.modal-open header {
	z-index: 1;
}

@media(max-width: 991px) and (min-width: 768px){
	#test-modal-title {
		margin-left: 20px;
	}
}

/* clear fixes START */

/*XS*/

@media(max-width: 767px){
	.clear-xs-6 > div:nth-child(2n+3)  {
		clear: both;
	}
	
	.clear-xs-4 > div:nth-child(3n+4)  {
		clear: both;
	}
	
	.clear-xs-3 > div:nth-child(4n+5)  {
		clear: both;
	}
	
	.clear-xs-2 > div:nth-child(6n+7)  {
		clear: both;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	.clear-sm-6 > div:nth-child(2n+3)  {
		clear: both;
	}
	
	.clear-sm-4 > div:nth-child(3n+4)  {
		clear: both;
	}
	
	.clear-sm-3 > div:nth-child(4n+5)  {
		clear: both;
	}
	
	.clear-sm-2 > div:nth-child(6n+7)  {
		clear: both;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	.clear-md-6 > div:nth-child(2n+3)  {
		clear: both;
	}
	
	.clear-md-4 > div:nth-child(3n+4)  {
		clear: both;
	}
	
	.clear-md-3 > div:nth-child(4n+5)  {
		clear: both;
	}
	
	.clear-md-2 > div:nth-child(6n+7)  {
		clear: both;
	}
}

@media(min-width: 1200px) and (max-width: 1759px){
	.clear-lg-6 > div:nth-child(2n+3)  {
		clear: both;
	}
	
	.clear-lg-4 > div:nth-child(3n+4)  {
		clear: both;
	}
	
	.clear-lg-3 > div:nth-child(4n+5)  {
		clear: both;
	}
	
	.clear-lg-2 > div:nth-child(6n+7)  {
		clear: both;
	}
}

@media(min-width: 1759px) {
	.clear-xlg-6 > div:nth-child(2n+3)  {
		clear: both;
	}
	
	.clear-xlg-4 > div:nth-child(3n+4)  {
		clear: both;
	}
	
	.clear-xlg-3 > div:nth-child(4n+5)  {
		clear: both;
	}
	
	.clear-xlg-2 > div:nth-child(6n+7)  {
		clear: both;
	}
}

/*@media(min-width: 992px) and (max-width: 1759px){*/
/*	.catalog-item:nth-child(3n+4) {*/
/*		clear: both;*/
/*	}*/
/*}*/

/*@media(min-width:1760px){*/
/*		.catalog-item:nth-child(4n+5) {*/
/*		clear: both;*/
/*	}*/
/*}*/

@media(max-width: 767px){
	 /*.product_accessories .catalog-item:nth-child(2n+3), .product_details .catalog-item:nth-child(2n+3) {*/
	 /* clear: both;*/
	 /*}*/
	 
	 #footer-payments img{
	  margin: 5px 10px;
	 }
	 
	 #footer-payments img:first-child{
	  margin-left: 0;
	 }
	 
	 #footer-payments img:last-child {
	  margin-right: 0;
	 }
}

@media(min-width: 768px){
	/*.product_accessories .catalog-item:nth-child(4n+5), .product_details .catalog-item:nth-child(4n+5) {*/
	/*  clear: both;*/
	/* }*/
}

.mobile-filter-buttons {
    margin: -5px;
}

.mobile-filter-buttons > div {
	border: 1px solid black;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile-filter-buttons > .active {
    color: #ad9678;
}

.mobile-filter-buttons > div:first-of-type{
    border-right-color: transparent;
}

.apply-button > .lemon-button {
    width: 40%;
    margin: auto;
    min-width: 150px;
}

.lemon-button {
	border: 2px solid #A88D69;
    color: #A88D69;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
    font-family: "Raleway-Regular";
    height: 50px;
    margin: 10px;
    padding: 10px 0px;
    user-select: none;
}

.body-fader::after {
	opacity: 0.5;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    content:"";
    width: 100%;
    height: 100%;
}


.fader {
	opacity: 0.5;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    content:"";
    width: 100%;
    height: 100%;
}

.sort-container.mobile-active {
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 130px;
    width: 50%;
    background-color: white;
    
}
.sort-container.mobile-active::before {
    content: "";
    width: 0;
    position: absolute;
    top: -20px;
    height: 0;
    left: calc(50% - 20px);
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #ffffff transparent;
}

.footer-sotials img:hover {
    opacity: 0.5;
    transition: 0.3s;
}
#forget-pass {
	background: none;
	color: #000;
	padding: 0;
}

.all-items-link {
	display: none;
}

#slider-price {
 width: 94%;
    margin: auto;
    margin-top: 10px;
    height: 4px;
}

.ui-slider-horizontal .ui-slider-handle {
 top: -8px;
    margin-left: -8px;
    border-radius: 55px !important;
    height: 17px  !important;
    width: 17px  !important;
    outline: 0;
}

#pmin, #pmax {
    border: 1px solid;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
 background: #e1d7cb;
}

thead {
	font-family: "Raleway-Semibold";
}

.catalog-item .price-old-title {
	font-size: 20px;
    text-decoration: line-through;
    display: -moz-inline-box;
    color: #999999;
}

.price-old-title {
    text-align: center;
    height: 0px;
    display: block;
}

.price-old-title p {
    display: inline;
    color: #999999;
     /*margin-top: -20px; */
    position: relative;
    top: -75px;
    background-color: white;
    padding: 0px 15px;
    font-size: 26px;
    margin-bottom: -100px;
    text-decoration: line-through;
    display: -moz-inline-box;
}

.product-payments.with-discount {
    margin-top: 50px;
}


.advantages {
    text-align: center;

}
.advantages img {
    margin: 25px 0;
}
