@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic');

@font-face {
    font-family: 'NeoSansProMedium';
    src: url('../fonts/NeoSansProMedium.eot');
    src: url('../fonts/NeoSansProMedium.eot') format('embedded-opentype'),
         url('../fonts/NeoSansProMedium.woff2') format('woff2'),
         url('../fonts/NeoSansProMedium.woff') format('woff'),
         url('../fonts/NeoSansProMedium.ttf') format('truetype'),
         url('../fonts/NeoSansProMedium.svg#NeoSansProMedium') format('svg');
}


body {
	font-family: "Open Sans";
	font-size: 16px;
}

.page-grid > div {
	padding: 40px 0;
}


.header,
.header a,
.showroom,
.showroom a {
	color: #fff;
}

.header > div {
	padding: 10px 0;
}

.contact-info {
	font-weight: 300;
	margin: 20px 0 0;
}

.shop-link {
	position: relative;
	display: inline-block;
	margin: 20px 0 0;
	padding: 0 0 0 35px;
}

.shop-link:before {
	content: url('img/icon-shop.png');
	position: absolute;
	top: 0;
	left: 0;
}

.title {
	font-family: 'NeoSansProMedium';
	font-size: 60px;
	line-height: 1.1;
	text-transform: uppercase;
}

.subtitle {
	background: #a88e63;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 0 0 30px;
	min-width: 260px;
	-webkit-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.55);
	box-shadow: inset 0px 0px 7px 3px rgba(0,0,0,0.55);
}

.banner-caption {
	font-weight: 300;
	margin: 20px 0 40px;
}

.btn {
	text-transform: uppercase;
}

.btn.btn-white,
.btn.btn-white:hover {
	border-color: #fff !important;
	color: #fff !important;
}

.banner {
	padding-top: 210px;
	padding-bottom: 150px;
}

.num-facts .item {
	display: inline-block;
	position: relative;
	padding: 0 20px 40px;
}

.num-facts > div {
	padding: 100px 0 80px;
}

.num-facts .item p {
	text-align: left;
	font-weight: 300;
	line-height: 1.2;
	position: absolute;
	top: 50px;
	right: 20px;
}

.advantages {
    font-size: 16px;
    margin: 0;
}

.advantages > div {
    padding: 60px 0 40px;
}

.history > div {
	padding: 60px 0;
}

.banner-module,
.banner-module .container {
    position: relative;
}

.banner-module .slider-nav {
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
}

.banner-module .slider-nav .owl-prev, 
.banner-module .slider-nav .owl-next {	
	position: absolute;
	bottom: 50%;
	z-index: 1;
	margin-bottom: -36px;
	display: inline-block;	
	font-size: 50px;
	cursor: pointer;
}

.banner-module .slider-nav .owl-prev {
    left: 10px;
}
.banner-module .slider-nav .owl-next {
    right: 10px;
}

.banner-module .slider-nav .owl-prev:before,
.banner-module .slider-nav .owl-next:before {
	content: '';
	height: 50px;
	width: 27px;
	display: block;
	background-size: contain !important;
}
.banner-module .slider-nav .owl-next:before {
    background: url('../images/layout/slider/slider_arrow_right.svg') no-repeat;
}
.banner-module .slider-nav .owl-prev:before {
    background: url('../images/layout/slider/slider_arrow_left.svg')  no-repeat;
}

.banner-module .slider-nav .owl-next:not(.disabled):hover:before {
    background: url('../images/layout/slider/slider_arrow_right_hover.svg')  no-repeat;
}
.banner-module .slider-nav .owl-prev:not(.disabled):hover:before {
    background: url('../images/layout/slider/slider_arrow_left_hover.svg')  no-repeat;
}

.banner-module .slider-nav .owl-next.disabled:before {
    background: url('../images/layout/slider/slider_arrow_right_unactive.svg')  no-repeat;
}
.banner-module .slider-nav .owl-prev.disabled:before {
    background: url('../images/layout/slider/slider_arrow_left_unactive.svg')  no-repeat;
}

.map {
	position: relative;
}

.map .caption {
	background: #fff;
	font-size: 18px;
	line-height: 1.6;
	text-align: left;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 30px 45px 20px;
	width: 400px;
	height: inherit;
}

.map .caption .phone-number {
	font-size: 22px;
	font-weight: 600;
}

.map .close {
	float: none;
	position: absolute;
	top: 12px;
	right: 18px;
	opacity: .8;
}

.ymaps-b-balloon__content-body {
	background: #fff;
	padding: 10px 5px 5px;
}


.footer > div {
	padding: 20px 0;
}

@media (max-width: 1200px) {
	.banner {
		padding-top: 110px;
		padding-bottom: 100px;
	}

}

@media (max-width: 767px) {
	.title {
		font-size: 42px;
	}
	
	.map .caption {
		font-size: 14px;
		padding: 10px 15px;
		width: 100%;
		bottom: 0;
		right: 0;
	}

	.map .caption .phone-number {
		font-size: 16px;
	}

}

@media (max-width: 479px) {
	.header {
		text-align: center;
	}
}
