<?php 
if (count($languages) > 1) { 
?>
                            <?php
                            if ($curLanguage == 'en'){
                                ?>
                                <a href="ru">РУС</a>
                                <span class="active">ENG</span>
                                <?php
                            }else{
                            ?>
                            <span class="active">РУС</span>
                                <a href="en">ENG</a>
                            <?php
                            }
                            ?>
                                    
                            <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="language">
                                <input type="hidden" name="code" value="" />
                                <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
                            </form>
<?php } ?>
