<?php echo $header; ?>
<img src="catalog/view/theme/loudlemon/images/layout/banners/delivery.png" class="img-responsive visible-md-block visible-lg-block">
       <div class="container main">
       <h1>Магазин</h1>
        <p>
            C 1 июля 2015 года в городе Москве введена плата за капитальный ремонт общего имущества в многоквартирных домах. Оплату взносов на капитальный ремонт за помещения, находящиеся в собственности города Москвы, будет осуществлять Департамент городского имущества.
        </p>
        <p>
            В сроки, установленные для направления платежных документов для внесения платы за жилое помещение и коммунальные услуги, управляющие организации направляют в Департамент счета в размере суммы взносов на капитальный ремонт в отношении каждого многоквартирного дома, собственники помещений которых формируют фонды капитального ремонта на специальных счетах, владельцами которых являются управляющие организации.
        </p>
        <p>
            Обращаем Ваше внимание, что счета для оплаты направляются управляющими организациями вместе с сопроводительным письмом (образец) в Департамент по почтовому адресу: 115054, Москва, ул. Бахрушина, д. 20, либо по следующим адресам подразделений Департамента:
        </p>
       </div>
<?php echo $footer; ?>