<?php echo $header; ?>
<?php echo $content_top; ?>
       <div class="container main">
       <h1><?php echo $heading_title;?></h1>

       <div id="contact-page">
       <?php echo $description; ?>
       </div>
       
<?php echo $content_bottom; ?>

        <div class="up">
                <br>
                <br>
                <a href="<?PHP echo $_SERVER['REQUEST_URI'] ?>#"><span class="glyphicon glyphicon-arrow-up"></span> Наверх</a>
                <br><br>
        </div>
       </div>
       <script type="text/javascript">
          $('#contact-page img').addClass('img-responsive');
       </script>
<?php echo $footer; ?>