/*
HAND INPUT PLUGINS'S CODE
 */

@import '../_main/default-colors';
@import '../_main/main-colors';
@import '../_main/transition';

.link-to-top {
  position: fixed;
  right: 20px;
  bottom: 59px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $secondary-color;
  text-decoration: none;
  color: #fff;
  opacity: .5;
  z-index: 5;
  transition: $default-transition;
  @media (min-width: 320px) and (max-width: 1024px) {
    bottom: 53px;
  }
  &.is-hide {
    opacity: 0;
    pointer-events: none;
  }
  &::before {
    content: '\e90a';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-family: 'icomoon' !important;
    font-size: 20px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;
    text-indent: 0;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 6;
  }
  &__title {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 40px 0 20px;
    border-radius: 25px;
    background: $secondary-color;
    color: #fff;
    z-index: 5;
    transition: $default-transition;
    transform: translateX(25%) scaleX(0);
    @media (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
  }
  &:hover {
    opacity: 1;
    .link-to-top__title {
      transform: translateX(0) scaleX(1);
    }
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}