@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?31svmk');
  src:  url('../fonts/icomoon.eot?31svmk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?31svmk') format('truetype'),
    url('../fonts/icomoon.woff?31svmk') format('woff'),
    url('../fonts/icomoon.svg?31svmk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_video-sound:before {
  content: "\e900";
  color: #fff;
}
.icon-menu-primary_icon-cart:before {
  content: "\e901";
  color: #fff;
}
.icon-menu-primary_icon-find:before {
  content: "\e902";
  color: #fff;
}
.icon-menu-primary_icon-login_enter:before {
  content: "\e903";
  color: #fff;
}
.icon-menu-primary_icon-login:before {
  content: "\e904";
  color: #fff;
}
.icon-menu-primary_icon-phone:before {
  content: "\e905";
  color: #fff;
}
.icon-menu-primary_icon-whishlist:before {
  content: "\e906";
  color: #fff;
}
.icon-menu-secondary_icon-contacts:before {
  content: "\e907";
  color: #dd9f22;
}
.icon-menu-secondary_icon-metro:before {
  content: "\e908";
  color: #e4262f;
}
.icon-menu-secondary_icon-shop:before {
  content: "\e909";
  color: #dd9f22;
}
.icon-slider-left:before {
  content: "\e90a";
  color: #fff;
}
.icon-slider-right:before {
  content: "\e90b";
  color: #fff;
}


