/*
BUTTONS GEOMETRY
___
# class .button in (_parts/buttons.scss)
*/

$button-gap: 6px;
$button-height: 52px;
$button-border-radius: 0;
$button-border: #fff;
$button-border-width: 2px;

%buttonsGeometry {
  position: relative;
  display: inline-block;
  height: $button-height;
  padding: 0 ($button-gap * 4);
  background-color: transparent;
  border: $button-border-width solid $button-border;
  border-radius: $button-border-radius;
  font-family: 'bebas', sans-serif !important;
  font-size: 18px;
  line-height: $button-height - ($button-border-width * 2);
  text-decoration: none;
  text-transform: uppercase;
  transition: $default-transition;
  color: #fff;
  letter-spacing: 3.6px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  outline: none;
  &:hover ,
  &:focus{
    text-decoration: none;
    color: #fff;
    outline: none;
  }
}