/*
FONTS
 */

$main-font: 'rawline', sans-serif; // main font for the project
$title-font: 'bebas', sans-serif; // main font for the project
$base-font: $main-font; // default font for the project (_reset/base.scss)