/*
MAIN COLORS
*/

$base-bg: #fff; // BODY background

/* LOAD PAGE */
$body-load-bg: $base-bg; // BODY background on load page
$preloader-width: 2rem; // Preloader's size (width and height)
$preloader-default-color: #ccc; // Preloader's border color
$preloader-active-color: coral; // Preloader's border color
$preloader-border-width: 2px; // Preloader's border-width

/* MAIN COLORS */
$orange: #dd9f22;
$yellow: #ffd148;
$line-color: #a2a2a2;
$border-color: #ccc;
$title-lines-color: #e3e3e3;
$primary-color: $black;
$secondary-color: $orange;
$third-color: $yellow;
$footer-bg: #333;



