/*
RESET STYLES
 */

html {
  height: 100%;
  -webkit-text-size-adjust: none !important;
  -ms-text-size-adjust: none !important;
  text-size-adjust: none !important;
  -webkit-font-size-adjust: none !important;
  font-size-adjust: none !important;
  font-family: $base-font; // (_main/fonts.scss)
  line-height: $base-line-height; // (_main/view-text.scss)
  font-size: $base-md-font-size; // (_main/view-text.scss)
  @media (min-width: 320px) and (max-width: 1024px) {
    font-size: $base-sm-font-size; // (_main/view-text.scss)
  }
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $base-bg; // (_main/main-colors.scss)
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.is-load {
    background: $body-load-bg; // (_main/main-colors.scss)
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

.view-header,
.view-header-info,
.view-mobile-header,
.view-share,
.box-search,
.view-section,
.view-footer {
  font-family: $main-font !important;
  line-height: $base-line-height !important; // (_main/view-text.scss)
  font-size: $base-md-font-size !important; // (_main/view-text.scss)
}
