/*
FONTS LOOP
 */

@font-face {
  font-family: 'rawline';
  src: url('../fonts/rawline-400.eot');
  src: url('../fonts/rawline-400.eot?#iefix') format("embedded-opentype"),
  url('../fonts/rawline-400.woff') format("woff"),
  url('../fonts/rawline-400.woff2') format("woff2"),
  url('../fonts/rawline-400.svg') format("svg"),
  url('../fonts/rawline-400.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'rawline';
  src: url('../fonts/rawline-500.eot');
  src: url('../fonts/rawline-500.eot?#iefix') format("embedded-opentype"),
  url('../fonts/rawline-500.woff') format("woff"),
  url('../fonts/rawline-500.woff2') format("woff2"),
  url('../fonts/rawline-500.svg') format("svg"),
  url('../fonts/rawline-500.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rawline';
  src: url('../fonts/rawline-600.eot');
  src: url('../fonts/rawline-600.eot?#iefix') format("embedded-opentype"),
  url('../fonts/rawline-600.woff') format("woff"),
  url('../fonts/rawline-600.woff2') format("woff2"),
  url('../fonts/rawline-600.svg') format("svg"),
  url('../fonts/rawline-600.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'rawline';
  src: url('../fonts/rawline-700.eot');
  src: url('../fonts/rawline-700.eot?#iefix') format("embedded-opentype"),
  url('../fonts/rawline-700.woff') format("woff"),
  url('../fonts/rawline-700.woff2') format("woff2"),
  url('../fonts/rawline-700.svg') format("svg"),
  url('../fonts/rawline-700.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'rawline';
  src: url('../fonts/rawline-900.eot');
  src: url('../fonts/rawline-900.eot?#iefix') format("embedded-opentype"),
  url('../fonts/rawline-900.woff') format("woff"),
  url('../fonts/rawline-900.woff2') format("woff2"),
  url('../fonts/rawline-900.svg') format("svg"),
  url('../fonts/rawline-900.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeueRegular.ttf') format("truetype"),
  url('../fonts/BebasNeueRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}