/*
VIEW-WRAPPER
 */

// ON LOAD PAGE
.is-load .view-wrapper {
  visibility: hidden;
}

.view-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  padding: 0;
  overflow: hidden;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding-top: 70px!important;
  }
  &.padding-top {
    padding-top: 90px;
    @media(min-width: 1025px) and (max-width: 1670px) {
      padding-top: 80px;
    }
    @media (min-width: 320px) and (max-width: 1024px) {
      padding-top: 140px!important;
    }
  }
  &.not-share {
    padding-top: 50px;
    @media(min-width: 1025px) and (max-width: 1670px) {
      padding-top: 40px;
    }
    @media (min-width: 320px) and (max-width: 1024px) {
      padding-top: 70px !important;
    }
  }
  &.has-white-header {
    &.padding-top {
      padding-top: 190px;
      @media(min-width: 1025px) and (max-width: 1670px) {
        padding-top: 180px;
      }
      @media (min-width: 320px) and (max-width: 1024px) {
        padding-top: 140px!important;
      }
    }
    &.not-share {
      padding-top: 150px;
      @media(min-width: 1025px) and (max-width: 1670px) {
        padding-top: 140px;
      }
      @media (min-width: 320px) and (max-width: 1024px) {
        padding-top: 70px !important;
      }
    }
  }
}

.fb-container {
  position: relative;
  min-width: 320px;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 0 15px;
  }
}