/*
TEXT FORMATTING in blocks .view-text
___
# variables for H1-H6, P, UL/LI/OL in (_main/view-text.scss)
# variables for A (links) in (_main/links.scss)
 */

.view-text {

  .box-title {
    align-items: baseline;
    h1 {
      padding: 0 30px;
      text-align: center;
    }
    &--white {
      .box-title__lines {
        &::before {
          border-top-color: #fff;
          border-bottom-color: #fff;
        }
        &::after {
          background: #fff;
        }
      }
      h1 {
        color: #fff !important;
      }
    }
    &__lines {
      position: relative;
      flex-grow: 1;
      min-height: 28px;
      @media (min-width: 320px) and (max-width: 1024px) {
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        width: 100px;
        height: 100%;
        border-top: 2px solid $title-lines-color;
        border-bottom: 2px solid $title-lines-color;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background: $title-lines-color;
        transform: translateY(-50%);
      }
      &--left {
        &::before {
          right: 0;
        }
      }
      &--right {
        &::before {
          left: 0;
        }
      }
    }
  }

  /* VIEW-TEXT TITLES */

  h1 {
    padding: $view-padding-h1;
    font-family: $view-font-family-h1!important;
    font-size: $view-font-size-h1!important;
    line-height: $view-line-height-h1!important;
    font-weight: $view-font-weight-h1!important;
    color: $view-color-h1!important;
    letter-spacing: 4px;
    @media (min-width: 320px) and (max-width: 1024px) {
      font-size: 25px !important;
      line-height: 1.3 !important;
      letter-spacing: 2.5px;
    }
  }

  h2 {
    display: block;
    max-width: 721px;
    margin: auto;
    padding: $view-padding-h2;
    font-family: $view-font-family-h2;
    font-size: $view-font-size-h2;
    line-height: $view-line-height-h2;
    font-weight: $view-font-weight-h2;
    color: $view-color-h2;
    text-align: center;
    @media (min-width: 320px) and (max-width: 1024px) {
      padding-top: 30px;
    }
  }

  h3 {
    padding: $view-padding-h3;
    font-family: $view-font-family-h3;
    font-size: $view-font-size-h3;
    line-height: $view-line-height-h3;
    font-weight: $view-font-weight-h3;
    color: $view-color-h3;
  }

  h4 {
    padding: $view-padding-h4;
    font-family: $view-font-family-h4;
    font-size: $view-font-size-h4;
    line-height: $view-line-height-h4;
    font-weight: $view-font-weight-h4;
    color: $view-color-h4;
  }

  h5 {
    padding: $view-padding-h5;
    font-family: $view-font-family-h5;
    font-size: $view-font-size-h5;
    line-height: $view-line-height-h5;
    font-weight: $view-font-weight-h5;
    color: $view-color-h5;
  }

  h6 {
    padding: $view-padding-h6;
    font-family: $view-font-family-h6;
    font-size: $view-font-size-h6;
    line-height: $view-line-height-h6;
    font-weight: $view-font-weight-h6;
    color: $view-color-h6;
  }

  /* VIEW-TEXT PARAGRAPHS */

  p {
    padding: $view-padding-p;
    font-family: $view-font-family-p;
    font-size: $view-font-size-p;
    line-height: $view-line-height-p;
    font-weight: $view-font-weight-p;
    color: $view-color-p;
  }

  // LISTS
  ul, li, ol {
    list-style: $view-list;
  }

  // LINKS
  a {
    text-decoration: $view-link-color-decoration;
    color: $view-link-color;
    transition: $view-link-transition;
    &:hover {
      color: $view-link-color-hover;
      text-decoration: $view-link-color-decoration-hover;
    }
  }

}