.box-category {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, .8) 0%, transparent 30%);
    pointer-events: none;
    z-index: 2;
    transition: $product-transition;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    pointer-events: none;
    z-index: 2;
    transition: $product-transition;
    opacity: 0;
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: $product-transition;
    }
  }
  &__content {
    position: absolute;
    bottom: -50px;
    left: 25px;
    width: calc(100% - 50px);
    z-index: 3;
    transition: $product-transition;
    @media (min-width: 320px) and (max-width: 1024px) {
      left: 20px;
    }
    &__title {
      position: relative;
      display: block;
      margin-bottom: 10px;
      padding-bottom: 15px;
      font-family: $title-font;
      font-size: 16px;
      letter-spacing: 3.2px;
      text-decoration: none;
      color: #fff;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 1px;
        background: #fff;
        transition: $product-transition;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: #fff;
        &::before {
          width: 100%;
        }
      }
    }
    &__desc {
      display: block;
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 1.2;
      font-weight: 700;
      text-decoration: none;
      color: #fff;
      transition: $default-transition;
      @media (min-width: 320px) and (max-width: 1024px) {
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 1.2px;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: $secondary-color;
      }
    }
    .button {
      opacity: 0;
    }
  }
  &:hover {
    @media (min-width: 1025px) {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
      .box-category__img {
        img {
          transform: scale(1.05);
        }
      }
      .box-category__content {
        bottom: 20px;
        .button {
          opacity: 1;
        }
      }
    }
  }
}