.box-search {
  position: absolute;
  top: 219px;
  left: 0;
  width: 100%;
  height: calc(100vh - 219px);
  background: #fff;
  color: $black;
  transition: $slow-transition;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  @media(min-width: 1025px) and (max-width: 1670px) {
    top: 179px;
    height: calc(100vh - 179px);
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    top: 140px;
    height: calc(100vh - 140px);
  }
  &.is-active {
    pointer-events: all;
    opacity: 1;
  }
  &.not-share {
    top: 179px;
    height: calc(100vh - 179px);
    @media(min-width: 1025px) and (max-width: 1670px) {
      top: 139px;
      height: calc(100vh - 139px);
    }
    @media (min-width: 320px) and (max-width: 1024px) {
      top: 70px;
      height: calc(100vh - 70px);
    }
  }
  &.is-scroll {
    position: fixed;
    top: 61px;
    height: calc(100vh - 61px);
    @media (min-width: 320px) and (max-width: 1024px) {
      top: 70px;
      height: calc(100vh - 70px);
    }
  }
  &__close {
    position: absolute;
    top: calc(10vh + 0px);
    left: 50%;
    display: block;
    padding-top: 33px;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    transform: translateX(-50%);
    transition: $slow-transition;
    @media (min-width: 320px) and (max-width: 1024px) {
      display: none;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      color: $secondary-color;
      .box-search__close__cross {
        &::before,
        &::after {
          background: $secondary-color;
        }
      }
    }
    &__cross {
      position: absolute;
      top: 0;
      left: 50%;
      width: 20px;
      height: 20px;
      transform: translateX(-50%);
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 2px;
        height: 100%;
        background: $black;
        transition: $slow-transition;
      }
      &::before {
        transform: skewX(-45deg);
      }
      &::after {
        transform: skewX(45deg);
      }
    }
    &__title {
      display: block;
    }
  }
  &__form {
    width: 100%;
    max-width: 1230px;
    height: auto !important;
    &__field {
      width: 100%;
      padding: 0 15px;
      @media (min-width: 320px) and (max-width: 1024px) {
        padding: 0 20px;
      }
      .control-holder {
        display: block;
        width: 100%;
        border-color: transparent;
        border-bottom: 2px solid #999;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 2.5px;
        color: $black;
        transition: $product-transition;
        outline: none;
        @media (min-width: 320px) and (max-width: 1024px) {
          padding: 10px;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 1px;
          text-align: center;
        }
        &:focus {
          border-bottom-color: $secondary-color;
        }
      }
      .button {
        margin-top: 50px;
        margin-right: 0;
        padding-right: 15px;
        @media (min-width: 320px) and (max-width: 1024px) {
          display: none;
        }
        .icon {
          display: inline-block;
          transform: translateY(2px);
          &::before {
            color: $secondary-color;
            transition: $default-transition;
          }
        }
        &:hover {
          .icon {
            &::before {
              color: #fff;
            }
          }
        }
      }
    }
  }
}