.products-list {
  margin: 0;
  padding: 35px 0 0;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 10px 0 0;
  }
  &__item {
    position: relative;
    margin: 25px 0;
    padding: 0 20px;
    list-style-type: none;
    @media (min-width: 320px) and (max-width: 1024px) {
      margin: 15px 0;
      padding: 0 5px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      flex-basis: 50%;
      width: 50%;
    }
    &__img {
      position: relative;
      display: block;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: $product-transition;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        opacity: 0;
        transition: $product-transition;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
    &__brand {
      position: relative;
      display: block;
      margin: 5px 30px;
      padding: 10px 0;
      font-family: $title-font;
      font-size: 20px;
      letter-spacing: 4px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #999;
      @media (min-width: 320px) and (max-width: 1024px) {
        font-size: 16px;
        letter-spacing: 1.2px;
        color: #666;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: #999;
        transform: scaleX(1);
        transition: $slow-transition;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: $secondary-color;
        &::before {
          transform: scaleX(.8);
        }
      }
    }
    &__title {
      display: block;
      padding: 0 45px 65px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
      text-decoration: none;
      color: $black;
      transition: $default-transition;
      @media (min-width: 320px) and (max-width: 1024px) {
        padding: 0 0 55px;
        font-size: 14px;
        line-height: 1.2;
      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: $secondary-color;
      }
    }
    &__cost {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-family: 'rawline', sans-serif;
      font-size: 24px;
      font-weight: 900;
      text-align: center;
      @media (min-width: 320px) and (max-width: 1024px) {
        font-size: 18px;
      }
      &__old {
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: line-through;
        color: #999;
        @media (min-width: 320px) and (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }
}