.view-share {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(../images/homepage/img_sale-bg.jpg) no-repeat;
  background-size: cover;
  transition: $default-transition;
  z-index: 10;
  @media (min-width: 320px) and (max-width: 1024px) {
    justify-content: space-between;
    height: 70px;
  }
  &.is-hide {
    transform: translateY(-50%) scaleY(0);
  }
  &__content {
    position: relative;
    flex-grow: 1;
    display: block;
    padding: 7px 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    letter-spacing: .8px;
    z-index: 1;
    @media (min-width: 320px) and (max-width: 1024px) {
      max-width: 85%;
      padding: 10px 0 10px 20px;
      text-align: left;
      line-height: 1.5;
    }
    &:focus {
      text-decoration: none;
      color: #fff;
    }
    &__button {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 26px;
      margin-left: 25px;
      padding: 0 12px;
      border: 1px solid #fff;
      font-family: $title-font !important;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: $default-transition;
      @media (min-width: 320px) and (max-width: 1024px) {
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0;
        transition: $default-transition;
      }
      .text-label {
        position: relative;
        z-index: 2;
      }
      &:hover {
        color: #000;
        &::before {
          opacity: 1;
        }
      }
    }
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  &-close {
    position: absolute;
    top: calc(50% - 8px);
    right: 25px;
    display: block;
    width: 16px;
    height: 16px;
    z-index: 2;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 2px;
      height: 100%;
      background: #fff;
      transition: $default-transition;
    }
    &::before {
      transform: skew(-45deg);
    }
    &::after {
      transform: skew(45deg);
    }
    &:hover {
      &::before,
      &::after {
        background: $third-color;
      }
    }
  }
}