.view-footer {
  position: relative;
  order: 3;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: $footer-bg;
  text-align: left;
  color: $black;
  &__content {
    padding-left: 60px;
    @media(min-width: 320px) and (max-width: 1441px) {
      padding-left: 0;
    }
    @media(min-width: 320px) and (max-width: 1279px) {
      flex-wrap: wrap;
    }
    @media(min-width: 320px) and (max-width: 1024px) {
      justify-content: center;
    }
    .box-auth {
      width: 100%;
      padding: 30px 0 20px;
      &__link {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 50px;
        border: 1px solid #fff;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        transition: $default-transition;
        &:hover,
        &:focus {
          background: #fff;
          text-decoration: none;
          color: $black;
          .icon::before {
            color: $black;
          }
        }
        &__span {
          display: flex;
          align-items: center;
          .icon::before {
            font-size: 22px;
            transition: $default-transition;
          }
          &-title {
            display: block;
            padding-left: 10px;
            transform: translateY(-2px);
          }
        }
      }
      @media(min-width: 1025px) {
        display: none;
      }
    }
    .box-logo {
      display: block;
      width: 100%;
      max-width: 150px;
      opacity: .3;
      transition: $default-transition;
      @media(min-width: 320px) and (max-width: 1441px) {
        display: none;
      }
      img {
        display: block;
        width: 100%;
      }
      &:hover {
        opacity: .7;
      }
    }
    .box-sourcemap {
      @media(min-width: 660px) and (max-width: 1024px) {
        width: 50%;
      }
      @media(min-width: 320px) and (max-width: 659px) {
        width: 100%;
        padding-bottom: 14px;
      }
      .source-map-list {
        @media(min-width: 660px) and (max-width: 1024px) {
          justify-content: flex-start;
        }
        @media(min-width: 400px) and (max-width: 659px) {
          justify-content: center;
        }
        @media(min-width: 320px) and (max-width: 399px) {
          justify-content: space-between;
          padding: 0 15px;
        }
        &__item {
          list-style-type: none;
          @media(min-width: 320px) and (max-width: 399px) {
            flex-basis: 50%;
          }
          &__link {
            display: block;
            padding: 10px 37px;
            text-decoration: none;
            color: #fff;
            transition: $default-transition;
            @media(min-width: 320px) and (max-width: 399px) {
              padding: 10px 5px;
            }
            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
    .box-contacts {
      @media(min-width: 1025px) and (max-width: 1279px) {
        padding: 20px 0 30px;
      }
      @media(min-width: 320px) and (max-width: 1024px) {
        margin: 0 15px;
      }
      .box-phone {
        transform: translateY(11px);
        &__line {
          display: block;
          flex-grow: 1;
          height: 1px;
          background: #666;
          &:first-child {
            max-width: 18px;
          }
        }
        &__link {
          display: block;
          padding: 0 10px;
          font-size: 24px;
          font-weight: 700;
          text-decoration: none;
          color: #fff;
          transition: $default-transition;
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .box-address {
        padding: 20px 30px;
        border: 1px solid #666;
        border-top-color: transparent;
        @media(min-width: 320px) and (max-width: 767px) {
          padding: 20px 14px;
        }
        i {
          margin-right: 5px;
        }
        p {
          margin: 0;
          padding: 8px 0;
          color: #fff;
        }
      }
    }
    .box-social {
      @media(min-width: 1025px) and (max-width: 1279px) {
        padding-right: 25px;
      }
      @media(min-width: 320px) and (max-width: 1024px) {
        width: 100%;
        padding: 8px 0;
      }
      .social-list {
        margin: 0;
        padding: 0;
        @media(min-width: 1025px) and (max-width: 1670px) {
          max-width: 132px;
          flex-wrap: wrap;
          justify-content: center;
        }
        @media(min-width: 320px) and (max-width: 1024px) {
          justify-content: center;
        }
        &__item {
          width: 100%;
          max-width: 66px;
          padding: 12px;
          list-style-type: none;
          @media(min-width: 1025px) and (max-width: 1670px) {
            flex-basis: 50%;
          }
          &__link {
            display: block;
            width: 100%;
            max-width: 42px;
            transition: $default-transition;
            opacity: .3;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .box-map {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      max-width: 500px;
      @media(min-width: 1280px) and (max-width: 1670px) {
        max-width: 368px;
      }
      @media(min-width: 320px) and (max-width: 1279px) {
        max-width: none;
        height: 150px;
      }
      &__img {
        display: block;
        width: 100%;
        height: 100%;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        .box-map__img {
          img {
            transform: scale(1.3);
          }
        }
      }
      &__img {
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
          transition: $product-transition;
        }
      }
      &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &__img {
          display: block;
          width: 100%;
          max-width: 37px;
          img {
            display: block;
            width: 100%;
          }
        }
        &__text {
          padding-left: 20px;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          @media(min-width: 320px) and (max-width: 767px) {
            padding-left: 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
  &__copyright {
    padding: 11px 30px;
    background: #2b2b2b;
    @media(min-width: 320px) and (max-width: 767px) {
      flex-wrap: wrap;
      padding: 16px 20px;
    }
    .box-copyright {
      font-size: 12px;
      color: #fff;
      letter-spacing: .12px;
      @media(min-width: 320px) and (max-width: 767px) {
        order: 2;
      }
      &__link {
        text-decoration: none;
        color: #fff;
      }
    }
    .box-pay-services {
      width: 100%;
      max-width: 330px;
      @media(min-width: 320px) and (max-width: 767px) {
        order: 1;
        max-width: none;
        margin-bottom: 24px;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    .box-powered {
      @media(min-width: 320px) and (max-width: 767px) {
        order: 3;
      }
      &__title {
        padding-right: 8px;
        font-size: 12px;
        color: #fff;
      }
      &__img {
        width: 100%;
        max-width: 42px;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}