.view-section {
  position: relative;
  width: 100%;
  order: 2;
  flex-grow: 1;
}
.box-main-slider {
  .main-slider {
    .slick-prev,
    .slick-next {
      top: calc(50% - 35px);
      @media (min-width: 767px) and (max-width: 1024px) {
        top: 50%;
      }
    }
    .slick-slide {
      position: relative;
      outline: none;
      z-index: 11;
      &.slick-active {
        .main-slider__title {
          .text-fade {
            span {
              transition: all .7s ease-in-out;
              transition-delay: .7s;
              transform: scaleY(1);
              @media (min-width: 320px) and (max-width: 767px) {
                transition: 0s;
                transition-delay: 0s;
                transform: none;
              }
            }
            &::before {
              transition: all .8s ease-in-out;
              transition-delay: .8s;
              transform: translateX(0) scaleX(1);
              @media (min-width: 320px) and (max-width: 767px) {
                transition: 0s;
                transition-delay: 0s;
                @media (min-width: 320px) and (max-width: 767px) {
                  transform: translateX(-50%) scaleX(.8);
                }
              }
            }
          }
          &__button {
            &.button-fade {
              transition: all 1.2s ease-in-out;
              transition-delay: 1s;
              opacity: 1;
              @media (min-width: 320px) and (max-width: 767px) {
                transition: $default-transition;
                transition-delay: 0s;
              }
            }
          }
        }
      }
    }
    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      color: #fff;
      transform: translate(-50%, -50%);
      @media (min-width: 1280px) and (max-width: 1441px) {
        top: auto;
        bottom: 26px;
        transform: translate(-50%, 0);
      }
      @media (min-width: 320px) and (max-width: 767px) {
        position: relative;
        top: auto;
        left: auto;
        padding-top: 25px;
        transform: none;
      }
      &.banner-left {
        left: 10%;
        text-align: left;
        transform: translateY(-50%);
        @media (min-width: 1280px) and (max-width: 1441px) {
          transform: none;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          left: auto;
          transform: none;
          text-align: center;
        }
        .text-fade {
          &::before {
            transform: translateX(-50%) scaleX(0);
            @media (min-width: 320px) and (max-width: 767px) {
              transform: translateX(-50%) scaleX(.8);
            }
          }
        }
      }
      &.banner-right {
        left: auto;
        right: 10%;
        text-align: right;
        transform: translateY(-50%);
        @media (min-width: 1280px) and (max-width: 1441px) {
          transform: none;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          right: auto;
          transform: none;
          text-align: center;
        }
        .text-fade {
          &::before {
            transform: translateX(50%) scaleX(0);
            @media (min-width: 320px) and (max-width: 767px) {
              transform: translateX(-50%) scaleX(1);
            }
          }
        }
      }
      .text-fade {
        line-height: 1;
        span {
          display: block;
          transform: scaleY(0);
          @media (min-width: 320px) and (max-width: 767px) {
            transform: none;
          }
        }
      }
      &__img {
        img {
          display: block;
          width: 100%;
          height: 100%;
          min-height: 36vw;
          object-fit: cover;
          object-position: center;
          @media (min-width: 768px) and (max-width: 1024px) {
            min-height: 300px;
          }
          @media (min-width: 320px) and (max-width: 767px) {
            min-height: 200px;
          }
        }
      }
      h1 {
        position: relative;
        display: block;
        margin: 10px 0;
        padding: 10px 0;
        font-family: $main-font !important;
        font-size: 70px !important;
        text-transform: uppercase;
        letter-spacing: 7px;
        font-weight: 900 !important;
        color: #fff !important;
        @media (min-width: 1280px) and (max-width: 1441px) {
          font-size: 60px !important;
        }
        @media(min-width: 1025px) and (max-width: 1279px) {
          font-size: 40px !important;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          margin-bottom: 13px;
          padding: 15px 0 8px;
          font-size: 25px !important;
          letter-spacing: normal;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          margin-bottom: 13px;
          padding: 15px 0 8px;
          font-size: 25px !important;
          color: $black !important;
          letter-spacing: normal;
        }
        &::before {
          content: '';
          position: absolute;
          top: 5px;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: translateX(0) scaleX(0);
          @media (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            max-width: 320px;
            left: 50%;
            border-top-color: #ccc;
            border-bottom-color: #ccc;
            transform: translateX(-50%) scaleX(1);
          }
        }
      }
      h2 {
        display: block;
        font-family: $main-font !important;
        font-size: 50px !important;
        letter-spacing: 2.5px;
        font-weight: 900 !important;
        color: #fff !important;
        @media (min-width: 1025px) and (max-width: 1441px) {
          font-size: 42px !important;
        }
        @media(min-width: 1025px) and (max-width: 1279px) {
          font-size: 30px !important;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          font-size: 20px !important;
          letter-spacing: normal;
        }
        @media (min-width: 320px) and (max-width: 767px) {
          font-size: 20px !important;
          color: $black !important;
          letter-spacing: normal;
        }
      }
      &__button {
        padding-top: 60px;
        @media(min-width: 1025px) and (max-width: 1279px) {
          display: none;
        }
        @media (min-width: 320px) and (max-width: 1024px) {
          padding-top: 25px;
        }
        .button {
          @media (min-width: 320px) and (max-width: 767px) {
            border-color: $secondary-color;
            .text-label {
              color: $black;
            }
            &::before {
              border-color: $secondary-color;
            }
            &::after {
              background: $secondary-color;
            }
            &:hover {
              .text-label {
                color: #fff;
              }
            }
          }
        }
        &.button-fade {
          opacity: 0;
          @media (min-width: 320px) and (max-width: 767px) {
            opacity: 1;
          }
        }
      }
    }
  }
}
.view-guitars {
  padding: 100px 0 75px;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 40px 0 0;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: 25px;
    border-top: 1px solid #ccc;
  }
}
.view-accessories {
  padding-bottom: 75px;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 15px 0;
  }
}
.box-video {
  position: relative;
  max-height: 840px;
  overflow: hidden;
  video {
    object-fit: cover;
  }
  .homepage-video {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
  }
  &__buttons {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 2;
    .video-volume {
      position: absolute;
      bottom: 0;
      right: 30px;
      display: block;
      width: 25px;
      height: 25px;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      font-size: 25px;
      z-index: 3;
      outline: none;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 40%;
        display: block;
        width: 2px;
        height: 100%;
        background: #fff;
        transform: skew(-45deg) scaleY(0);
        transition: $normal-transition;
      }
      i {
        display: block;
        &::before {
          color: #fff;
        }
      }
      &:hover,
      &.is-mute {
        &::before {
          transform: skew(-45deg) scaleY(1);
        }
      }
    }
  }
}
.view-categories {
  &__row {
    padding-bottom: 6px;
    @media (min-width: 320px) and (max-width: 1024px) {
      flex-wrap: wrap;
    }
    @media (min-width: 500px) and (max-width: 1024px) {
      padding-bottom: 0;
    }
    &__column {
      &--left {
        flex-basis: 30%;
        height: calc(40vw + 0px);
        overflow: hidden;
        @media (min-width: 320px) and (max-width: 1024px) {
          flex-basis: 100%;
          height: auto;
          padding-bottom: 6px;
        }
        .box-category {
          width: 100%;
          height: 100%;
          @media (min-width: 320px) and (max-width: 1024px) {
            height: calc(50vw + 0px);
          }
        }
        .box-category__img {
          width: 100%;
          height: 100%;
        }
      }
      &--right {
        flex-basis: 70%;
        height: calc(40vw + 0px);
        overflow: hidden;
        padding-left: 3px;
        @media (min-width: 320px) and (max-width: 1024px) {
          flex-basis: 100%;
          padding-left: 0;
          height: auto;
        }
        .box-category {
          width: 100%;
          height: calc(20vw - 3px);
          @media (min-width: 500px) and (max-width: 1024px) {
            height: calc(30vw + 0px);
          }
          @media (min-width: 320px) and (max-width: 499px) {
            height: calc(50vw + 0px);
          }
        }
      }
    }
  }
  .colletions-list {
    width: calc(100% + 6px);
    margin: 0;
    padding: 0;
    @media (min-width: 320px) and (max-width: 499px) {
      width: calc(100% + 6px);
    }
    &__item {
      padding: 0 3px 6px 3px;
      list-style-type: none;
      @media (min-width: 500px) and (max-width: 1024px) {
        padding: 0 6px 6px 0;
      }
      @media (min-width: 320px) and (max-width: 499px) {
        flex-basis: 100%;
        padding: 0 0 6px 0;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
.view-news {
  padding: 100px 0;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 40px 0;
  }
  &__carousel {
    width: calc(100% + 6px);
    min-height: 100%;
    margin-top: 60px;
    margin-left: -3px;
    @media (min-width: 320px) and (max-width: 1024px) {
      margin-top: 30px;
    }
    &.slick-slider {
      min-height: 100%;
      .slick-track,
      .slick-list {
        min-height: 100%;
      }
      .slick-slide {
        position: relative;
        min-height: 100%;
        padding: 0 3px;
        & > div {
          min-height: 100%;
          & > div {
            min-height: 100%;
          }
        }
      }
    }
    .box-new {
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      &__img {
        width: 100%;
        height: calc((100vw - 30px) / 6);
        @media (min-width: 1171px) and (max-width: 1440px) {
          height: calc((100vw - 24px) / 5);
        }
        @media (min-width: 1025px) and (max-width: 1170px) {
          height: calc((100vw - 18px) / 4);
        }
        @media (min-width: 651px) and (max-width: 1024px) {
          height: calc((100vw - 12px) / 3);
        }
        @media (min-width: 401px) and (max-width: 650px) {
          height: calc((100vw - 6px) / 2);
        }
        @media (min-width: 320px) and (max-width: 400px) {
          height: calc(100vw + 0px);
        }
        img {
          display: block;
          width: 100%;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
          transition: $product-transition;
        }
      }
      &__desc {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 25px 20px;
        background: rgba(0, 0, 0, .7);
        opacity: 0;
        transition: $product-transition;
        pointer-events: none;
        @media (min-width: 320px) and (max-width: 1024px) {
          display: none;
        }
        &__text {
          max-height: 100%;
          margin: auto;
          font-weight: 500;
          letter-spacing: 1.4px;
          line-height: 1.3;
          text-align: center;
          color: #fff;
          overflow: hidden;
          p {
            font-weight: 500;
            letter-spacing: 1.4px;
            line-height: 1.3;
            text-align: center;
            color: #fff;
          }
          a {
            color: $yellow;
            text-decoration: none;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      &:hover {
        .box-new__img {
          img {
            transform: scale(1.05);
          }
        }
        .box-new__desc {
          opacity: 1;
        }
      }
    }
  }
  &__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 20;
    transform: scaleX(0);
    transition: $slow-transition;
    cursor: pointer;
    &.is-active {
      transform: scaleX(1);
    }
  }
  &__popup__content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 500px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%) scaleY(0);
    transition: $slow-transition;
    z-index: 21;
    @media (min-width: 320px) and (max-width: 1024px) {
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      max-width: none;
      height: calc(100vh - 30px);
      max-height: none;
      transform: scaleY(0);
      overflow-y: auto;
    }
    &.is-active {
      transform: translate(-50%, -50%) scaleY(1);
      @media (min-width: 320px) and (max-width: 1024px) {
        transform: scaleY(1);
      }
    }
    .slick-slider {
      //height: 100%;
      //min-height: 100%;
      //.slick-list {
      //  min-height: 100%;
      //  overflow: auto;
      //}
      //.slick-track {
      //  min-height: 100%;
      //}
      //.slick-slide {
      //  position: relative;
      //  height: 100%;
      //  min-height: 100%;
      //  & > div {
      //    height: 100%;
      //    min-height: 100%;
      //    & > div {
      //      height: 100%;
      //      min-height: 100%;
      //    }
      //  }
      //}
      @media (min-width: 1025px) {
        height: 100%;
        min-height: 100%;
        .slick-track,
        .slick-list {
          height: 100%;
          min-height: 100%;
        }
        .slick-slide {
          position: relative;
          height: 100%;
          & > div {
            height: 100%;
            & > div {
              height: 100%;
            }
          }
        }
      }
      .slick-prev,
      .slick-next {
        @media (min-width: 768px) and (max-width: 1024px) {
          top: calc(50vh + 0px);
        }
        @media (min-width: 320px) and (max-width: 767px) {
          top: 145px;
        }
      }
      .slick-next {
        right: auto;
        left: calc(50% - 57px);
        @media (min-width: 320px) and (max-width: 1024px) {
          left: auto;
          right: 20px;
        }
      }
    }
    .box-new {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 100%;
      flex-grow: 1;
      overflow-y: auto;
      @media (min-width: 320px) and (max-width: 1024px) {
        display: block;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 60px;
        height: 60px;
        background: rgba(0, 0, 0, .75);
      }
      &__img {
        display: block;
        height: 100%;
        overflow: hidden;
        outline: none;
        @media (min-width: 320px) and (max-width: 767px) {
          min-height: 290px;
          max-height: 290px;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          @media (min-width: 320px) and (max-width: 767px) {
            min-height: 290px;
            max-height: 290px;
          }
        }
      }
      &__desc {
        position: relative;
        padding: 25px 20px;
        background: #fff;
        @media (min-width: 320px) and (max-width: 1024px) {
          padding: 15px 15px 82px;
        }
        &__info {
          width: 100%;
          margin-bottom: 40px;
          @media (min-width: 320px) and (max-width: 1024px) {
            margin-bottom: 15px;
          }
          .box-logo {
            color: $black;
            text-decoration: none;
            outline: none;
            &__img {
              display: block;
              width: 100%;
              max-width: 40px;
              img {
                display: block;
                width: 100%;
              }
            }
            &__label {
              display: block;
              width: 100%;
              padding-left: 8px;
              font-size: 16px;
              font-weight: 900;
              text-transform: uppercase;
              transition: $default-transition;
            }
            &:hover {
              .box-logo__label {
                color: $secondary-color;
              }
            }
          }
          .box-date {
            color: $border-color;
          }
        }
        &__text {
          max-height: 260px;
          line-height: 20px;
          overflow: hidden;
          @media (min-width: 320px) and (max-width: 1024px) {
            max-height: none;
            overflow: visible;
          }
          p {
            line-height: 20px;
          }
          a {
            position: relative;
            text-decoration: none;
            color: $secondary-color;
            transition: $default-transition;
            &::before {
              content: '';
              position: absolute;
              bottom: -2px;
              left: 0;
              display: block;
              width: 100%;
              height: 1px;
              background: $secondary-color;
              transform: scaleX(0);
              transition: $default-transition;
            }
            &:hover {
              text-decoration: none;
              &::before {
                transform: scaleX(1);
              }
            }
          }
        }
        &__stats {
          margin-top: 20px;
          @media (min-width: 320px) and (max-width: 1024px) {
            margin-top: 15px;
          }
          .box-likes,
          .box-comments {
            text-decoration: none;
            color: $secondary-color;
            &__img {
              display: block;
              width: 100%;
              max-width: 20px;
              margin-right: 9px;
            }
            &__count {
              display: block;
            }
          }
          .box-likes {
            margin-right: 24px;
          }
        }
        &__button {
          position: absolute;
          bottom: 25px;
          left: 20px;
          @media (min-width: 320px) and (max-width: 1024px) {
            bottom: 15px;
            left: 15px;
          }
        }
      }
    }
  }
  .close-new {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
    transform: translateY(-39px);
    @media (min-width: 320px) and (max-width: 1024px) {
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      transform: none;
      z-index: 22;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: 3px;
      height: 100%;
      background: #fff;
      transition: $slow-transition;
      @media (min-width: 320px) and (max-width: 1024px) {
        transition: none;
      }
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
    &:hover,
    &.is-active {
      &::before,
      &::after {
        background: $third-color;
        @media (min-width: 320px) and (max-width: 1024px) {
          background: #fff;
        }
      }
    }
  }
}
.view-advantages {
  .advantages-list {
    width: 100%;
    padding: 60px 0 45px;
    @media (min-width: 320px) and (max-width: 1024px) {
      padding: 35px 0;
    }
    &__item {
      justify-content: center;
      padding-bottom: 50px;
      list-style-type: none;
      text-align: center;
      @media (min-width: 600px) and (max-width: 1024px) {
        flex-basis: 50%;
      }
      @media (min-width: 320px) and (max-width: 599px) {
        flex-basis: 100%;
      }
      @media (min-width: 320px) and (max-width: 1024px) {
        padding-bottom: 30px;
      }
      &:hover {
        .advantages-list__item__img {
          img {
            transform: scale(1.15);
          }
        }
      }
      &__img {
        position: relative;
        width: 197px;
        height: 197px;
        margin: auto;
        img {
          display: block;
          width: 100%;
          transition: all 1.5s ease-in-out;
        }
      }
      &__title {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        font-family: $title-font;
        font-size: 25px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        letter-spacing: 2.5px;
      }
      &__desc {
        width: 100%;
        max-width: 250px;
        margin: 15px auto 0;
        padding: 23px 5px 0;
        border-top: 2px solid $border-color;
        line-height: 20px;
      }
    }
  }
}
.view-reviews {
  position: relative;
  padding: 80px 0;
  background: url(../images/homepage/img_reviews-bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 40px 0;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 91px;
    background: url(../images/homepage/img_reviews-bg-front.png) no-repeat;
    z-index: 2;
  }
  &::before {
    top: -10px;
  }
  &::after {
    bottom: -10px;
    transform: scale(-1);
  }
  &__slider {
    margin-top: 40px;
    .slick-prev,
    .slick-next {
      @media (min-width: 320px) and (max-width: 1024px) {
        top: 95px;
      }
    }
    .box-review {
      padding: 20px 100px;
      @media (min-width: 320px) and (max-width: 1024px) {
        flex-direction: column;
        padding: 20px;
      }
      &__img {
        width: 100%;
        max-width: 200px;
        border-radius: 50%;
        border: 2px solid #fff;
        overflow: hidden;
        @media (min-width: 320px) and (max-width: 1024px) {
          max-width: 150px;
        }
      }
      &__content {
        position: relative;
        width: 100%;
        max-width: 1147px;
        margin-left: 60px;
        padding: 20px 30px 40px;
        border: 1px solid #fff;
        border-bottom: none;
        @media (min-width: 320px) and (max-width: 1024px) {
          margin-left: 0;
          padding: 30px 0 0;
          border: none;
          text-align: center;
        }
        &__text {
          font-size: 16px;
          line-height: 26px;
          color: #fff;
          @media (min-width: 320px) and (max-width: 1024px) {
            font-size: 14px;
            line-height: 20px;
          }
        }
        &__author {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          transform: translateY(13px);
          @media (min-width: 320px) and (max-width: 1024px) {
            position: relative;
            justify-content: center;
            padding-top: 30px;
            transform: none;
          }
          &__line {
            height: 1px;
            background: #fff;
            @media (min-width: 320px) and (max-width: 1024px) {
              display: none;
            }
            &:first-child {
              flex-grow: 1;
              max-width: 22px;
            }
            &:last-child {
              flex-grow: 1;
            }
          }
          &__name {
            padding: 0 30px 0 10px;
            font-size: 25px;
            font-weight: 900;
            letter-spacing: 1.25px;
            text-transform: capitalize;
            color: #fff;
            @media (min-width: 320px) and (max-width: 1024px) {
              padding: 0 20px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
.view-about {
  padding: 85px 0 64px;
  @media (min-width: 320px) and (max-width: 1024px) {
    padding: 60px 0 50px;
  }
  &__img {
    width: 100%;
    max-width: 238px;
    margin: 50px auto 0;
    @media (min-width: 320px) and (max-width: 1024px) {
      max-width: 226px;
      margin-top: 35px;
    }
    img {
      display: block;
      width: 100%;
      transition: all 1.5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
.box-brands {
  padding: 5.7vw 100px;
  background: url(../images/homepage/img_brands-bg.jpg) no-repeat;
  background-size: cover;
  @media (min-width: 320px) and (max-width: 1279px) {
    padding: 50px 90px; 
  }
  &__carousel {
    .slick-slide {
      padding: 0 40px;
      outline: none;
      @media(min-width: 320px) and (max-width: 1024px) {
        padding: 0 10px;
      }
    }
    .slick-prev {
      left: -70px;
    }
    .slick-next {
      right: -70px;
    }
    &__link {
      display: block;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }
}