.view-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  order: 1;
  z-index: 10;
  background: transparent;
  @media (min-width: 320px) and (max-width: 1024px) {
    display: none;
  }
  &.padding-top {
    top: 90px;
    @media(min-width: 1025px) and (max-width: 1670px) {
      top: 79px;
    }
  }
  &.not-share {
    top: 50px;
    @media(min-width: 1025px) and (max-width: 1670px) {
      top: 39px;
    }
  }
  &.not-visible {
    top: 0;
    transform: translateY(-50%) scaleY(0);
    transition: none;
  }
  &.is-scroll {
    position: fixed;
    top: 0;
    height: 61px;
    overflow: visible;
    background: #fff;
    border-bottom: 1px solid #ccc;
    transform: translateY(0) scaleY(1);
    transition: $default-transition;
    &::before {
      opacity: 0;
    }
    .view-header__content {
      align-items: center;
      .box-logo {
        max-width: 55px;
        margin: 10px 0 10px 30px;
      }
      .header-nav {
        &-menu {
          &__item {
            &.has-dropdown {
              .dropdown-nav {
                @media(min-width: 1025px) and (max-width: 1530px) {
                  top: 60px;
                }
              }
            }
            &__link {
              color: $black;
            }
          }
        }
      }
      .user-nav {
        margin-top: 0;
        &-menu {
          &__item {
            &__link {
              &.open-search {
                &.is-active {
                  .icon::before {
                    color: $secondary-color;
                  }
                }
              }
              &__title {
                display: none;
              }
              .icon::before {
                color: $black;
              }
              &:hover {
                .icon::before {
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }
    }
  }
  &--white {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    transition: $default-transition;
    &::before {
      opacity: 0;
    }
    .view-header__content {
      .header-nav {
        &-menu {
          &__item {
            &__link {
              color: $black;
            }
          }
        }
      }
      .user-nav {
        &-menu {
          &__item {
            &__link {
              &.open-search {
                &.is-active {
                  .user-nav-menu__item__link__title {
                    color: $secondary-color;
                  }
                  .icon::before {
                    color: $secondary-color;
                  }
                }
              }
              &__title {
                color: $black;
                transition: $default-transition;
              }
              .icon::before {
                color: $black;
              }
              &:hover {
                .user-nav-menu__item__link__title {
                  color: $secondary-color;
                }
                .icon::before {
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left:  0;
    display: block;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), transparent);
  }
  &__content {
    position: relative;
    z-index: 11;
    .box-logo {
      display: block;
      width: 100%;
      max-width: 120px;
      margin: 20px 0 0 30px;
      @media(min-width: 1025px) and (max-width: 1530px) {
        max-width: 80px;
        margin-left: 15px;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    .header-nav {
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0;
      padding: 0;
      transition: $default-transition;
      transform: translateX(-50%);
      @media(min-width: 1025px) and (max-width: 1675px) {
        top: auto;
        left: auto;
        transform: none;
      };
      @media(min-width: 1531px) and (max-width: 1675px) {
        position: relative;
      }
      @media(min-width: 1025px) and (max-width: 1530px) {
        position: static;
      }
      &-menu {
        position: relative;
        margin: 0;
        padding: 0;
        @media(min-width: 1025px) and (max-width: 1530px) {
          position: static;
        }
        &__item {
          list-style-type: none;
          &__link {
            display: block;
            padding: 22px 35px;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
            transition: $default-transition;
            @media(min-width: 1025px) and (max-width: 1530px) {
              padding: 24px 20px;
              font-size: 14px;
            }
            &:hover {
              background: #e3e3e3;
              color: $black;
            }
          }
          &.has-dropdown {
            display: block;
            &:hover {
              .header-nav-menu__item__link {
                background: #e3e3e3;
                color: $black;
              }
              .dropdown-nav {
                display: block;
              }
            }
            .dropdown-nav {
              position: absolute;
              top: 61px;
              left: 0;
              display: none;
              width: 100%;
              margin: 0;
              padding: 40px 30px;
              background: #e3e3e3;
              @media(min-width: 1025px) and (max-width: 1530px) {
                top: 58px;
                left: 50%;
                transform: translateX(-50%);
              }
              @media(min-width: 1170px) and (max-width: 1530px) {
                max-width: 900px;
              }
              @media(min-width: 1025px) and (max-width: 1169px) {
                max-width: 800px;
              }
              &-list {
                margin: 0;
                padding: 0;
                &__item {
                  width: 100%;
                  max-width: 278px;
                  padding: 0 10px;
                  list-style-type: none;
                  @media(min-width: 1025px) and (max-width: 1279px) {
                    max-width: none;
                  }
                  &.type {
                    max-width: none;
                  }
                  &:first-child {
                    max-width: 120px;
                    min-width: 120px;
                    padding: 0 30px 0 10px;
                    @media(min-width: 1025px) and (max-width: 1279px) {
                      display: none;
                    }
                  }
                  &.state {
                    max-width: 150px;
                    min-width: 150px;
                  }
                  .all-products-category {
                    display: block;
                    font-weight: 600;
                    text-decoration: underline;
                    color: $black;
                    &__title {
                      display: block;
                      margin-bottom: 25px;
                      text-align: center;
                    }
                    &__img {
                      display: block;
                      width: 100%;
                      max-width: 104px;
                      transition: $default-transition;
                      opacity: .7;
                      img {
                        display: block;
                        width: 100%;
                      }
                    }
                    &:hover {
                      .all-products-category {
                        &__img {
                          opacity: 1;
                        }
                      }
                    }
                  }
                  &__title {
                    margin: 0 5px 8px;
                    padding: 10px 0;
                    text-transform: uppercase;
                    border-top: 1px solid #838383;
                    border-bottom: 1px solid #838383;
                    font-weight: 700;
                    color: #838383;
                  }
                  &__link {
                    position: relative;
                    display: block;
                    padding: 4px 5px;
                    text-decoration: none;
                    font-weight: 500;
                    line-height: 1.5;
                    color: $black;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .user-nav {
      margin: 20px 0 0;
      padding: 0 5px 0 0;
      transition: $default-transition;
      &-menu {
        margin: 0;
        padding: 0;
        &__item {
          padding: 0 15px;
          list-style-type: none;
          @media(min-width: 1025px) and (max-width: 1279px) {
            padding: 0 5px;
          }
          &__link {
            display: block;
            padding: 0 10px;
            text-decoration: none;
            color: #fff;
            text-align: center;
            transition: $default-transition;
            .icon {
              position: relative;
              font-size: 20px;
              &::before {
                transition: $default-transition;
              }
              .count-products {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background: $third-color;
                font-size: 12px;
                line-height: 21px;
                font-weight: 500;
                letter-spacing: .3px;
                text-align: center;
                color: $black;
                transform: translate(50%, -50%);
              }
            }
            &__title {
              display: block;
              padding-top: 10px;
              @media(min-width: 1025px) and (max-width: 1530px) {
                display: none;
              }
            }
            &:hover {
              color: $secondary-color;
              .icon::before {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}