.view-mobile-header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-top: 0 !important;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 11;
  &.is-fixed {
    position: fixed;
  }
  &.padding-top {
    top: 70px;
  }
  @media (min-width: 1025px) {
    display: none;
  }
  &__content {
    height: 70px;
    .box-logo {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 115px;
      padding: 0 20px;
      transition: $slow-transition;
      &.is-hide {
        max-width: 0;
        padding: 0;
        overflow: hidden;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    &__nav {
      flex-grow: 1;
      height: 100%;
      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        transition: $default-transition;
        &.button {
          &-wishlist,
          &-cart {
            @media (min-width: 320px) and (max-width: 599px) {;
              width: 0;
              overflow: hidden;
            }
            &.is-active {
              @media (min-width: 320px) and (max-width: 599px) {
                width: 100%;
              }
            }
          }
          &-search {
            &.is-active {
              .icon {
                &::before {
                  color: $secondary-color;
                }
              }
            }
          }
        }
        .icon {
          position: relative;
          font-size: 20px;
          &::before {
            color: #666;
            transition: $default-transition;
          }
          .count-products {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background: $third-color;
            font-size: 12px;
            line-height: 21px;
            font-weight: 500;
            letter-spacing: .3px;
            text-align: center;
            color: $black;
            transform: translate(50%, -50%);
          }
        }
        &:hover,
        &:focus {
          text-decoration: none;
        }
        &:hover {
          .icon {
            &::before {
              color: $secondary-color;
            }
          }
        }
      }
    }
    .button-nav {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 20px;
      &.is-active {
        .button-nav__bar {
          .line {
            top: 50%;
            opacity: 0;
            &:first-child {
              opacity: 0;
            }
            &:last-child {
              left: auto;
              right: 0;
              bottom: auto;
              opacity: 0;
            }
            &--center {
              background: transparent;
              opacity: 1;
              &::before,
              &::after {
                opacity: 1;
              }
              &::before {
                transform: rotate(-45deg);
              }
              &::after {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
      &__bar {
        position: relative;
        display: block;
        width: 25px;
        height: 21px;
        transition: $default-transition;
        .line {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          margin-top: -1.5px;
          background: #666;
          transition: $default-transition;
          &:first-child {
            top: 0;
            margin-top: 0;
          }
          &:last-child {
            top: auto;
            bottom: 0;
            margin-top: 0;
          }
          &--center {
            &::before,
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background: #666;
              opacity: 0;
              transition: $default-transition;
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }
  .dropdown-nav {
    position: absolute;
    top: 70px;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-y: auto;
    transition: $slow-transition;
    transform: translateY(-50%) scaleY(0);
    z-index: 11;
    &.is-active {
      transform: translateY(0) scaleY(1);
    }
    @media (min-width: 1025px) {
      display: none;
    }
    &.padding-top {
      height: calc(100vh - 140px);
    }
    &-content {
      position: relative;
    }
    &-list {
      margin: 0;
      padding: 0;
      &__item {
        list-style-type: none;
        border-bottom: 1px solid #bebebe;
        &:last-child {
          border-bottom: none;
        }
        &__link {
          position: relative;
          display: block;
          padding: 20px 40px 20px 20px;
          background: #e3e3e3;
          font-size: 18px;
          font-weight: 600;
          text-decoration: none;
          color: $black;
          transition: $default-transition;
          &::before {
            content: "\e90b";
            position: absolute;
            top: 50%;
            right: 20px;
            display: block;
            font-family: 'icomoon' !important;
            font-size: 10px;
            color: #999;
            transform: translateY(-50%);
            transition: $default-transition;
          }
          &:hover,
          &:focus {
            background: #fff;
            text-decoration: none;
            color: $black;
            &::before {
              color: $secondary-color;
            }
          }
        }
      }
    }
    .box-contacts {
      margin: 10px 15px 20px;
      .box-phone {
        transform: translateY(11px);
        &__line {
          display: block;
          flex-grow: 1;
          height: 1px;
          background: #999;
          &:first-child {
            max-width: 18px;
          }
        }
        &__link {
          display: block;
          padding: 0 10px;
          font-size: 24px;
          font-weight: 700;
          text-decoration: none;
          color: $black;
          transition: $default-transition;
          &:hover {
            color: $secondary-color;
          }
        }
      }
      .box-address {
        padding: 20px 30px;
        border: 1px solid #999;
        border-top-color: transparent;
        @media(min-width: 320px) and (max-width: 767px) {
          padding: 20px 14px;
        }
        i {
          margin-right: 5px;
        }
        p {
          padding: 8px 0;
          color: $black;
        }
      }
    }
    .box-stock {
      padding: 0 20px 20px;
      &__img {
        width: 100%;
        max-width: 80px;
        img {
          display: block;
          width: 100%;
        }
      }
      &__content {
        padding-left: 33px;
        &__title {
          padding-bottom: 15px;
          font-size: 16px;
          line-height: 1.2;
          font-weight: 900;
          text-transform: uppercase;
          color: $black;
        }
        &__button {
          display: inline-flex;
          align-items: center;
          height: 30px;
          padding: 0 18px;
          border: 1px solid $black;
          font-size: 14px;
          line-height: 14px;
          font-weight: 700;
          text-decoration: none;
          text-transform: uppercase;
          color: $black;
          transition: $default-transition;
          &:hover,
          &:focus {
            text-decoration: none;
            background: #000;
            color: #fff;
          }
        }
      }
    }
    .box-map {
      position: relative;
      display: block;
      overflow: hidden;
      width: 100%;
      @media (min-width: 768px) and (max-width: 1024px) {
        height: 25vw;
      }
      @media (min-width: 320px) and (max-width: 767px) {
        height: 50vw;
      }
      &:hover {
        .box-map__img {
          display: block;
          width: 100%;
          img {
            transform: scale(1.3);
          }
        }
      }
      &__img {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: $product-transition;
        }
      }
      &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &__img {
          display: block;
          width: 100%;
          max-width: 37px;
          img {
            display: block;
            width: 100%;
          }
        }
        &__text {
          padding-left: 20px;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          @media(min-width: 320px) and (max-width: 767px) {
            padding-left: 15px;
            font-size: 16px;
          }
        }
      }
    }
    .social-list {
      margin: 0;
      padding: 8px 0;
      background: #333;
      &__item {
        padding: 12px;
        list-style-type: none;
        &__link {
          display: block;
          width: 100%;
          max-width: 42px;
          transition: $default-transition;
          opacity: .3;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
.fixed-subs {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  z-index: 12;
  transition: $slow-transition;
  transform: translateX(50%) scaleX(0);
  @media (min-width: 1025px) {
    display: none;
  }
  &.padding-top {
    top: 140px;
    height: calc(100vh - 140px);
  }
  &.is-active {
    transform: translateX(0) scaleX(1);
    @media (min-width: 1025px) {
      display: none;
    }
  }
  .submenu-nav-list {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #e3e3e3;
    transition: $slow-transition;
    transform: translateX(50%) scaleX(0);
    &.padding-top {
      height: calc(100vh - 140px);
    }
    &.is-active {
      transform: translateX(0) scaleX(1);
    }
    &__item {
      &--nav {
        margin-bottom: 20px;
        border-bottom: 1px solid #bebebe;
        &__link {
          &--back {
            position: relative;
            display: block;
            padding: 20px 20px 20px 45px;
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: $black;
            transition: $default-transition;
            &::before {
              content: "\e90a";
              position: absolute;
              top: calc(50% + 1px);
              left: 20px;
              display: block;
              font-family: 'icomoon' !important;
              font-size: 10px;
              color: #999;
              transform: translateY(-50%);
              transition: $default-transition;
            }
            &:hover,
            &:focus {
              text-decoration: none;
              color: $secondary-color;
              &::before {
                color: $secondary-color;
              }
            }
          }
          &--all {
            display: block;
            padding: 20px;
            font-size: 14px;
            font-weight: 600;
            text-decoration: underline;
            color: $black;
            transition: $default-transition;
            &:hover,
            &:focus {
              color: $secondary-color;
            }
          }
        }
      }
      margin: 0;
      padding: 0 20px 25px;
      &__title {
        margin-bottom: 10px;
        padding: 10px 0;
        border-top: 1px solid #838383;
        border-bottom: 1px solid #838383;
        font-weight: 700;
        text-transform: uppercase;
        color: #838383;
      }
      &__link {
        display: block;
        padding: 5px 0;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        text-decoration: none;
        color: $black;
        &:hover,
        &:focus {
          text-decoration: underline;
          color: $black;
        }
      }
    }
  }
}