.view-header-info {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  transition: $default-transition;
  z-index: 10;
  @media(min-width: 1025px) and (max-width: 1670px) {
    height: 40px;
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    display: none;
  }
  &.is-hide {
    transform: translateY(-50%) scaleY(0);
  }
  &.not-share {
    top: 0;
  }
  &__row {
    flex-grow: 1;
    padding: 0 30px;
    @media(min-width: 1025px) and (max-width: 1670px) {
      padding: 0 15px;
      font-size: 11px;
    }
    &__column {
      &--left {

      }
      &--right {

      }
    }
  }
  &__phone {
    margin-right: 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    text-decoration: none;
    color: $black;
    letter-spacing: .45px;
    transition: $default-transition;
    @media(min-width: 1025px) and (max-width: 1670px) {
      font-size: 11px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      color: $secondary-color;
    }
  }
  &__address {
    font-weight: 600;
    transform: translateY(1px);
    @media(min-width: 1279px) and (max-width: 1330px) {
      font-size: 10px;
    }
    @media(min-width: 1025px) and (max-width: 1279px) {
      display: none;
    }
    .icon {
      display: inline-block;
      transform: translateY(1px);
    }
  }
  .info-list {
    &__item {
      display: block;
      padding: 0 10px;
      list-style-type: none;
      border-left: 1px solid $line-color;
      &:first-child {
        border-left: none;
      }
      &__link {
        position: relative;
        display: block;
        text-decoration: none;
        font-weight: 600;
        color: $black;
        letter-spacing: .7px;
        transition: $normal-transition;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 1px;
          background: $secondary-color;
          transform: translateY(5px) scaleX(0);
          transition: $normal-transition;
        }
        &:hover {
          color: $secondary-color;
          &::before {
            transform: translateY(5px) scaleX(1);
          }
        }
      }
    }
  }
}