<div class="col-xs-12 text-center" style="margin-top:-15px;"><?php echo $pagination; ?></div>
<div class="col-xs-12 text-center">
    <div style="padding-top: 10px; margin-bottom: 15px;">
        <?php echo $results; ?>
    </div>
</div>
<?php /*
<script>
	$(document).ready(function(){
		$('.pagin-container .pagination li a').css('cursor','pointer');
		$(document).on('click touch', '.pagination li a', function(e){
		  e.preventDefault();
		  // $('html, body').animate({
		  //     scrollTop: $("#content").offset().top
		  // }, 500);
		  var $this = $(this);
		  setTimeout( function() 
		  {
		  	var link = $this.attr('href');  
		  	if (link.indexOf("page=") == -1) {
		  	  refreshList();
		  	}  else {
		  	  refreshList(link.substring(link.indexOf("page=")+5));    
		  	}
		  }, 
		  500);
		  
		});
	});
</script>
*/ ?>
