<div class='filter'>
     <?php
     echo 'asdfasdfsdf';
     $i = 0;
     $bad_filters = array(6, 7, 8, 9, 11);
     foreach ($filter_groups as $filter_group) { 
         
         if (!in_array($filter_group['filter_group_id'], $bad_filters) && isset($filter_group['filter'])) { ?>
     <div class="filter-title ft<?php echo $filter_group['filter_group_id']; ?>">
                           <a href="#" style="pointer-events: none;"><span class="glyphicon glyphicon-triangle-right"> </span> <?php echo $filter_group['name']; ?></a>
    </div>
    <ul class="filter-list fl<?php echo $filter_group['filter_group_id']; ?>">
        <?php         
        foreach ($filter_group['filter'] as $filter) { 
        $i++;
        ?>
          <label>
                <?php if (in_array($filter['filter_id'], $filter_category)) { ?>
                                <li> <input class="filter-checkbox" id="ccb<?php echo $i; ?>" type="checkbox" name="filter[]" value="<?php echo $filter['filter_id']; ?>" checked="checked" /> 
                                <label for="ccb<?php echo $i; ?>">
                                <span class="input_title"><?php echo $filter['name']; ?></span></label></li>
                <?php } else { ?>
                <li><input class="filter-checkbox" id="ccb<?php echo $i; ?>" type="checkbox" name="filter[]" value="<?php echo $filter['filter_id']; ?>" />
                <label for="ccb<?php echo $i; ?>">
                <span class="input_title"><?php echo $filter['name']; ?></label></span>
                </li>
                <?php } ?>
              </label><br>
            <?php } ?>
                            </ul>
        <?php } 
        }?>
    <div class="filter-title ft12">
                           <a href="#" style="pointer-events: none;"><span class="glyphicon glyphicon-triangle-right"></span> <?php echo $filter_price ?></a>
    </div>
<?php

  if(isset($_GET['pmin'])){
    $pmin = $_GET['pmin'];
  }else{
    $pmin = 0;
  }

  if(isset($_GET['pmax'])){
    $pmax = $_GET['pmax'];
  }else{
    $pmax = 200000;
  }

?>
    <ul class="filter-list fl12">
                  <label style="color: #666;">
                        <li>                          
                         <?php echo $filter_from ?> <input name="pmin" id="pmin" value="<?php echo $pmin; ?>" type="text" size="5" style="    width: 59px;
    margin-left: 4px;
    margin-right: 5px;">
                         <?php echo $filter_to ?> <input name="pmax" id="pmax" value="<?php echo $pmax; ?>" type="text" size="5" style="
    width: 59px;
    margin-left: 4px;">
                        </li>
                      </label>
    <div id="slider-price"></div>
                      <br>
                                </ul>

                        
                    </div>    
                    