        <?php
            if($_SERVER['REQUEST_URI'] == '/contacts'){
        ?>
<?php  if($curLang == 'ru'){$fax = $fax[0];} else {$fax = $fax[1];} ?>        
        <?php } ?>        
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 contact-col">
                <ul id="shop_rek">
                    <li><?php  if($curLang == 'ru'){echo 'Часы работы: ' . htmlspecialchars_decode($open[0]);}else {echo 'Work time: '. htmlspecialchars_decode($open[1]);} ?></li>
                    <li style="padding-right: 22px"><?php  if($curLang == 'ru'){echo htmlspecialchars_decode($address[0]);}else {echo htmlspecialchars_decode($address[1]);} ?></li>
                    <li><a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></li>
                    <li><a href="tel:<?php echo str_replace(array("-", " "), "", $telephone); ?>"><?php echo $telephone; ?></a></li>
                </ul>
<!--                 <div class="addition-map">
                  <img class="img-responsive" src="/catalog/view/theme/loudlemon/images/layout/map.svg" alt="" />
                </div>     -->   
                <div class="row">
        
            </div>
        </div></div>
<div class="map-container">
<div style="
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fff;
"></div>
<!-- <iframe src="https://www.google.com/maps/d/embed?mid=1T0lnwtJjd_gs6762m7kjmpKSYT4" width="100%" height="800"></iframe> -->

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13841.751318648301!2d37.66316895254986!3d55.77906662014456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53581c5f7f0b9%3A0x553057137cbac745!2z0KHQv9Cw0YDRgtCw0LrQvtCy0YHQutC40Lkg0L_QtdGALiwgMtGBMSwg0JzQvtGB0LrQstCwLCAxMDUwNjY!5e0!3m2!1sru!2sru!4v1474037382486" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> -->
</div>

                   <div class="container">
                   <div class="rekv">
                       ИП Амелин Дмитрий Дмитриевич<br />
                       119634, г. Москва, Лукинская улица 11, 405<br />
                       ИНН 772985992305<br />
                       р/c: 40802810802730000907<br />
                       АО "Альфа-Банк"<br />
                       БИК 044525593<br />
                       к/сч.: 30101810200000000593<br />
                   </div>

<script>
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    console.log('mob');
    $('.map-container>div').after('<iframe src="https://www.google.com/maps/d/embed?mid=1U7JNqJHNB7orxGPJAaCjvINdF8o" width="100%" height="800"></iframe>');
  } else {
    $('.map-container>div').after('<iframe src="https://www.google.com/maps/d/embed?mid=1U7JNqJHNB7orxGPJAaCjvINdF8o" width="100%" height="800"></iframe>');
    console.log('desk');
  }
	$('.map-container')
		.click(function(){
				$(this).find('iframe').addClass('clicked')})
		.mouseleave(function(){
				$(this).find('iframe').removeClass('clicked')});
	$(document).ready(function(){
		var shop_rek = $('#shop_rek').html();
		$('#shop_rek').remove();
		$('#contact-page').prepend('<ul id="shop_rek">'+shop_rek+'</ul>');		
	});
</script>