<div id="deliveryImg">
<?php if ($banner) { ?>
	<img src="<?php echo $banner;?>" class="img-responsive visible-md-block visible-lg-block">
<?php } else { ?>
	<img src="catalog/view/theme/loudlemon/images/layout/banners/<?php echo str_replace('/','',$_SERVER['REQUEST_URI']);?>.jpg" class="img-responsive visible-md-block visible-lg-block">
<?php } ?>
</div>
