        <?php
            if($_SERVER['REQUEST_URI'] == '/shop/'){
        ?>
<!-- <?php  if($curLang == 'ru'){$fax = $fax[0];} else {$fax = $fax[1];} ?> -->
        <!-- <br>
        <br>
         <iframe width="100%" height="530" src="https://www.youtube.com/embed/<?php echo $fax;?>" frameborder="0" allowfullscreen></iframe>
        <br>
        <div class="row imgs">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><img src="/catalog/view/theme/loudlemon/images/layout/shop/1.jpg" class="img-responsive"></div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><img src="/catalog/view/theme/loudlemon/images/layout/shop/2.jpg" class="img-responsive"></div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><img src="/catalog/view/theme/loudlemon/images/layout/shop/3.jpg" class="img-responsive"></div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><img src="/catalog/view/theme/loudlemon/images/layout/shop/4.jpg" class="img-responsive"></div>
        </div> -->

<div style="text-align: center; margin-top: 50px; padding-bottom: 105px;">
    <span class="underConstruction">PAGE UNDER CONSTRUCTION</span>
</div>
<script> 
    jQuery(document).ready(function(){
        $('.container.main h1').css('display', 'none');
        $('.container.main #contact-page').css('display', 'none');
        $('.container.main .up').css('display', 'none');
    });
</script>


        <?php } ?>
        <!-- <br>
                <ul id="shop_rek" class="shoppage">
                    <li class="shopP"><?php  if($curLang == 'ru'){echo 'Часы работы: ';}else {echo 'Work time: ';} echo htmlspecialchars_decode($open);?></li>
                    <li class="shopP"><?php  if($curLang == 'ru'){echo htmlspecialchars_decode($address[0]);}else {echo htmlspecialchars_decode($address[1]);} ?></li>
                    <li class="shopP"><a href="mailto:<?php echo $email; ?>"><?php echo $email; ?></a></li>
                    <li class="shopP"><a href="phone:+7 800 420-00-22"><?php echo $telephone; ?></a></li>
                </ul>
            <img src="/catalog/view/theme/loudlemon/images/layout/map.png" class="img-responsive" id="map">
        </div> -->
