/*
INCLUDE ALL SASS FILES
 */

// CONFIGS
@import "config"; // include default and main variables

// PRELOADER
@import "_parts/preloader";

// SECTIONS
@import "_layouts/view-share"; // HEADER SHARE
@import "_layouts/view-header-info"; // HEADER INFO
@import "_layouts/view-header"; // HEADER
@import "_layouts/view-mobile-header"; // MOBILE HEADER
@import "_layouts/view-section"; // CONTENT
@import "_layouts/view-footer"; // FOOTER
@import "_layouts/products-list"; // PRODUCTS-LIST
@import "_layouts/box-category"; // BOX-CATEGORY
@import "_layouts/box-search"; // BOX-SEARCH

// PARTS
//@import "_parts/breadcrumbs"; // breadcrumbs
@import "_parts/buttons"; // buttons
//@import "_parts/pagination"; // pagination

body {
  &:last-child:not(:root:root) {
    .button {
      .text-label {
        transform: translateY(2px);
      }
    }
    .submenu-nav-list {
      padding-bottom: 78px;
    }
    .view-news__popup__content {
      .box-new {
        &__desc {
          @media (min-width: 320px) and (max-width: 1024px) {
            padding: 15px 15px 135px;
          }
          &__button {
            @media (min-width: 320px) and (max-width: 1024px) {
              bottom: 68px;
            }
          }
        }
      }
    }
    .view-mobile-header .dropdown-nav {
      .social-list {
        align-items: flex-start;
        padding-bottom: 78px;
      }
    }
  }
}

#scene {
  pointer-events: none !important;
  &::before {
    display: none !important;
  }
}

@media (max-width: 991px) {
  header + * {
    margin-top: 0 !important;
  }
}

.container-main-wrapper {
  z-index: auto !important;
}

.container {
  flex-grow: 1;
}

.stripline {
  width: 100%;
}

.row {
  width: 100%;
}
