/*
BUTTONS STYLES
 */

.button {
  @extend %buttonsGeometry;
  .text-label {
    position: relative;
    display: block;
    z-index: 2;
  }
  .text-hover {
    display: block;
    transform: translateY($button-height) scaleY(0);
    transition: $default-transition;
    z-index: 2;
  }
  &:hover {
    color: $black;
    .text-label {
      transform: translateY(-$button-height) scaleY(0);
    }
    .text-hover {
      transform: translateY(-$button-height) scaleY(1);
    }
  }
  &--dbl-border {
    overflow: visible;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border: 1px solid #fff;
      z-index: 1;
      transition: $default-transition;
    }
    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      display: block;
      width: 100%;
      height: calc(100% + 4px);
      background: #fff;
      z-index: 1;
      opacity: 0;
      transition: $default-transition;
    }
    &:hover {
      .text-label {
        transform: none;
      }
      &::after {
        opacity: 1;
      }
    }
    &--yellow {
      border-color: $third-color;
      .text-label {
        color: $black;
      }
      &::before {
        border-color: $third-color;
      }
      &::after {
        background: $third-color;
      }
      &:hover {
        border-color: $third-color;
      }
    }
    &--orange {
      border-color: $secondary-color;
      .text-label {
        color: $secondary-color;
      }
      &::before {
        border-color: $secondary-color;
      }
      &::after {
        background: $secondary-color;
      }
      &:hover {
        color: #fff;
        border-color: $secondary-color;
        .text-label {
          color: #fff;
        }
      }
    }
  }
}